<app-feature-background />
<div class="container">
  <div class="row">
    <div class="col-12">
      <app-feature-header
        [title]="'customer__title' | translate"
        [help]="'customer__help' | translate"
        [isBackAvailable]="true"
      ></app-feature-header>
      <div class="dashboard-card">
        <app-feature-search
          [addButton]="true"
          route="customer"
          [page]="page"
          [pageSize]="pageSize"
          [enable]="true"
          (onChange)="onUpdateData($event)"
          (onLoadingChange)="onUpdateLoadingStatus($event)"
          (updatePage)="onUpdatePage()"
          (onNewQuery)="page = 1"
        ></app-feature-search>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">{{ "customer__name" | translate }}</th>
                <th class="text-center">
                  {{ "customer__address" | translate }}
                </th>
                <th class="text-center">{{ "customer__npwp" | translate }}</th>
              </tr>
            </thead>
            <tbody *ngIf="!isLoading && dataSource.length > 0">
              <tr *ngFor="let item of dataSource" [matMenuTriggerFor]="menu">
                <td class="text-center">{{ item.name }}</td>
                <td class="text-center">
                  <div class="text-clamp-2">{{ item.address }}</div>
                </td>
                <td class="text-center">
                  <span *ngIf="item.npwp != null">{{
                    item.npwp | mask : "00.000.000.0-000.000"
                  }}</span>
                  <span *ngIf="item.npwp == null">N/A</span>
                </td>

                <mat-menu #menu="matMenu">
                  <button (click)="openDialog('edit', item.id!)" mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>{{ "customer__edit" | translate }}</span>
                  </button>
                  <button
                    [class.delete-button]="item.can_delete"
                    [disabled]="!item.can_delete"
                    (click)="openDialog('delete', item.id!)"
                    mat-menu-item
                  >
                    <mat-icon>delete</mat-icon>
                    <span>{{ "customer__delete" | translate }}</span>
                  </button>
                </mat-menu>
              </tr>
            </tbody>
            <tbody *ngIf="!isLoading && dataSource.length == 0">
              <tr>
                <td colspan="3">
                  <empty-table />
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="isLoading">
              <tr>
                <td colspan="3" class="text-center">
                  <mat-spinner id="spinner"></mat-spinner>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <mat-paginator
          [disabled]="isLoading"
          class="paginator"
          [pageIndex]="page - 1"
          [length]="dataCount"
          [pageSize]="10"
          (page)="changePage($event)"
          aria-label="Select page"
          [pageSize]="pageSize"
          [pageSizeOptions]="[10, 25, 50]"
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
