<h2 mat-dialog-title>
  {{ "expense__update__title" | translate }}
</h2>

<form [formGroup]="expenseFormGroup" (ngSubmit)="submitForm()">
  <mat-dialog-content>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ "expense__update__date" | translate }}</mat-label>
      <input matInput formControlName="date" [matDatepicker]="date" />
      <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
      <mat-datepicker #date></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ "expense__update__value" | translate }}</mat-label>
      <input
        matInput
        formControlName="value"
        type="text"
        mask="separator"
        thousandSeparator=" "
      />
      <div matTextPrefix>Rp.&nbsp;</div>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ "expense__update__description" | translate }}</mat-label>
      <textarea matInput formControlName="description" type="text"></textarea>
    </mat-form-field>

    <app-autocomplete-search
      routeName="company"
      [selected]="expenseFormGroup.controls['company'].valid"
      [label]="'expense__update__company' | translate"
      placeholder="Ex. Toko Profil Indah"
      (onSelectData)="onSelectCompany($event)"
      (onUnselectData)="onUnselectCompany()"
    ></app-autocomplete-search>

    <app-autocomplete-search
      routeName="expense-type"
      [selected]="expenseFormGroup.controls['expense_type'].valid"
      [label]="'expense__update__type' | translate"
      placeholder="Ex. Toko Profil Indah"
      (onSelectData)="onSelectExpenseType($event)"
      (onUnselectData)="onUnselectExpenseType()"
    ></app-autocomplete-search>

    <button
      mat-stroked-button
      color="warn"
      style="letter-spacing: 0"
      type="button"
      (click)="delete()"
    >
      <mat-icon>warning</mat-icon>
      <span>{{ "expense__update__delete" | translate }}</span>
    </button>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button
      type="button"
      class="next-button"
      type="submit"
      [disabled]="isSubmitting || !expenseFormGroup.valid"
    >
      {{ "expense__update__submit" | translate }}
    </button>
  </mat-dialog-actions>
</form>
