<app-dialog-shell
  icon="ph ph-receipt-x"
  [heading]="'expense__update__title' | translate"
  [lede]="'expense__update__lede' | translate"
  [submitLabel]="'general__submit' | translate"
  [submitting]="isSubmitting"
  [canSubmit]="!isLoading && expenseFormGroup.valid"
  (submitted)="submitForm()"
  (close)="closeDialog()"
>
  <div [formGroup]="expenseFormGroup" *ngIf="!isLoading">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ "expense__create__date" | translate }}</mat-label>
      <input
        matInput
        [matDatepicker]="expPicker"
        formControlName="date"
        (click)="expPicker.open()"
      />
      <button
        type="button"
        matSuffix
        class="buka-kalender"
        (click)="expPicker.open()"
        [attr.aria-label]="'general__pick-date' | translate"
      >
        <i class="ph ph-calendar-blank" aria-hidden="true"></i>
      </button>
      <mat-datepicker #expPicker></mat-datepicker>
    </mat-form-field>

    <app-combo-search
      [label]="'expense__create__type' | translate"
      inputId="exp-up-type"
      route="expense-type"
      [initial]="expenseFormGroup.get('expense_type_name')?.value"
      [disabled]="isSubmitting"
      (pick)="onSelectExpenseType($event)"
      (clear)="onUnselectExpenseType()"
    />

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ "expense__create__description" | translate }}</mat-label>
      <textarea matInput rows="2" formControlName="description"></textarea>
    </mat-form-field>

    <app-combo-search
      [label]="'expense__create__company' | translate"
      inputId="exp-up-company"
      route="company"
      [initial]="expenseFormGroup.get('company_name')?.value"
      [disabled]="isSubmitting"
      (pick)="onSelectCompany($event)"
      (clear)="onUnselectCompany()"
    />

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ "expense__create__value" | translate }}</mat-label>
      <input
        matInput
        type="text"
        class="input--kanan"
        mask="separator.2"
        thousandSeparator="."
        decimalMarker=","
        formControlName="value"
        autocomplete="off"
      />
      <span matTextPrefix>Rp&nbsp;</span>
    </mat-form-field>

    <!-- Penghapusan hanya untuk administrator. -->
    <button
      type="button"
      class="btn btn--bahaya btn--blok"
      [disabled]="!isAdministrator"
      (click)="delete()"
    >
      <i class="ph ph-trash" aria-hidden="true"></i>
      {{ "expense__update__delete" | translate }}
    </button>
  </div>
</app-dialog-shell>
