<div class="view-panel-wrapper">
  <div class="view-panel-backdrop" (click)="close()"></div>
  <div class="view-panel" [@panelAnimation]="panelState">
    <div class="row-action">
      <h2 mat-dialog-title>View Expense Type</h2>
      <div class="d-flex">
        <button mat-icon-button (click)="enlarge()">
          <mat-icon *ngIf="panelState != 'enlarged'">open_in_full</mat-icon>
          <mat-icon *ngIf="panelState == 'enlarged'">close_fullscreen</mat-icon>
        </button>
        <button mat-icon-button (click)="close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div class="view-panel-content" id="content">
      <mat-spinner id="spinner" *ngIf="isLoading" />

      <div *ngIf="!isLoading && dataSource.length == 0">
        <p>Sorry, no data found.</p>
      </div>

      <div
        class="expense-type__wrapper"
        *ngIf="!isLoading && dataSource.length > 0"
      >
        <div
          class="expense-type__item"
          *ngFor="let item of dataSource"
          (click)="openUpdateDialog(item.id)"
        >
          <svg
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            width="24px"
            height="24px"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                opacity="0.4"
                d="M22 12V17C22 20 20 22 17 22H7C4 22 2 20 2 17V12C2 9.28 3.64 7.38 6.19 7.06C6.45 7.02 6.72 7 7 7H17C17.26 7 17.51 7.00999 17.75 7.04999C20.33 7.34999 22 9.26 22 12Z"
                fill="#D4E2FE"
              ></path>
              <path
                d="M17.7495 7.05C17.5095 7.01 17.2595 7.00001 16.9995 7.00001H6.99945C6.71945 7.00001 6.44945 7.02001 6.18945 7.06001C6.32945 6.78001 6.52945 6.52001 6.76945 6.28001L10.0195 3.02C11.3895 1.66 13.6095 1.66 14.9795 3.02L16.7295 4.79002C17.3695 5.42002 17.7095 6.22 17.7495 7.05Z"
                fill="#D4E2FE"
              ></path>
              <path
                d="M22 12.5H19C17.9 12.5 17 13.4 17 14.5C17 15.6 17.9 16.5 19 16.5H22"
                fill="#D4E2FE"
              ></path>
            </g>
          </svg>
          <div class="expense-type__text">
            <div class="expense-type__title">{{ item.name }}</div>
            <div class="expense-type__description">{{ item.description }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="shortcuts">
      <div class="shortcut-key">
        <span class="shortcut-key-label">ESC</span>
        <span class="shortcut-key-function">Back</span>
      </div>
      <div class="shortcut-key">
        <span class="shortcut-key-label">F</span>
        <span class="shortcut-key-function">Toggle full screen</span>
      </div>
    </div>
    <div class="actions">
      <button class="action-button mx-1" (click)="addExpenseType()">Add</button>
    </div>
  </div>
</div>
