<app-transaction-header
  [title]="'purchase-price__title' | translate"
  [backRoute]="backRoute"
/>

<div class="dashboard-card">
  <app-feature-search
    [addButton]="false"
    route="product-price-purchase"
    [page]="page"
    [enable]="true"
    (onChange)="onUpdateData($event)"
    (onLoadingChange)="onUpdateLoadingStatus($event)"
    (updatePage)="onUpdatePage()"
    (onNewQuery)="page = 1"
  ></app-feature-search>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th style="width: 150px">
            {{ "purchase-price__reference" | translate }}
          </th>
          <th style="width: 250px">
            {{ "purchase-price__description" | translate }}
          </th>
          <th style="width: 150px" class="text-center">
            {{ "purchase-price__price" | translate }}
          </th>
          <th style="width: 150px" class="text-center">
            {{ "purchase-price__discount" | translate }}
          </th>
        </tr>
      </thead>
      <tbody *ngIf="isLoading">
        <tr>
          <td colspan="3">
            <empty-table />
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="!isLoading && dataSource.length > 0">
        <tr
          *ngFor="let item of dataSource"
          (click)="openUpdatePriceDialog(item.id)"
        >
          <td>{{ item.reference }}</td>
          <td>
            <span class="text-clamp-1">
              {{ item.description }}
            </span>
          </td>
          <td class="text-center">
            <span
              *ngIf="item.count > 0"
              [matBadge]="item.count"
              matBadgeOverlap="false"
              matBadgeSize="small"
            >
              {{ item.price | number : "0.2-2" }}
            </span>

            <span *ngIf="item.count == 0">
              {{ item.price | number : "0.2-2" }}
            </span>
          </td>
          <td class="text-center">{{ item.discount | number : "0.2-2" }}</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isLoading && dataSource.length == 0">
        <tr>
          <td colspan="3">
            <empty-table />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <mat-paginator
    class="paginator"
    [pageIndex]="page - 1"
    [length]="dataCount"
    [pageSize]="20"
    (page)="changePage($event)"
    aria-label="Select page"
    hidePageSize="true"
    *ngIf="!isLoading"
  >
  </mat-paginator>
</div>
