<div class="d-flex mt-4">
  <div class="d-flex position-relative">
    <app-vertical-divider></app-vertical-divider>
    <app-box-stepper step="1" [valid]="metaFormGroup.valid"></app-box-stepper>
  </div>
  <div class="dashboard-card px-3 py-4 mt-0 w-100 ms-5 mb-4">
    <h5>{{ "deposit__confirm__general-data" | translate }}</h5>
    <form [formGroup]="metaFormGroup">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ "deposit__confirm__date" | translate }}</mat-label>
        <input
          matInput
          placeholder="Ex. 12/30/2023"
          [matDatepicker]="picker"
          formControlName="date"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ "deposit__confirm__name" | translate }}</mat-label>
        <input
          matInput
          placeholder="Ex. DPS-2024-XXXXXX"
          formControlName="name"
          readonly
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ "deposit__confirm__customer" | translate }}</mat-label>
        <input
          matInput
          placeholder="Ex. John Doe"
          formControlName="customer"
          readonly
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ "deposit__confirm__salesman" | translate }}</mat-label>

        <input
          matInput
          placeholder="Ex. John Doe"
          formControlName="sales"
          readonly
        />
      </mat-form-field>
    </form>
  </div>
</div>
<div class="d-flex">
  <div class="d-flex position-relative">
    <app-vertical-divider></app-vertical-divider>
    <app-box-stepper step="2" [valid]="billFormGroup.valid"></app-box-stepper>
  </div>
  <div class="dashboard-card px-3 py-4 mt-0 w-100 ms-5 mb-4 flex-grow-1">
    <div class="table-responsive">
      <form [formGroup]="billFormGroup">
        <table class="table mb-2">
          <thead>
            <tr>
              <th style="width: 300px">
                {{ "deposit__confirm__table__item" | translate }}
              </th>
              <th style="width: 150px">
                {{ "deposit__confirm__table__price" | translate }}
              </th>
              <th style="width: 150px">
                {{ "deposit__confirm__table__discount" | translate }}
              </th>
              <th style="width: 200px">
                {{ "deposit__confirm__table__quantity" | translate }}
              </th>
              <th style="width: 200px">
                {{ "deposit__confirm__table__total" | translate }}
              </th>
            </tr>
          </thead>
          <tbody *ngIf="t.controls.length > 0">
            <tr
              *ngFor="let itemForm of t.controls; index as i"
              [formGroup]="getFormGroupAt(i)"
            >
              <td>
                <p>{{ itemForm.get("reference")?.value }}</p>
                <p class="text-clamp-2">
                  {{ itemForm.get("description")?.value }}
                </p>
              </td>
              <td>{{ itemForm.get("price")?.value | number : "0.2-2" }}</td>
              <td>{{ itemForm.get("discount")?.value | number : "0.2-2" }}</td>
              <td>
                {{ itemForm.get("quantity")?.value | number : "0.0-2" }}
                {{ itemForm.get("unit")?.value }}
              </td>
              <td>
                {{
                  itemForm.get("quantity")?.value *
                    (itemForm.get("price")?.value -
                      itemForm.get("discount")?.value) | number : "0.2-2"
                }}
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="t.controls.length == 0">
            <tr>
              <td colspan="5">
                <empty-table />
              </td>
            </tr>
          </tbody>
        </table>

        <p>{{ "deposit__confirm__information" | translate }}</p>
      </form>
    </div>
  </div>
</div>
<div class="d-flex">
  <div class="d-flex position-relative">
    <app-vertical-divider></app-vertical-divider>
    <app-box-stepper step="3" [valid]="valueFormGroup.valid"></app-box-stepper>
  </div>
  <div class="dashboard-card px-3 py-4 mt-0 w-100 ms-5 mb-4">
    <h5>{{ "sales-invoice__create__bill-data" | translate }}</h5>
    <form [formGroup]="valueFormGroup">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>{{ "sales-invoice__create__total" | translate }}</mat-label>
        <input
          readonly
          matInput
          mask="separator"
          thousandSeparator=" "
          formControlName="before"
          placeholder="Ex. 8 000 000"
        />
        <div matTextPrefix>Rp.&nbsp;</div>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>{{
          "sales-invoice__create__discount" | translate
        }}</mat-label>
        <input
          matInput
          type="text"
          mask="separator"
          thousandSeparator=" "
          formControlName="discount"
          autocomplete="off"
          placeholder="Ex. 800"
        />
        <div matTextPrefix>Rp.&nbsp;</div>
      </mat-form-field>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>{{
          "sales-invoice__create__service" | translate
        }}</mat-label>
        <input
          matInput
          type="text"
          mask="separator"
          thousandSeparator=" "
          formControlName="service"
          autocomplete="off"
          placeholder="Ex. 80 000"
        />
        <div matTextPrefix>Rp.&nbsp;</div>
      </mat-form-field>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>{{
          "sales-invoice__create__delivery" | translate
        }}</mat-label>
        <input
          matInput
          type="text"
          mask="separator"
          thousandSeparator=" "
          formControlName="delivery"
          autocomplete="off"
          placeholder="Ex. 50 000"
        />
        <div matTextPrefix>Rp.&nbsp;</div>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>{{
          "sales-invoice__create__subtotal" | translate
        }}</mat-label>
        <input
          readonly
          matInput
          type="text"
          mask="separator"
          thousandSeparator=" "
          formControlName="total"
          autocomplete="off"
          placeholder="Ex. 800"
        />
        <div matTextPrefix>Rp.&nbsp;</div>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>{{ "sales-invoice__create__total" | translate }}</mat-label>
        <input
          readonly
          matInput
          type="text"
          mask="separator"
          thousandSeparator=" "
          [value]="
            valueFormGroup.controls['total'].value -
              valueFormGroup.controls['discount'].value +
              valueFormGroup.controls['delivery'].value +
              valueFormGroup.controls['service'].value | number : '0.0-2'
          "
          autocomplete="off"
          placeholder="Ex. 800"
        />
        <div matTextPrefix>Rp.&nbsp;</div>
      </mat-form-field>
      <div *ngIf="valueFormGroup.errors?.['sales']">
        <span>{{ "sales-deposit__total__negative" | translate }}</span>
      </div>
    </form>
  </div>
</div>
<div class="d-flex">
  <div class="d-flex position-relative">
    <app-vertical-divider></app-vertical-divider>
    <app-box-stepper step="4" [valid]="billFormGroup.valid"></app-box-stepper>
  </div>
  <div class="dashboard-card px-3 py-4 mt-0 w-100 ms-5 mb-4">
    <form [formGroup]="valueFormGroup">
      <h5>{{ "deposit__confirm__existing-payment-data" | translate }}</h5>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>{{ "deposit__payment__date" | translate }}</th>
              <th>{{ "deposit__payment__payment-method" | translate }}</th>
              <th>{{ "deposit__payment__amount" | translate }}</th>
            </tr>
          </thead>
          <tbody *ngIf="sales_deposit_payment.controls.length == 0">
            <tr>
              <td colspan="3">
                <empty-table />
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="sales_deposit_payment.controls.length > 0">
            <tr
              *ngFor="let item of sales_deposit_payment.controls; let i = index"
              [formGroup]="getFormGroupAtNewPayment(i)"
            >
              <td>
                {{ item.get("date")?.value | date : "dd MMMM YYYY" }}
              </td>
              <td>{{ item.get("payment_method_name")?.value }}</td>
              <td>{{ item.get("value")?.value | number : "0.0-2" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>{{ "deposit__payment__info" | translate }}</p>
    </form>
  </div>
</div>
<div class="d-flex">
  <div class="d-flex position-relative">
    <app-box-stepper
      step="5"
      [valid]="isPaymentFormGroupValid"
    ></app-box-stepper>
  </div>
  <div class="dashboard-card px-3 py-4 mt-0 w-100 ms-5 mb-4">
    <h5>{{ "sales-invoice__create__payment-data" | translate }}</h5>
    <form [formGroup]="paymentsFormGroup">
      <div class="row">
        <div class="col-12">
          <button
            mat-stroked-button
            color="primary"
            type="button"
            style="letter-spacing: 0"
            (click)="openPaymentSelector()"
          >
            {{ "sales-invoice__create__add-payment-method" | translate }}
          </button>

          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>{{ "deposit__payment__date" | translate }}</th>
                  <th>{{ "deposit__payment__payment-method" | translate }}</th>
                  <th>{{ "deposit__payment__amount" | translate }}</th>
                  <th>{{ "deposit__payment__action" | translate }}</th>
                </tr>
              </thead>
              <tbody *ngIf="sales_invoice_payment.controls.length == 0">
                <tr>
                  <td colspan="3">
                    <empty-table />
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="sales_invoice_payment.controls.length > 0">
                <tr
                  (click)="updatePaymentMethod(i)"
                  *ngFor="
                    let item of sales_invoice_payment.controls;
                    let i = index
                  "
                  [formGroup]="getFormGroupAtNewPayment(i)"
                >
                  <td>
                    {{ item.get("date")?.value | date : "dd MMMM YYYY" }}
                  </td>
                  <td>{{ item.get("name")?.value }}</td>
                  <td>{{ item.get("value")?.value | number : "0.0-2" }}</td>
                  <td>
                    <button
                      mat-icon-button
                      type="button"
                      (click)="deletePayment(i)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </form>
    <button
      [disabled]="!isFormValid || isSubmitting"
      class="action-button"
      (click)="submitForm()"
    >
      {{ "deposit__view__submit" | translate }}
    </button>
  </div>
</div>
