<div class="d-flex mt-4">
  <div class="d-flex position-relative">
    <app-vertical-divider></app-vertical-divider>
    <app-box-stepper step="1" [valid]="metaFormGroup.valid"></app-box-stepper>
  </div>
  <div class="dashboard-card px-3 py-4 mt-0 w-100 ms-5 mb-4">
    <h5>{{ "sales-invoice__create__general-data" | translate }}</h5>
    <form [formGroup]="metaFormGroup">
      <app-autocomplete-search
        [label]="'sales-invoice__create__customer' | translate"
        placeholder="Ex. Bing Jaya"
        routeName="customer"
        defaultValue="Retail customer"
        [selected]="metaFormGroup.controls['customer_id'].valid"
        (onSelectData)="onSelectCustomer($event)"
        (onUnselectData)="onUnselectCustomer()"
      ></app-autocomplete-search>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ "sales-invoice__create__date" | translate }}</mat-label>
        <input
          matInput
          placeholder="Ex. 12/30/2023"
          [matDatepicker]="picker"
          formControlName="date"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- Select either sales / deposit -->
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ "sales-invoice__create__type" | translate }}</mat-label>
        <mat-select formControlName="type">
          <mat-option value="sales">{{
            "sales-invoice__create__type__sales" | translate
          }}</mat-option>
          <mat-option value="deposit">{{
            "sales-invoice__create__type__deposit" | translate
          }}</mat-option>
          <mat-option value="deposit-internal">{{
            "sales-invoice__create__type__internal-deposit" | translate
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Select salesman -->

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{
          "sales-invoice__create__salesman" | translate
        }}</mat-label>

        <input
          matInput
          placeholder="Ex. John Doe"
          formControlName="sales"
          [matAutocomplete]="auto"
          #trigger="matAutocompleteTrigger"
          #input
          oninput="this.value = this.value.toUpperCase()"
        />

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option [value]="'INTERNAL'">INTERNAL</mat-option>
          <mat-option *ngFor="let salesman of salesmen" [value]="salesman">
            {{ salesman }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <p (click)="viewSalesman()" style="text-align: right; cursor: pointer">
        {{ "sales-invoice__create__view-salesman" | translate }}
      </p>
    </form>
  </div>
</div>
<div class="d-flex">
  <div class="d-flex position-relative">
    <app-vertical-divider></app-vertical-divider>
    <app-box-stepper step="2" [valid]="billFormGroup.valid"></app-box-stepper>
  </div>
  <div class="dashboard-card px-3 py-4 mt-0 w-100 ms-5 mb-4 flex-grow-1">
    <button class="add-button" [matMenuTriggerFor]="menu">
      {{ "sales-invoice__create__add-item" | translate }}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openItemSelector()">
        <mat-icon>list</mat-icon>
        <span>{{ "sales-invoice__create__add-product" | translate }}</span>
      </button>
      <button mat-menu-item (click)="openPackageSelector()">
        <mat-icon>inventory_2</mat-icon>
        <span>{{ "sales-invoice__create__add-package" | translate }}</span>
      </button>
    </mat-menu>

    <div class="table-responsive">
      <form [formGroup]="billFormGroup">
        <table class="table mb-2">
          <thead>
            <tr>
              <th style="width: 300px">
                {{ "sales-invoice__create__item" | translate }}
              </th>
              <th style="width: 150px">
                {{ "sales-invoice__create__price" | translate }}
              </th>
              <th style="width: 150px">
                {{ "sales-invoice__create__discount" | translate }}
              </th>
              <th style="width: 200px">
                {{ "sales-invoice__create__quantity" | translate }}
              </th>
              <th style="width: 200px">
                {{ "sales-invoice__create__total" | translate }}
              </th>
              <th style="width: 150px">
                {{ "sales-invoice__create__action" | translate }}
              </th>
            </tr>
          </thead>
          <tbody *ngIf="t.controls.length > 0">
            <tr
              *ngFor="let itemForm of t.controls; index as i"
              [formGroup]="getFormGroupAt(i)"
            >
              <ng-container
                [ngSwitch]="!itemForm.get('package_code_id') ? 1 : 2"
              >
                <ng-container *ngSwitchCase="1">
                  <td>
                    <p>{{ itemForm.get("reference")?.value }}</p>
                    <div class="text-clamp-2">
                      {{ itemForm.get("description")?.value }}
                    </div>
                    <p>
                      {{
                        "sales-invoice__create__current-stock" | translate
                      }}:&nbsp;
                      {{ itemForm.get("stock")?.value | number : "0.0-2" }}
                      {{ itemForm.get("default_unit")?.value }}
                    </p>
                  </td>
                  <td class="text-center" (click)="updatePrice(i)">
                    {{ itemForm.get("price")?.value | number : "0.2-2" }}
                  </td>
                  <td class="text-center" (click)="updatePrice(i)">
                    {{ itemForm.get("discount")?.value | number : "0.2-2" }}
                  </td>
                  <td>
                    <mat-form-field appearance="outline">
                      <mat-label>{{
                        "sales-invoice__create__quantity" | translate
                      }}</mat-label>
                      <input
                        matInput
                        type="text"
                        class="text-center"
                        mask="separator"
                        thousandSeparator=" "
                        formControlName="quantity"
                        autocomplete="off"
                        placeholder="Ex. 20"
                        focusedInput
                      />
                      <mat-hint
                        *ngIf="itemForm.get('conversion')?.value == 1"
                        >{{ itemForm.get("unit")?.value }}</mat-hint
                      >
                      <mat-hint *ngIf="itemForm.get('conversion')?.value != 1"
                        >{{ itemForm.get("unit")?.value }} -
                        {{
                          itemForm.get("quantity")?.value *
                            itemForm.get("conversion")?.value | number : "0.0-2"
                        }}
                        {{ itemForm.get("default_unit")?.value }}</mat-hint
                      >
                    </mat-form-field>
                  </td>
                  <td class="text-center">
                    {{
                      itemForm.get("quantity")?.value *
                        (itemForm.get("price")?.value -
                          itemForm.get("discount")?.value) | number : "0.2-2"
                    }}
                  </td>
                  <td>
                    <div class="sales-invoice__action-wrapper">
                      <button mat-icon-button (click)="deleteItem(i)">
                        <mat-icon>delete</mat-icon>
                      </button>
                      <button
                        class="sales-invoice__save-indicator"
                        [matTooltip]="
                          (itemForm.get('save_price')?.value
                            ? 'sales-invoice__price__saved'
                            : 'sales-invoice__price__discarded'
                          ) | translate
                        "
                      >
                        <svg
                          viewBox="0 0 24 24"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          *ngIf="itemForm.get('save_price')?.value"
                        >
                          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                          <g
                            id="SVGRepo_tracerCarrier"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          ></g>
                          <g id="SVGRepo_iconCarrier">
                            <path
                              opacity="0.4"
                              d="M12.89 5.87988H5.10999C3.39999 5.87988 2 7.27987 2 8.98987V20.3499C2 21.7999 3.04 22.4199 4.31 21.7099L8.23999 19.5199C8.65999 19.2899 9.34 19.2899 9.75 19.5199L13.68 21.7099C14.95 22.4199 15.99 21.7999 15.99 20.3499V8.98987C16 7.27987 14.6 5.87988 12.89 5.87988Z"
                              fill="#5985e1"
                            ></path>
                            <path
                              d="M22 5.10999V16.47C22 17.92 20.96 18.53 19.69 17.83L16 15.77V8.98999C16 7.27999 14.6 5.88 12.89 5.88H8V5.10999C8 3.39999 9.39999 2 11.11 2H18.89C20.6 2 22 3.39999 22 5.10999Z"
                              fill="#5985e1"
                            ></path>
                          </g>
                        </svg>
                        <svg
                          *ngIf="!itemForm.get('save_price')?.value"
                          viewBox="0 0 24 24"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                        >
                          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                          <g
                            id="SVGRepo_tracerCarrier"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          ></g>
                          <g id="SVGRepo_iconCarrier">
                            <path
                              opacity="0.4"
                              d="M12.89 5.87988H5.10999C3.39999 5.87988 2 7.27987 2 8.98987V20.3499C2 21.7999 3.04 22.4199 4.31 21.7099L8.23999 19.5199C8.65999 19.2899 9.34 19.2899 9.75 19.5199L13.68 21.7099C14.95 22.4199 15.99 21.7999 15.99 20.3499V8.98987C16 7.27987 14.6 5.87988 12.89 5.87988Z"
                              fill="#c7c7c7"
                            ></path>
                            <path
                              d="M22 5.10999V16.47C22 17.92 20.96 18.53 19.69 17.83L16 15.77V8.98999C16 7.27999 14.6 5.88 12.89 5.88H8V5.10999C8 3.39999 9.39999 2 11.11 2H18.89C20.6 2 22 3.39999 22 5.10999Z"
                              fill="#c7c7c7"
                            ></path>
                          </g>
                        </svg>
                      </button>
                    </div>
                  </td>
                </ng-container>
                <ng-container *ngSwitchCase="2">
                  <td>
                    <p>{{ itemForm.get("name")?.value }}</p>
                    <div class="text-clamp-2 mb-2">
                      {{ itemForm.get("description")?.value }}
                    </div>
                    <ul>
                      <li
                        *ngFor="
                          let content of itemForm.get('package_content')?.value
                        "
                      >
                        <p>
                          {{ content.reference }} ({{
                            content.quantity | number : "0.0-2"
                          }}
                          {{
                            content.item_unit == null
                              ? content.unit
                              : content.item_unit.unit
                          }})
                        </p>
                        <p class="text-clamp-2">{{ content.description }}</p>
                      </li>
                    </ul>
                  </td>
                  <td>
                    <mat-form-field appearance="outline">
                      <mat-label>{{
                        "sales-invoice__create__price" | translate
                      }}</mat-label>
                      <input
                        matInput
                        type="text"
                        class="text-center"
                        mask="separator"
                        thousandSeparator=" "
                        formControlName="price"
                        autocomplete="off"
                        placeholder="Ex. 8 000"
                      />
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field appearance="outline">
                      <mat-label>{{
                        "sales-invoice__create__quantity" | translate
                      }}</mat-label>
                      <input
                        matInput
                        type="text"
                        class="text-center"
                        mask="separator"
                        thousandSeparator=" "
                        formControlName="quantity"
                        autocomplete="off"
                        placeholder="Ex. 20"
                        focusedInput
                      />
                    </mat-form-field>
                  </td>
                  <td>
                    Rp.&nbsp;{{
                      itemForm.get("quantity")?.value *
                        itemForm.get("price")?.value | number : "0.2-2"
                    }}
                  </td>
                  <td>
                    <button mat-icon-button (click)="deleteItem(i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                    <mat-slide-toggle
                      [disabled]="
                        itemForm.get('initial_price')?.value ==
                        itemForm.get('price')?.value
                      "
                      color="primary"
                      formControlName="save_price"
                    ></mat-slide-toggle>
                  </td>
                </ng-container>
              </ng-container>
            </tr>
          </tbody>
          <tbody *ngIf="t.controls.length == 0">
            <tr>
              <td colspan="5">
                <empty-table />
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
<div class="d-flex">
  <div class="d-flex position-relative">
    <app-vertical-divider></app-vertical-divider>
    <app-box-stepper step="3" [valid]="billFormGroup.valid"></app-box-stepper>
  </div>
  <div class="dashboard-card px-3 py-4 mt-0 w-100 ms-5 mb-4">
    <h5>{{ "sales-invoice__create__bill-data" | translate }}</h5>
    <form [formGroup]="valueFormGroup">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>{{ "sales-invoice__create__total" | translate }}</mat-label>
        <input
          readonly
          matInput
          mask="separator"
          thousandSeparator=" "
          formControlName="before"
          placeholder="Ex. 8 000 000"
        />
        <div matTextPrefix>Rp.&nbsp;</div>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>{{
          "sales-invoice__create__discount" | translate
        }}</mat-label>
        <input
          matInput
          type="text"
          mask="separator"
          thousandSeparator=" "
          formControlName="discount"
          autocomplete="off"
          placeholder="Ex. 800"
        />
        <div matTextPrefix>Rp.&nbsp;</div>
      </mat-form-field>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>{{
          "sales-invoice__create__service" | translate
        }}</mat-label>
        <input
          matInput
          type="text"
          mask="separator"
          thousandSeparator=" "
          formControlName="service"
          autocomplete="off"
          placeholder="Ex. 80 000"
        />
        <div matTextPrefix>Rp.&nbsp;</div>
      </mat-form-field>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>{{
          "sales-invoice__create__delivery" | translate
        }}</mat-label>
        <input
          matInput
          type="text"
          mask="separator"
          thousandSeparator=" "
          formControlName="delivery"
          autocomplete="off"
          placeholder="Ex. 50 000"
        />
        <div matTextPrefix>Rp.&nbsp;</div>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>{{
          "sales-invoice__create__subtotal" | translate
        }}</mat-label>
        <input
          readonly
          matInput
          type="text"
          mask="separator"
          thousandSeparator=" "
          formControlName="total"
          autocomplete="off"
          placeholder="Ex. 800"
        />
        <div matTextPrefix>Rp.&nbsp;</div>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>{{ "sales-invoice__create__total" | translate }}</mat-label>
        <input
          readonly
          matInput
          type="text"
          mask="separator"
          thousandSeparator=" "
          [value]="
            valueFormGroup.controls['total'].value -
              valueFormGroup.controls['discount'].value +
              valueFormGroup.controls['delivery'].value +
              valueFormGroup.controls['service'].value | number : '0.0-2'
          "
          autocomplete="off"
          placeholder="Ex. 800"
        />
        <div matTextPrefix>Rp.&nbsp;</div>
      </mat-form-field>
    </form>
  </div>
</div>
<div class="d-flex">
  <div class="d-flex position-relative">
    <app-box-stepper
      step="4"
      [valid]="totalPayment == valueFormGroup.controls['total'].value"
    ></app-box-stepper>
  </div>
  <div class="dashboard-card px-3 py-4 mt-0 w-100 ms-5 mb-4">
    <h5>{{ "sales-invoice__create__payment-data" | translate }}</h5>
    <form [formGroup]="paymentsFormGroup">
      <div class="row">
        <div class="col-6">
          <mat-slide-toggle
            formControlName="immediate_payment"
            [class.d-none]="
              metaFormGroup.get('type')?.value == 'deposit-internal'
            "
          >
            {{
              (paymentsFormGroup.controls["immediate_payment"].value == true
                ? "sales-invoice__create__immediate-payment"
                : "sales-invoice__create__due-payment"
              ) | translate
            }}
          </mat-slide-toggle>
          <br />
          <mat-form-field
            appearance="outline"
            class="w-100 mt-3"
            [class.d-none]="
              metaFormGroup.get('type')?.value == 'deposit-internal'
            "
          >
            <mat-label>{{
              "sales-invoice__create__due-time" | translate
            }}</mat-label>
            <input
              matInput
              placeholder="Ex. 30"
              formControlName="due_time"
              type="number"
            />
            <span matTextSuffix>{{
              "sales-invoice__create__day" | translate
            }}</span>
          </mat-form-field>

          <button
            type="button"
            (click)="openPaymentSelector()"
            class="action-button"
            [class.d-none]="
              paymentsFormGroup.controls['immediate_payment'].value == false ||
              metaFormGroup.get('type')?.value == 'deposit-internal'
            "
          >
            {{ "sales-invoice__create__add-payment-method" | translate }}
          </button>
        </div>
        <div
          class="col-6"
          [class.d-none]="
            paymentsFormGroup.controls['immediate_payment'].value == false
          "
        >
          <div
            class="payment-card"
            *ngFor="let payment of p.controls; index as i"
          >
            <form [formGroup]="getFormGroupAtPayment(i)">
              <h3 class="mb-0">{{ payment.get("payment_name")?.value }}</h3>
              <p>{{ payment.get("payment_description")?.value }}</p>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{
                  "sales-invoice__create__payment-value" | translate
                }}</mat-label>
                <input
                  matInput
                  type="text"
                  mask="separator.2"
                  thousandSeparator=" "
                  formControlName="payment_value"
                />
                <!-- Add button on suffix to delete -->
                <div matSuffix>
                  <button mat-icon-button (click)="deletePayment(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </mat-form-field>
            </form>
          </div>
        </div>
      </div>
    </form>
    <button
      [disabled]="
        !metaFormGroup.valid ||
        !valueFormGroup.valid ||
        !billFormGroup.valid ||
        (metaFormGroup.get('type')?.value == 'sales' &&
          totalPayment == 0 &&
          paymentsFormGroup.controls['immediate_payment'].value) ||
        totalPayment >
          valueFormGroup.controls['total'].value +
            valueFormGroup.controls['delivery'].value +
            valueFormGroup.controls['service'].value -
            valueFormGroup.controls['discount'].value ||
        !paymentsFormGroup.valid ||
        isSubmitting
      "
      class="action-button"
      (click)="submitForm()"
    >
      Submit
    </button>
  </div>
</div>
