<mat-drawer-container class="h-100">
  <mat-drawer [mode]="drawerMode" [opened]="isDrawerOpened" class="sidenav">
    <mat-nav-list class="sidenav__menu-wrapper">
      <div mat-subheader>{{ "side-nav__frequently-used" | translate }}</div>
      <mat-list-item
        [routerLink]="['/General/Stock']"
        [routerLinkActive]="'active'"
      >
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ "side-nav__stock" | translate }}</div>
      </mat-list-item>
      <mat-list-item
        [routerLink]="['/General/Expense']"
        [routerLinkActive]="'active'"
      >
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ "side-nav__expense" | translate }}</div>
      </mat-list-item>

      <mat-divider></mat-divider>

      <div mat-subheader>{{ "side-nav__master-data" | translate }}</div>
      <mat-list-item
        [routerLink]="['/General/Expense-type']"
        [routerLinkActive]="'active'"
      >
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ "side-nav__expense-type" | translate }}</div>
      </mat-list-item>
      <mat-list-item
        [routerLink]="['/General/Company']"
        [routerLinkActive]="'active'"
      >
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ "side-nav__company" | translate }}</div>
      </mat-list-item>
      <mat-list-item
        [routerLink]="['/General/Payment-method']"
        [routerLinkActive]="'active'"
      >
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ "side-nav__payment-method" | translate }}</div>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-topbar
      [hidden]="isHidden"
      [menuButtonAvailable]="isMenuButtonAvailable"
      (onMenuButtonClicked)="clickMenuButton()"
    />
    <main>
      <router-outlet #outlet="outlet" />
    </main>
  </mat-drawer-content>
</mat-drawer-container>
