.created-by__wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  height: 25px;
  justify-content: flex-start;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.created-by__wrapper p {
  margin-bottom: 0;
}

.sales-invoice__action-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 0.25rem;
}
