<app-archives
  [@slideInOutAnimation]="mode == 0 ? 'in' : 'out'"
  route="adjustment-case"
  (onMonthSelected)="onMonthSelected($event)"
/>

<div class="container" [@slideInOutAnimation]="mode == 1 ? 'in' : 'out'">
  <div class="row">
    <div class="col-12">
      <div class="dashboard-card">
        <app-archive-search
          [isFilterAvailable]="true"
          (onQueryChanged)="onQueryChanged($event)"
          (onFilterButtonClicked)="openFilter()"
        />
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th style="width: 250px" (click)="changeSortBy('date')">
                  <div class="d-flex align-items center">
                    <span>{{
                      "adjustment-case__archive__date" | translate
                    }}</span>
                    <mat-icon
                      class="icon-display"
                      [ngClass]="{
                        asc: sortBy === 'date' && sortDirection === 'asc',
                        desc: sortBy === 'date' && sortDirection === 'desc'
                      }"
                      >arrow_downward</mat-icon
                    >
                  </div>
                </th>
                <th style="width: 250px" (click)="changeSortBy('name')">
                  <div class="d-flex align-items-center">
                    <span>
                      {{ "adjustment-case__archive__name" | translate }}</span
                    >
                    <mat-icon
                      class="icon-display"
                      [ngClass]="{
                        asc: sortBy === 'name' && sortDirection === 'asc',
                        desc: sortBy === 'name' && sortDirection === 'desc'
                      }"
                      >arrow_downward</mat-icon
                    >
                  </div>
                </th>
                <th style="width: 250px" (click)="changeSortBy('type')">
                  <div class="d-flex align-items-center">
                    <span>{{
                      "adjustment-case__archive__type" | translate
                    }}</span>
                    <mat-icon
                      class="icon-display"
                      [ngClass]="{
                        asc: sortBy === 'type' && sortDirection === 'asc',
                        desc: sortBy === 'type' && sortDirection === 'desc'
                      }"
                      >arrow_downward</mat-icon
                    >
                  </div>
                </th>
                <th style="width: 250px">
                  {{ "adjustment-case__archive__company" | translate }}
                </th>
                <th style="width: 100px">
                  {{ "adjustment-case__archive__status" | translate }}
                </th>
              </tr>
            </thead>
            <tbody *ngIf="isLoading">
              <tr>
                <td colspan="6">
                  <mat-spinner id="spinner"></mat-spinner>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!isLoading && dataSource.length == 0">
              <tr>
                <td colspan="6">
                  <empty-table />
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!isLoading && dataSource.length > 0">
              <tr
                *ngFor="let item of dataSource; index as i"
                (click)="viewArchive(item.id)"
              >
                <td>{{ item.date | date : "dd MMMM YYYY" }}</td>
                <td>{{ item.name }}</td>
                <td>
                  {{
                    (item.company != null
                      ? "adjustment-case__archive__found"
                      : "adjustment-case__archive__lost"
                    ) | translate
                  }}
                </td>
                <td>
                  {{ item.company_name == null ? "N/A" : item.company_name }}
                </td>
                <td>{{ item.is_delete ? "Deleted" : "Active" }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="paginator__wrapper">
          <button class="action-button p-relative" (click)="backToYear()">
            {{ "general__archive__back-to-previous" | translate }}
          </button>
          <mat-paginator
            [length]="dataCount"
            [pageSize]="pageSize"
            [pageSizeOptions]="[10, 25, 50]"
            [pageIndex]="page - 1"
            (page)="changePage($event)"
          />
        </div>
      </div>
    </div>
  </div>
</div>
