<app-dialog-shell
  icon="ph ph-clock-counter-clockwise"
  [heading]="'receivable-view__payment-history' | translate"
  [lede]="data.name"
  [submitLabel]="'general__close' | translate"
  [submitting]="false"
  [canSubmit]="true"
  (submitted)="closeDialog()"
  (close)="closeDialog()"
>
  <div class="bayar" *ngFor="let bayar of data.payments">
    <div class="bayar__nama">
      <strong>{{ bayar.payment_method?.name ?? 'Cash' }}</strong>
      <span>{{ bayar.date | date: 'dd MMMM yyyy' }}</span>
    </div>
    <div class="bayar__tetap">Rp {{ bayar.value | number: '1.0-0' }}</div>
  </div>

  <p class="petunjuk" *ngIf="data.payments.length === 0">
    <i class="ph ph-info" aria-hidden="true"></i>
    <span>{{ 'receivable__payment__none' | translate }}</span>
  </p>

  <div class="ringkas__total" *ngIf="data.payments.length > 0">
    <span>{{ 'receivable__view__payment' | translate }}</span>
    <strong>Rp {{ total | number: '1.0-0' }}</strong>
  </div>
</app-dialog-shell>
