<app-dialog-shell
  icon="ph ph-buildings"
  [heading]="'company__create__title' | translate"
  [lede]="'company__create__lede' | translate"
  [submitLabel]="'company__create__submit' | translate"
  [submitting]="isSubmitting"
  [canSubmit]="companyFormGroup.valid"
  (submitted)="submitForm()"
  (close)="closeDialog()"
>
  <div [formGroup]="companyFormGroup">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ 'company__create__name' | translate }}</mat-label>
      <input matInput type="text" formControlName="name" maxlength="50" autocomplete="off" placeholder="Ex. PT. ABC" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ 'company__create__address' | translate }}</mat-label>
      <textarea matInput rows="2" formControlName="address" placeholder="Ex. Jalan Raya ABC no. XX"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ 'company__create__npwp' | translate }}</mat-label>
      <input matInput type="text" mask="00.000.000.0-000.000" formControlName="npwp" autocomplete="off" placeholder="Ex. XX.XXX.XXX.X-XXX.XXX" />
    </mat-form-field>
  </div>
</app-dialog-shell>
