<h1>
  <button mat-icon-button (click)="clickBackButton()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  {{ title }}
  <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="menus.length > 0">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      *ngFor="let menu of menus"
      [routerLink]="[menu.link]"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      [disabled]="isCurrentRoute(menu.link)"
    >
      <mat-icon>{{ menu.icon }}</mat-icon>
      <span>{{ menu.label | translate }}</span>
    </button>
  </mat-menu>
</h1>
