<app-list-page
  [heading]="'package__title' | translate"
  [lede]="'package__lede' | translate"
  [searchPlaceholder]="'package__search' | translate"
  [addLabel]="'package__add' | translate"
  [keyword]="keyword"
  [page]="page"
  [pageSize]="pageSize"
  [total]="dataCount"
  [loading]="isLoading"
  [showPageSize]="false"
  (search)="cari($event)"
  (pageChange)="bukaHalaman($event)"
  (add)="buat()"
  (refresh)="ambilData()"
>
  <table class="tabel">
    <thead>
      <tr>
        <th>{{ "package__table__name" | translate }}</th>
        <th>{{ "package__table__description" | translate }}</th>
        <th class="tabel__nilai-kepala">{{ "package__price" | translate }}</th>
      </tr>
    </thead>

    <tbody *ngIf="!isLoading && dataSource.length > 0">
      <tr
        *ngFor="let item of dataSource; trackBy: lacakPaket"
        class="tabel__baris-klik"
        (click)="ubah(item)"
        tabindex="0"
        (keydown.enter)="ubah(item)"
        (keydown.space)="$event.preventDefault(); ubah(item)"
      >
        <td class="tabel__utama">{{ item.name }}</td>
        <td class="tabel__redup">{{ item.description }}</td>
        <td class="tabel__nilai">Rp {{ item.price | number: "1.0-2" }}</td>
      </tr>
    </tbody>

    <tbody *ngIf="isLoading">
      <tr>
        <td colspan="3" class="tabel__pesan">
          {{ "general__loading" | translate }}
        </td>
      </tr>
    </tbody>

    <tbody *ngIf="!isLoading && dataSource.length === 0">
      <tr>
        <td colspan="3">
          <app-tabel-kosong
            ikon="ph-package"
            [judul]="'package__empty__title' | translate"
            [penjelasan]="'package__empty__desc' | translate"
            [kataKunci]="keyword"
            (reset)="resetPencarian()"
          />
        </td>
      </tr>
    </tbody>
  </table>
</app-list-page>
