<div class="top-navigation__wrapper" [ngClass]="{ white: isHidden }">
  <div class="top-navigation__brand">
    <button
      mat-icon-button
      *ngIf="menuButtonAvailable"
      type="button"
      (click)="clickMenuButton()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <img
      (click)="navigate()"
      src="/assets/images/logo.png"
      width="30"
      height="30"
      alt="logo"
      class="mr-2"
    />
    <p (click)="navigate()">Profil Indah</p>
  </div>
  <div class="top-navigation__utility">
    <app-circle-avatar
      [name]="name"
      [size]="40"
      [matTooltip]="'Logged in as ' + name"
      (click)="isProfileOpened = true"
    />
  </div>
</div>

<app-profile-dialog
  [name]="name"
  (onClose)="isProfileOpened = false"
  (onLogoutButtonPressed)="logout()"
  (onProfileButtonPressed)="navigateToProfile()"
  *ngIf="isProfileOpened"
/>
