<app-feature-background />
<div class="container">
  <div class="row">
    <div class="col-12">
      <app-feature-header
        [title]="'product__title' | translate"
        [help]="'product__help' | translate"
        [isBackAvailable]="true"
      ></app-feature-header>
      <div class="dashboard-card">
        <app-feature-search
          [addButton]="true"
          route="product"
          [page]="page"
          [pageSize]="pageSize"
          [enable]="true"
          (onChange)="onUpdateData($event)"
          (onLoadingChange)="onUpdateLoadingStatus($event)"
          (updatePage)="onUpdatePage()"
          (onNewQuery)="page = 1"
        ></app-feature-search>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">
                  {{ "product__reference" | translate }}
                </th>
                <th class="text-center">
                  {{ "product__description" | translate }}
                </th>
                <th class="text-center">{{ "product__brand" | translate }}</th>
                <th class="text-center">{{ "product__type" | translate }}</th>
                <th class="text-center">{{ "product__status" | translate }}</th>
              </tr>
            </thead>
            <tbody *ngIf="!isLoading && dataSource.length > 0">
              <tr *ngFor="let item of dataSource" [matMenuTriggerFor]="menu">
                <td>{{ item.reference }}</td>
                <td>
                  <span class="text-clamp-2">
                    {{ item.description }}
                  </span>
                </td>
                <td class="text-center">{{ item.product_brand.name }}</td>
                <td class="text-center">{{ item.product_type.name }}</td>
                <td class="text-center">
                  <span *ngIf="item.is_active">{{
                    "product__active" | translate
                  }}</span>
                  <span *ngIf="!item.is_active">{{
                    "product__inactive" | translate
                  }}</span>
                </td>
                <mat-menu #menu="matMenu">
                  <button (click)="openDialog('edit', item.id)" mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>{{ "product__update" | translate }}</span>
                  </button>
                  <button
                    (click)="openDialog('edit-unit', item.id)"
                    mat-menu-item
                  >
                    <mat-icon>dataset</mat-icon>
                    <span>{{ "product__update-unit" | translate }}</span>
                  </button>
                  <button mat-menu-item (click)="openDialog('active', item.id)">
                    <mat-icon *ngIf="item.is_active">toggle_on</mat-icon>
                    <mat-icon *ngIf="!item.is_active">toggle_off</mat-icon>
                    <span *ngIf="item.is_active">{{
                      "product__set-inactive" | translate
                    }}</span>

                    <span *ngIf="!item.is_active">{{
                      "product__set-active" | translate
                    }}</span>
                  </button>
                  <button
                    [class.delete-button]="item.can_delete"
                    mat-menu-item
                    (click)="openDialog('delete', item.id)"
                    [disabled]="!(item.can_delete && isAdministrator)"
                  >
                    <mat-icon>delete</mat-icon>
                    <span>{{ "product__delete" | translate }}</span>
                  </button>
                </mat-menu>
              </tr>
            </tbody>
            <tbody *ngIf="!isLoading && dataSource.length == 0">
              <tr>
                <td colspan="5">
                  <empty-table />
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="isLoading">
              <tr>
                <td colspan="5" class="text-center">
                  <mat-spinner id="spinner"></mat-spinner>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <mat-paginator
          [disabled]="isLoading"
          [pageIndex]="page - 1"
          [length]="dataCount"
          [pageSize]="pageSize"
          (page)="changePage($event)"
          aria-label="Select page"
          [pageSizeOptions]="[10, 25, 50]"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
