<app-dynamic-dialog (backgroundClick)="closeDialog()" [isOpened]="isOpened">
  <div class="create-dialog">
    <app-dialog-header
      [title]="'product__type__add__title' | translate"
      (onDialogClose)="closeDialog()"
    >
    </app-dialog-header>
    <div class="create-dialog__content">
      <form [formGroup]="typeFormGroup">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>{{ "product__type__name" | translate }}</mat-label>
          <input matInput type="text" formControlName="name" />
        </mat-form-field>
      </form>
    </div>
    <div class="create-dialog__footer">
      <button
        type="button"
        class="next-button"
        (click)="submitForm()"
        [disabled]="isSubmitting || !typeFormGroup.valid"
      >
        {{ "product__type__add__submit" | translate }}
      </button>
    </div>
  </div>
</app-dynamic-dialog>
