<div class="container-fluid">
  <div class="row">
    <div
      class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 profile__left-wrapper"
    >
      <app-avatar
        *ngIf="avatar != null"
        [top]="avatar.top"
        [accessories]="avatar.accessories"
        [circle]="avatar.circle"
        [color]="avatar.color"
        [eyebrows]="avatar.eyebrows"
        [eyes]="avatar.eyes"
        [mouth]="avatar.mouth"
        [clothes]="avatar.clothes"
        matTooltip="Customize your own avatar"
        (click)="openAvatarCustomization()"
      />
    </div>
    <div
      class="col-xl-9 col-lg-8 col-md-6 col-sm-12 col-12 profile__right-wrapper"
    >
      <h1>Your profile registered in the application.</h1>
      <mat-divider class="w-100 my-1" />
      <mat-spinner id="spinner" *ngIf="isLoading"></mat-spinner>
      <div *ngIf="!isLoading" class="w-100">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Name</mat-label>
          <input
            matInput
            [(ngModel)]="user.name"
            type="text"
            name="name"
            disabled
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Username</mat-label>
          <input
            matInput
            [(ngModel)]="user.username"
            type="text"
            name="username"
            disabled
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>NIK</mat-label>
          <input
            matInput
            [(ngModel)]="user.nik"
            type="text"
            name="nik"
            disabled
          />
        </mat-form-field>

        <button class="action-button" (click)="resetPassword()">
          Reset your password
        </button>
      </div>
    </div>
  </div>
</div>
