<mat-drawer-container class="h-100">
  <mat-drawer [mode]="drawerMode" [opened]="isDrawerOpened" class="sidenav">
    <mat-nav-list class="sidenav__menu-wrapper">
      <div mat-subheader>{{ "side-nav__frequently-used" | translate }}</div>
      <mat-list-item
        [routerLink]="['/Administrator/Stock']"
        [routerLinkActive]="'active'"
      >
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ "side-nav__stock" | translate }}</div>
      </mat-list-item>
      <mat-list-item
        [routerLink]="['/Administrator/Sales-invoice']"
        [routerLinkActive]="'active'"
      >
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ "side-nav__sales" | translate }}</div>
      </mat-list-item>
      <mat-list-item
        [routerLink]="['/Administrator/Purchase-invoice']"
        [routerLinkActive]="'active'"
      >
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ "side-nav__purchase" | translate }}</div>
      </mat-list-item>
      <mat-list-item
        [routerLink]="['/Administrator/Adjustment-case']"
        [routerLinkActive]="'active'"
      >
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ "side-nav__adjustment" | translate }}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <div mat-subheader>{{ "side-nav__master-data" | translate }}</div>
      <mat-list-item
        [routerLink]="['/Administrator/Product']"
        [routerLinkActive]="'active'"
      >
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ "side-nav__products" | translate }}</div>
      </mat-list-item>
      <mat-list-item
        [routerLink]="['/Administrator/Product-brand']"
        [routerLinkActive]="'active'"
      >
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ "side-nav__brands" | translate }}</div>
      </mat-list-item>
      <mat-list-item
        [routerLink]="['/Administrator/Product-type']"
        [routerLinkActive]="'active'"
      >
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ "side-nav__types" | translate }}</div>
      </mat-list-item>
      <mat-list-item
        [routerLink]="['/Administrator/Package']"
        [routerLinkActive]="'active'"
      >
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ "side-nav__package" | translate }}</div>
      </mat-list-item>
      <mat-list-item
        [routerLink]="['/Administrator/Supplier']"
        [routerLinkActive]="'active'"
      >
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ "side-nav__supplier" | translate }}</div>
      </mat-list-item>
      <mat-list-item
        [routerLink]="['/Administrator/Customer']"
        [routerLinkActive]="'active'"
      >
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ "side-nav__customer" | translate }}</div>
      </mat-list-item>
      <mat-list-item
        [routerLink]="['/Administrator/Company']"
        [routerLinkActive]="'active'"
      >
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ "side-nav__company" | translate }}</div>
      </mat-list-item>
      <mat-list-item
        [routerLink]="['/Administrator/User']"
        [routerLinkActive]="'active'"
      >
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ "side-nav__user" | translate }}</div>
      </mat-list-item>
      <mat-list-item
        [routerLink]="['/Administrator/Payment-method']"
        [routerLinkActive]="'active'"
      >
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ "side-nav__payment-method" | translate }}</div>
      </mat-list-item>
      <mat-list-item
        [routerLink]="['/Administrator/Expense-type']"
        [routerLinkActive]="'active'"
      >
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ "side-nav__expense-type" | translate }}</div>
      </mat-list-item>

      <mat-divider></mat-divider>
      <div mat-subheader>{{ "side-nav__implementation" | translate }}</div>
      <mat-list-item>
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ "side-nav__sales-return" | translate }}</div>
      </mat-list-item>
      <mat-list-item (click)="menuTrigger.openMenu()">
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ "side-nav__price" | translate }}</div>
        <div #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu"></div>
      </mat-list-item>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          [routerLink]="['/Administrator/Price/Sales']"
          [routerLinkActive]="'active'"
        >
          {{ "side-nav__price-sales" | translate }}
        </button>
        <button
          mat-menu-item
          [routerLink]="['/Administrator/Price/Purchase']"
          [routerLinkActive]="'active'"
        >
          {{ "side-nav__price-purchase" | translate }}
        </button>
      </mat-menu>
      <mat-list-item
        [routerLink]="['/Administrator/Deposit']"
        [routerLinkActive]="'active'"
      >
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ "side-nav__deposit" | translate }}</div>
      </mat-list-item>
      <mat-list-item
        [routerLink]="['/Administrator/Receivable']"
        [routerLinkActive]="'active'"
      >
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ "side-nav__receivable" | translate }}</div>
      </mat-list-item>
      <mat-list-item
        [routerLink]="['/Administrator/Expense']"
        [routerLinkActive]="'active'"
      >
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ "side-nav__expense" | translate }}</div>
      </mat-list-item>
      <mat-list-item
        [routerLink]="['/Administrator/Promotion']"
        [routerLinkActive]="'active'"
      >
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ "side-nav__promotion" | translate }}</div>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-topbar
      [hidden]="isHidden"
      [menuButtonAvailable]="isMenuButtonAvailable"
      (onMenuButtonClicked)="clickMenuButton()"
    />
    <main [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet" />
    </main>
  </mat-drawer-content>
</mat-drawer-container>
