<h1 mat-dialog-title>{{ "expense-type__update__title" | translate }}</h1>
<mat-dialog-content>
  <div *ngIf="isLoading">
    <mat-spinner id="spinner"></mat-spinner>
  </div>
  <div *ngIf="!isLoading">
    <form [formGroup]="expenseTypeFormGroup" (ngSubmit)="save()">
      <mat-form-field appearance="outline" class="w-100 mt-2">
        <mat-label>{{ "expense-type__name" | translate }}</mat-label>
        <input
          formControlName="name"
          matInput
          placeholder="Ex. Food"
          type="text"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ "expense-type__description" | translate }}</mat-label>
        <textarea
          formControlName="description"
          matInput
          placeholder="Ex. Food"
          type="text"
        ></textarea>
      </mat-form-field>

      <button
        mat-stroked-button
        type="button"
        color="warn"
        style="letter-spacing: 0"
        [disabled]="
          !isAdministrator ||
          isSubmitting ||
          !this.expenseTypeFormGroup.get('can_delete')?.value
        "
        (click)="delete()"
        *ngIf="!data.noAction"
      >
        <mat-icon>warning</mat-icon>
        <span>{{ "expense-type__update__delete" | translate }}</span>
      </button>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    (click)="save()"
    color="primary"
    mat-button
    type="button"
    [disabled]="!expenseTypeFormGroup.valid"
  >
    {{ "expense-type__update" | translate }}
  </button>
</mat-dialog-actions>
