<div class="dashboard-card">
  <app-feature-search
    [addButton]="false"
    route="good-receipt/unconfirmed"
    [page]="page"
    [enable]="false"
    (onChange)="onUpdateData($event)"
    (onLoadingChange)="onUpdateLoadingStatus($event)"
    (updatePage)="onUpdatePage()"
    (onNewQuery)="page = 1"
  ></app-feature-search>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>{{ "purchase-invoice__confirm__date" | translate }}</th>
          <th>
            {{ "purchase-invoice__confirm__good-receipt-name" | translate }}
          </th>
          <th>{{ "purchase-invoice__confirm__supplier" | translate }}</th>
          <th>{{ "purchase-invoice__confirm__created-by" | translate }}</th>
        </tr>
      </thead>
      <tbody *ngIf="isLoading">
        <tr>
          <td colspan="4">
            <mat-spinner id="spinner"></mat-spinner>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="!isLoading && dataSource.length == 0">
        <tr>
          <td colspan="4">
            <empty-table />
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="!isLoading && dataSource.length > 0">
        <tr
          *ngFor="let item of dataSource; let i = index"
          [routerLink]="item.id"
        >
          <td>{{ item.date | date : "dd/MM/yyyy" }}</td>
          <td>{{ item.good_receipt_code.name }}</td>
          <td>{{ item.good_receipt_code.supplier.name }}</td>
          <td>
            <p class="mb-0">
              {{
                item.user_purchase_invoice_created_byTouser.name
              }}&nbsp;<app-avatar
                *ngIf="
                  item.user_purchase_invoice_created_byTouser.user_avatar !=
                  null
                "
                [top]="
                  item.user_purchase_invoice_created_byTouser.user_avatar.top
                "
                [accessories]="
                  item.user_purchase_invoice_created_byTouser.user_avatar
                    .accessories
                "
                [eyes]="
                  item.user_purchase_invoice_created_byTouser.user_avatar.eyes
                "
                [mouth]="
                  item.user_purchase_invoice_created_byTouser.user_avatar.mouth
                "
                [clothes]="
                  item.user_purchase_invoice_created_byTouser.user_avatar
                    .clothes
                "
                [eyebrows]="
                  item.user_purchase_invoice_created_byTouser.user_avatar
                    .eyebrows
                "
                [circle]="
                  item.user_purchase_invoice_created_byTouser.user_avatar.circle
                "
                [color]="
                  item.user_purchase_invoice_created_byTouser.user_avatar.color
                "
                [width]="25"
              />
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <mat-paginator
    class="paginator"
    [pageIndex]="page - 1"
    [length]="dataCount"
    [pageSize]="10"
    (page)="changePage($event)"
    aria-label="Select page"
    hidePageSize="true"
    *ngIf="!isLoading"
  >
  </mat-paginator>
</div>
