<h2 mat-dialog-title>{{ "sales-price__update__title" | translate }}</h2>
<form [formGroup]="priceFormGroup" (ngSubmit)="submitForm()">
  <mat-dialog-content>
    <label>{{ "sales-price__update__reference" | translate }}</label>
    <p>{{ priceFormGroup.get("reference")?.value }}</p>

    <label>{{ "sales-price__update__description" | translate }}</label>
    <p class="text-clamp-2">
      {{ priceFormGroup.get("description")?.value }}
    </p>

    <table class="table">
      <thead>
        <tr>
          <th>
            {{ "sales-price__update__unit" | translate }}
          </th>
          <th>
            {{ "sales-price__update__price" | translate }}
          </th>
          <th>{{ "sales-price__update__discount" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p>{{ priceFormGroup.get("unit")?.value }}</p>
          </td>

          <td>
            <mat-form-field appearance="outline">
              <mat-label>{{
                "sales-price__update__price" | translate
              }}</mat-label>
              <input
                matInput
                type="text"
                class="text-center"
                mask="separator"
                thousandSeparator=" "
                formControlName="sales_price"
                autocomplete="off"
                placeholder="Ex. 20"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>{{
                "sales-price__update__discount" | translate
              }}</mat-label>
              <input
                matInput
                type="text"
                class="text-center"
                mask="separator"
                thousandSeparator=" "
                formControlName="sales_discount"
                autocomplete="off"
                placeholder="Ex. 20"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr
          *ngFor="let itemForm of t.controls; index as i"
          [formGroup]="getFormGroupAt(i)"
        >
          <td>
            <p class="mb-0">{{ itemForm.get("unit")?.value }}</p>
            <small
              >{{ itemForm.get("conversion")?.value }}
              {{ priceFormGroup.get("unit")?.value }}</small
            >
          </td>

          <td>
            <mat-form-field appearance="outline">
              <mat-label>{{
                "sales-price__update__price" | translate
              }}</mat-label>
              <input
                matInput
                type="text"
                class="text-center"
                mask="separator"
                thousandSeparator=" "
                formControlName="sales_price"
                autocomplete="off"
                placeholder="Ex. 20"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>{{
                "sales-price__update__discount" | translate
              }}</mat-label>
              <input
                matInput
                type="text"
                class="text-center"
                mask="separator"
                thousandSeparator=" "
                formControlName="sales_discount"
                autocomplete="off"
                placeholder="Ex. 20"
              />
            </mat-form-field>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button
      mat-stroked-button
      color="primary"
      style="letter-spacing: 0"
      type="submit"
      [disabled]="isSubmitting || !priceFormGroup.valid"
    >
      {{ "sales-price__update__submit" | translate }}
    </button>
  </mat-dialog-actions>
</form>
<!-- <app-dynamic-dialog (backgroundClick)="closeDialog()" [isOpened]="isOpened">
  <div class="create-dialog">
    <app-dialog-header
      [title]="'sales-price__update__title' | translate"
      (onDialogClose)="closeDialog()"
    >
    </app-dialog-header>
    <div class="create-dialog__content">
      <div *ngIf="isLoading">
        <mat-spinner id="spinner" />
      </div>
      <div *ngIf="!isLoading">
        <div class="table-responsive">
          
        </div>
      </div>
    </div>
    <div class="create-dialog__footer">
      <button
        type="button"
        class="next-button"
        (click)="submitForm()"
        
      >
      </button>
    </div>
  </div>
</app-dynamic-dialog> -->
