<app-dynamic-dialog (backgroundClick)="closeDialog()" [isOpened]="isOpened">
  <div class="create-dialog">
    <app-dialog-header
      [title]="'sales-price__update__title' | translate"
      (onDialogClose)="closeDialog()"
    >
    </app-dialog-header>
    <div class="create-dialog__content">
      <div *ngIf="isLoading">
        <mat-spinner id="spinner" />
      </div>
      <div *ngIf="!isLoading">
        <label>{{ "sales-price__update__reference" | translate }}</label>
        <p>{{ priceFormGroup.get("reference")?.value }}</p>

        <label>{{ "sales-price__update__description" | translate }}</label>
        <p class="text-clamp-1">
          {{ priceFormGroup.get("description")?.value }}
        </p>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>
                  {{ "sales-price__update__unit" | translate }}
                </th>
                <th>
                  {{ "sales-price__update__price" | translate }}
                </th>
                <th>{{ "sales-price__update__discount" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let itemForm of t.controls; index as i"
                [formGroup]="getFormGroupAt(i)"
              >
                <td>
                  <p>{{ itemForm.get("unit")?.value }}</p>
                </td>

                <td>
                  <mat-form-field appearance="outline">
                    <mat-label>{{
                      "sales-price__update__price" | translate
                    }}</mat-label>
                    <input
                      matInput
                      type="text"
                      class="text-center"
                      mask="separator"
                      thousandSeparator=" "
                      formControlName="price"
                      autocomplete="off"
                      placeholder="Ex. 20"
                    />
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field appearance="outline">
                    <mat-label>{{
                      "sales-price__update__discount" | translate
                    }}</mat-label>
                    <input
                      matInput
                      type="text"
                      class="text-center"
                      mask="separator"
                      thousandSeparator=" "
                      formControlName="discount"
                      autocomplete="off"
                      placeholder="Ex. 20"
                    />
                  </mat-form-field>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="create-dialog__footer">
      <button
        type="button"
        class="next-button"
        (click)="submitForm()"
        [disabled]="isSubmitting || !priceFormGroup.valid"
      >
        {{ "sales-price__update__submit" | translate }}
      </button>
    </div>
  </div>
</app-dynamic-dialog>
