<div
  class="stock-card__wrapper"
  [@panelAnimation]="isOpened ? 'enlarged' : 'closed'"
>
  <app-feature-background />
  <div class="container">
    <div class="row">
      <div class="col-12">
        <app-feature-header
          [title]="'stock-card__title' | translate"
          [isBackAvailable]="true"
          [onClickBackButton]="closeDialog.bind(this)"
        />
        <div class="dashboard-card mt-5">
          <div class="meta-data__wrapper">
            <div class="meta-data__items">
              <svg
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    opacity="0.4"
                    d="M17 20.5H7C4 20.5 2 19 2 15.5V8.5C2 5 4 3.5 7 3.5H17C20 3.5 22 5 22 8.5V15.5C22 19 20 20.5 17 20.5Z"
                    fill="#5985e1"
                  ></path>
                  <path
                    d="M6 16.75C5.59 16.75 5.25 16.41 5.25 16V8C5.25 7.59 5.59 7.25 6 7.25C6.41 7.25 6.75 7.59 6.75 8V16C6.75 16.41 6.41 16.75 6 16.75Z"
                    fill="#5985e1"
                  ></path>
                  <path
                    d="M9 12.75C8.59 12.75 8.25 12.41 8.25 12V8C8.25 7.59 8.59 7.25 9 7.25C9.41 7.25 9.75 7.59 9.75 8V12C9.75 12.41 9.41 12.75 9 12.75Z"
                    fill="#5985e1"
                  ></path>
                  <path
                    d="M9 16.75C8.59 16.75 8.25 16.41 8.25 16V15C8.25 14.59 8.59 14.25 9 14.25C9.41 14.25 9.75 14.59 9.75 15V16C9.75 16.41 9.41 16.75 9 16.75Z"
                    fill="#5985e1"
                  ></path>
                  <path
                    d="M15 9.75C14.59 9.75 14.25 9.41 14.25 9V8C14.25 7.59 14.59 7.25 15 7.25C15.41 7.25 15.75 7.59 15.75 8V9C15.75 9.41 15.41 9.75 15 9.75Z"
                    fill="#5985e1"
                  ></path>
                  <path
                    d="M12 16.75C11.59 16.75 11.25 16.41 11.25 16V8C11.25 7.59 11.59 7.25 12 7.25C12.41 7.25 12.75 7.59 12.75 8V16C12.75 16.41 12.41 16.75 12 16.75Z"
                    fill="#5985e1"
                  ></path>
                  <path
                    d="M15 16.75C14.59 16.75 14.25 16.41 14.25 16V12C14.25 11.59 14.59 11.25 15 11.25C15.41 11.25 15.75 11.59 15.75 12V16C15.75 16.41 15.41 16.75 15 16.75Z"
                    fill="#5985e1"
                  ></path>
                  <path
                    d="M18 16.75C17.59 16.75 17.25 16.41 17.25 16V8C17.25 7.59 17.59 7.25 18 7.25C18.41 7.25 18.75 7.59 18.75 8V16C18.75 16.41 18.41 16.75 18 16.75Z"
                    fill="#5985e1"
                  ></path>
                </g>
              </svg>
              <div class="meta-data__items__text">
                <h2>{{ "stock-card__reference" | translate }}</h2>
                <p *ngIf="!isLoadingData">{{ productDataSource.reference }}</p>
                <div class="shimmer-full" *ngIf="isLoadingData"></div>
              </div>
            </div>

            <div class="meta-data__items">
              <svg
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M12 5.25H3C2.59 5.25 2.25 4.91 2.25 4.5C2.25 4.09 2.59 3.75 3 3.75H12C12.41 3.75 12.75 4.09 12.75 4.5C12.75 4.91 12.41 5.25 12 5.25Z"
                    fill="#5985e1"
                  ></path>
                  <path
                    opacity="0.4"
                    d="M12 10.25H3C2.59 10.25 2.25 9.91 2.25 9.5C2.25 9.09 2.59 8.75 3 8.75H12C12.41 8.75 12.75 9.09 12.75 9.5C12.75 9.91 12.41 10.25 12 10.25Z"
                    fill="#5985e1"
                  ></path>
                  <path
                    d="M21 15.25H3C2.59 15.25 2.25 14.91 2.25 14.5C2.25 14.09 2.59 13.75 3 13.75H21C21.41 13.75 21.75 14.09 21.75 14.5C21.75 14.91 21.41 15.25 21 15.25Z"
                    fill="#5985e1"
                  ></path>
                  <path
                    opacity="0.4"
                    d="M21 20.25H3C2.59 20.25 2.25 19.91 2.25 19.5C2.25 19.09 2.59 18.75 3 18.75H21C21.41 18.75 21.75 19.09 21.75 19.5C21.75 19.91 21.41 20.25 21 20.25Z"
                    fill="#5985e1"
                  ></path>
                </g>
              </svg>
              <div class="meta-data__items__text">
                <h2>{{ "stock-card__description" | translate }}</h2>
                <p *ngIf="!isLoadingData">
                  {{ productDataSource.description }}
                </p>
                <div class="shimmer-full" *ngIf="isLoadingData"></div>
                <div class="shimmer-full w-50" *ngIf="isLoadingData"></div>
              </div>
            </div>

            <div class="meta-data__items">
              <svg
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    opacity="0.4"
                    d="M4.17038 15.2998L8.70038 19.8298C10.5604 21.6898 13.5804 21.6898 15.4504 19.8298L19.8404 15.4398C21.7004 13.5798 21.7004 10.5598 19.8404 8.6898L15.3004 4.1698C14.3504 3.2198 13.0404 2.7098 11.7004 2.7798L6.70038 3.0198C4.70038 3.1098 3.11038 4.6998 3.01038 6.6898L2.77038 11.6898C2.71038 13.0398 3.22038 14.3498 4.17038 15.2998Z"
                    fill="#5985e1"
                  ></path>
                  <path
                    d="M9.49914 12.3801C11.0897 12.3801 12.3791 11.0907 12.3791 9.50012C12.3791 7.90954 11.0897 6.62012 9.49914 6.62012C7.90856 6.62012 6.61914 7.90954 6.61914 9.50012C6.61914 11.0907 7.90856 12.3801 9.49914 12.3801Z"
                    fill="#5985e1"
                  ></path>
                  <path
                    d="M12.9995 17.7499C12.8095 17.7499 12.6195 17.6799 12.4695 17.5299C12.1795 17.2399 12.1795 16.7599 12.4695 16.4699L16.4695 12.4699C16.7595 12.1799 17.2395 12.1799 17.5295 12.4699C17.8195 12.7599 17.8195 13.2399 17.5295 13.5299L13.5295 17.5299C13.3795 17.6799 13.1895 17.7499 12.9995 17.7499Z"
                    fill="#5985e1"
                  ></path>
                </g>
              </svg>
              <div class="meta-data__items__text">
                <h2>{{ "stock-card__brand" | translate }}</h2>
                <p *ngIf="!isLoadingData">{{ productDataSource.brand }}</p>
                <div class="shimmer-full" *ngIf="isLoadingData"></div>
              </div>
            </div>

            <div class="meta-data__items">
              <svg
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M7.24 2H5.34C3.15 2 2 3.15 2 5.33V7.23C2 9.41 3.15 10.56 5.33 10.56H7.23C9.41 10.56 10.56 9.41 10.56 7.23V5.33C10.57 3.15 9.42 2 7.24 2Z"
                    fill="#5985e1"
                  ></path>
                  <path
                    opacity="0.4"
                    d="M18.6695 2H16.7695C14.5895 2 13.4395 3.15 13.4395 5.33V7.23C13.4395 9.41 14.5895 10.56 16.7695 10.56H18.6695C20.8495 10.56 21.9995 9.41 21.9995 7.23V5.33C21.9995 3.15 20.8495 2 18.6695 2Z"
                    fill="#5985e1"
                  ></path>
                  <path
                    d="M18.6695 13.4302H16.7695C14.5895 13.4302 13.4395 14.5802 13.4395 16.7602V18.6602C13.4395 20.8402 14.5895 21.9902 16.7695 21.9902H18.6695C20.8495 21.9902 21.9995 20.8402 21.9995 18.6602V16.7602C21.9995 14.5802 20.8495 13.4302 18.6695 13.4302Z"
                    fill="#5985e1"
                  ></path>
                  <path
                    opacity="0.4"
                    d="M7.24 13.4302H5.34C3.15 13.4302 2 14.5802 2 16.7602V18.6602C2 20.8502 3.15 22.0002 5.33 22.0002H7.23C9.41 22.0002 10.56 20.8502 10.56 18.6702V16.7702C10.57 14.5802 9.42 13.4302 7.24 13.4302Z"
                    fill="#5985e1"
                  ></path>
                </g>
              </svg>
              <div class="meta-data__items__text">
                <h2>{{ "stock-card__type" | translate }}</h2>
                <p *ngIf="!isLoadingData">{{ productDataSource.type }}</p>
                <div class="shimmer-full" *ngIf="isLoadingData"></div>
              </div>
            </div>

            <div class="meta-data__items">
              <svg
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    opacity="0.4"
                    d="M19.5 9.96997V19C19.5 21 19 22 16.5 22H7.5C5 22 4.5 21 4.5 19V9.96997C4.66 9.98997 4.83 9.99997 5 9.99997H19C19.17 9.99997 19.34 9.98997 19.5 9.96997Z"
                    fill="#5985e1"
                  ></path>
                  <path
                    d="M22 5V7C22 8.83 21.17 9.82 19.5 9.97C19.34 9.99 19.17 10 19 10H5C4.83 10 4.66 9.99 4.5 9.97C2.83 9.82 2 8.83 2 7V5C2 3 3 2 5 2H19C21 2 22 3 22 5Z"
                    fill="#5985e1"
                  ></path>
                  <path
                    d="M13.8197 14.75H10.1797C9.76969 14.75 9.42969 14.41 9.42969 14C9.42969 13.59 9.76969 13.25 10.1797 13.25H13.8197C14.2297 13.25 14.5697 13.59 14.5697 14C14.5697 14.41 14.2297 14.75 13.8197 14.75Z"
                    fill="#5985e1"
                  ></path>
                </g>
              </svg>
              <div class="meta-data__items__text">
                <h2>{{ "stock-card__deposit" | translate }}</h2>
                <p *ngIf="!isLoadingData">
                  {{ productDataSource.deposit | number : "0.0-2" }}
                  {{ productDataSource.unit }}
                </p>
                <div class="shimmer-full" *ngIf="isLoadingData"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="dashboard-card mt-3">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>{{ "stock-card__date" | translate }}</th>
                  <th>{{ "stock-card__document" | translate }}</th>
                  <th>{{ "stock-card__quantity" | translate }}</th>
                  <th>{{ "stock-card__stock" | translate }}</th>
                </tr>
              </thead>
              <tbody *ngIf="isLoadingCard">
                <tr>
                  <td colspan="5">
                    <mat-spinner id="spinner"></mat-spinner>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="!isLoadingCard && dataSource.length == 0">
                <tr>
                  <td colspan="5">
                    <empty-table />
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="!isLoadingCard && dataSource.length > 0">
                <tr
                  *ngFor="let item of dataSource"
                  (click)="viewDocument(item)"
                >
                  <td>{{ item.date | date : "dd/MM/YYYY" }}</td>
                  <td>{{ item.name }}</td>
                  <td>
                    {{ item.quantity | number : "0.0-2" }} {{ item.unit }}
                  </td>
                  <td>
                    {{ item.stock | number : "0.0-2" }} {{ item.defaultUnit }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <mat-paginator
            [disabled]="isLoadingCard"
            [pageSize]="10"
            [length]="dataCount"
            [pageIndex]="page - 1"
            (page)="changePage($event)"
          />
        </div>
      </div>
    </div>
  </div>
</div>
