.table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

tr {
  cursor: pointer;
}

.paginator__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-button {
  position: relative;
  float: none;
}
