<app-dynamic-dialog (backgroundClick)="closeDialog()" [isOpened]="isOpened">
  <app-dialog-shell
    icon="ph ph-squares-four"
    [heading]="'product__type__update__title' | translate"
    [lede]="'product__type__update__lede' | translate"
    [submitLabel]="'product__type__update__submit' | translate"
    [submitting]="isSubmitting"
    [canSubmit]="!isLoading && typeFormGroup.valid"
    (submitted)="submitForm()"
    (close)="closeDialog()"
  >
    <div class="medan" [formGroup]="typeFormGroup">
      <label for="ut-name">{{ 'product__type__name' | translate }}</label>
      <input
        #input
        id="ut-name"
        class="medan__input"
        type="text"
        formControlName="name"
        autocomplete="off"
        [attr.disabled]="isLoading ? '' : null"
        [attr.placeholder]="
          (isLoading ? 'general__loading' : 'product__type__add__example')
            | translate
        "
      />
    </div>
  </app-dialog-shell>
</app-dynamic-dialog>
