<app-dynamic-dialog (backgroundClick)="closeDialog()" [isOpened]="isOpened">
  <app-dialog-shell
    icon="ph ph-squares-four"
    [heading]="'product__type__update__title' | translate"
    [lede]="'product__type__update__lede' | translate"
    [submitLabel]="'product__type__update__submit' | translate"
    [submitting]="isSubmitting"
    [canSubmit]="!isLoading && typeFormGroup.valid"
    (submitted)="submitForm()"
    (close)="closeDialog()"
  >
    <div [formGroup]="typeFormGroup">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ 'product__type__name' | translate }}</mat-label>
      <input matInput #input type="text" formControlName="name" maxlength="45" autocomplete="off" [attr.disabled]="isLoading ? '' : null" [attr.placeholder]=" (isLoading ? 'general__loading' : 'product__type__add__example') | translate " />
    </mat-form-field>
  </div>
  </app-dialog-shell>
</app-dynamic-dialog>
