<form [formGroup]="priceFormGroup" class="mt-3">
  <h1>{{ "purchase-invoice__confirm__update-price" | translate }}</h1>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>{{ "purchase-invoice__confirm__price" | translate }}</mat-label>
    <input
      type="text"
      matInput
      mask="separator.2"
      thousandSeparator=" "
      (focus)="setFocus('price')"
      (blur)="unsetFocus()"
      placeholder="Ex. 8 000"
      formControlName="price"
    />
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label
      >{{ "purchase-invoice__confirm__discount" | translate }} (Rp.)</mat-label
    >
    <input
      type="text"
      matInput
      mask="separator.2"
      thousandSeparator=" "
      placeholder="Ex. 800"
      (focus)="setFocus('absolute')"
      formControlName="discount"
    />
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label
      >{{ "purchase-invoice__confirm__discount" | translate }} (%)</mat-label
    >
    <input
      type="text"
      matInput
      mask="separator.2"
      thousandSeparator=" "
      placeholder="Ex. 800"
      (focus)="setFocus('percentage')"
      (blur)="unsetFocus()"
      formControlName="discountPercentage"
    />
  </mat-form-field>

  <!-- Slide toggle, disabled if initialPrice is same with price -->
  <mat-slide-toggle class="w-100" formControlName="save_price">
    {{ "purchase-invoice__confirm__save-price" | translate }}
  </mat-slide-toggle>
</form>

<button
  class="action-button"
  (click)="saveSheet()"
  [disabled]="!priceFormGroup.valid"
>
  {{ "purchase-invoice__confirm__save" | translate }}
</button>
