<h2 mat-dialog-title>{{ "deposit__view__title" | translate }}</h2>
<mat-dialog-content>
  <div *ngIf="isLoading">
    <mat-spinner id="spinner" class="spinner"></mat-spinner>
  </div>
  <form [formGroup]="salesDepositFormGroup" *ngIf="!isLoading">
    <mat-expansion-panel
      disabled
      class="mat-elevation-z0"
      hideToggle
      [expanded]="step() === 0"
      (opened)="setStep(0)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ "sales-invoice__archive__view__general__title" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{
              "sales-invoice__archive__view__date" | translate
            }}</mat-label>
            <input matInput readonly formControlName="date" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{
              "sales-invoice__archive__view__name" | translate
            }}</mat-label>
            <input matInput readonly formControlName="name" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{
              "sales-invoice__archive__view__status" | translate
            }}</mat-label>
            <input matInput readonly formControlName="status" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{
              "sales-invoice__archive__view__created-by" | translate
            }}</mat-label>
            <input matInput readonly formControlName="createdBy" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{
              "sales-invoice__archive__view__created-at" | translate
            }}</mat-label>
            <input matInput readonly formControlName="createdAt" />
          </mat-form-field>

          <button
            mat-stroked-button
            color="primary"
            style="letter-spacing: 0"
            (click)="nextStep()"
          >
            {{ "general__next" | translate }}
          </button>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{
              "sales-invoice__archive__view__customer" | translate
            }}</mat-label>
            <input matInput readonly formControlName="customer" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{
              "sales-invoice__archive__view__sales" | translate
            }}</mat-label>
            <input matInput readonly formControlName="sales" />
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel
      disabled
      class="mat-elevation-z0"
      hideToggle
      [expanded]="step() === 1"
      (opened)="setStep(1)"
    >
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table data-table">
              <thead>
                <tr>
                  <th class="text-center" style="width: 200px">
                    {{
                      "sales-invoice__archive__view__items__product" | translate
                    }}
                  </th>
                  <th class="text-center" style="width: 200px">
                    {{
                      "sales-invoice__archive__view__items__quantity"
                        | translate
                    }}
                  </th>
                  <th class="text-center" style="width: 200px">
                    {{
                      "sales-invoice__archive__view__items__price" | translate
                    }}
                  </th>
                  <th class="text-center" style="width: 300px">
                    {{
                      "sales-invoice__archive__view__items__discount"
                        | translate
                    }}
                  </th>
                  <th class="text-center" style="width: 200px">
                    {{
                      "sales-invoice__archive__view__items__total" | translate
                    }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of t.controls">
                  <td>
                    <p class="mb-0">{{ item.get("reference")?.value }}</p>
                    <p class="text-clamp-1 mb-0">
                      {{ item.get("description")?.value }}
                    </p>
                  </td>
                  <td class="text-center">
                    {{ item.get("quantity")?.value | number : "0.0-2" }}
                    {{ item.get("unit")?.value }}
                  </td>
                  <td class="text-center">
                    Rp.&nbsp;{{ item.get("price")?.value | number : "0.2-2" }}
                  </td>
                  <td
                    class="text-center"
                    [matTooltip]="
                      getDiscountPercentage(
                        item.get('discount')!.value,
                        item.get('price')?.value
                      )
                    "
                  >
                    Rp.&nbsp;{{
                      item.get("discount")?.value | number : "0.2-2"
                    }}
                  </td>
                  <td class="text-center">
                    Rp.&nbsp;{{
                      (item.get("price")?.value - item.get("discount")?.value) *
                        item.get("quantity")?.value | number : "0.2-2"
                    }}
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3"></td>
                  <td class="text-center">
                    {{ "sales-invoice__archive__view__subtotal" | translate }}
                  </td>
                  <td class="text-center" colspan="2">
                    Rp.&nbsp;{{ subtotal | number : "0.2-2" }}
                  </td>
                </tr>
                <tr>
                  <td colspan="3"></td>
                  <td class="text-center">
                    {{ "sales-invoice__archive__view__discount" | translate }}
                  </td>
                  <td class="text-center" colspan="2">
                    Rp.&nbsp;{{
                      salesDepositFormGroup.get("discount")?.value
                        | number : "0.2-2"
                    }}
                  </td>
                </tr>
                <tr>
                  <td colspan="3"></td>
                  <td class="text-center">
                    {{ "sales-invoice__archive__view__service" | translate }}
                  </td>
                  <td class="text-center" colspan="2">
                    Rp.&nbsp;{{
                      salesDepositFormGroup.get("service")?.value
                        | number : "0.2-2"
                    }}
                  </td>
                </tr>
                <tr>
                  <td colspan="3"></td>
                  <td class="text-center">
                    {{ "sales-invoice__archive__view__delivery" | translate }}
                  </td>
                  <td class="text-center" colspan="2">
                    Rp.&nbsp;{{
                      salesDepositFormGroup.get("delivery")?.value
                        | number : "0.2-2"
                    }}
                  </td>
                </tr>
                <tr>
                  <td colspan="3"></td>
                  <td class="text-center">
                    {{ "sales-invoice__archive__view__total" | translate }}
                  </td>
                  <td class="text-center" colspan="2">
                    Rp.&nbsp;{{ total | number : "0.2-2" }}
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>

          <div class="d-flex">
            <button
              type="button"
              mat-stroked-button
              color="warn"
              class="me-3"
              style="letter-spacing: 0"
              (click)="prevStep()"
            >
              {{ "general__previous" | translate }}
            </button>

            <button
              type="button"
              mat-stroked-button
              color="primary"
              style="letter-spacing: 0"
              (click)="nextStep()"
            >
              {{ "general__next" | translate }}
            </button>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel
      disabled
      class="mat-elevation-z0"
      hideToggle
      [expanded]="step() === 1"
      (opened)="setStep(1)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ "sales-invoice__archive__view__item__title" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel
      disabled
      class="mat-elevation-z0"
      hideToggle
      [expanded]="step() === 2"
      (opened)="setStep(2)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ "sales-invoice__archive__view__payment__title" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table data-table">
              <thead>
                <tr>
                  <th style="width: 150px">
                    {{
                      "sales-invoice__archive__view__payments__date" | translate
                    }}
                  </th>
                  <th style="width: 200px">
                    {{
                      "sales-invoice__archive__view__payments__method"
                        | translate
                    }}
                  </th>
                  <th style="width: 200px">
                    {{
                      "sales-invoice__archive__view__payments__amount"
                        | translate
                    }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dataSource.sales_deposit_payment">
                  <td>{{ item.date | date : "dd MMMM YYYY" }}</td>
                  <td>
                    {{
                      item.payment_method == null
                        ? "Cash"
                        : item.payment_method.name
                    }}
                  </td>
                  <td>{{ item.value | number : "0.2-2" }}</td>
                </tr>
              </tbody>
              <tbody *ngIf="dataSource.sales_deposit_payment.length == 0">
                <td colspan="3">
                  {{
                    "sales-invoice__archive__view__payments__empty" | translate
                  }}
                </td>
              </tbody>
            </table>
          </div>

          <div class="d-flex">
            <button
              type="button"
              mat-stroked-button
              color="warn"
              class="me-3"
              style="letter-spacing: 0"
              (click)="prevStep()"
            >
              {{ "general__previous" | translate }}
            </button>

            <button
              type="button"
              mat-stroked-button
              color="primary"
              style="letter-spacing: 0"
              [matMenuTriggerFor]="menu"
              *ngIf="!data.noAction"
            >
              {{ "sales-deposit__archive__other-actions" | translate }}
              <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="delete()">
                <mat-icon>delete</mat-icon>
                <span>{{ "sales-deposit__archive__delete" | translate }}</span>
              </button>
              <button mat-menu-item (click)="confirm()">
                <mat-icon>check</mat-icon>
                <span>{{ "sales-deposit__archive__confirm" | translate }}</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end"
  ><button
    mat-stroked-button
    type="button"
    color="primary"
    style="letter-spacing: 0"
    (click)="print()"
  >
    {{ "general__print" | translate }}
  </button>
  <button
    mat-stroked-button
    type="button"
    color="primary"
    style="letter-spacing: 0"
    mat-dialog-close
  >
    {{ "general__close" | translate }}
  </button>
</mat-dialog-actions>

<!-- <div class="view-panel-wrapper">
  <div class="view-panel-backdrop" (click)="close()"></div>
  <div class="view-panel" [@panelAnimation]="panelState">
    <div class="row-action">
      <h2 mat-dialog-title>{{ "deposit__view__title" | translate }}</h2>
      <div class="d-flex">
        <button mat-icon-button (click)="enlarge()">
          <mat-icon *ngIf="panelState != 'enlarged'">open_in_full</mat-icon>
          <mat-icon *ngIf="panelState == 'enlarged'">close_fullscreen</mat-icon>
        </button>
        <button mat-icon-button (click)="close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div class="view-panel-content" id="content">
      <mat-spinner id="spinner" *ngIf="isLoading" />

      <div *ngIf="!isLoading">
        <h5 class="mt-2"></h5>
        <mat-divider class="mb-3" />
        <label>{{ "deposit__view__date" | translate }}</label>
        <p>{{ dataSource.date | date : "MM/dd/yyyy" }}</p>

        <label>{{ "deposit__view__name" | translate }}</label>
        <p>{{ dataSource.name }}</p>

        <label>{{ "deposit__view__sales" | translate }}</label>
        <p>
          {{ dataSource.sales == null ? "INTERNAL" : dataSource.sales }}
        </p>

        <label>{{ "deposit__view__amount" | translate }}</label>
        <p>
          {{
            dataSource.subTotal -
              dataSource.discount +
              dataSource.delivery +
              dataSource.service | mask : "separator.2"
          }}
        </p>

        <label>{{ "deposit__view__customer" | translate }}</label>
        <p>
          {{
            dataSource.customer == null ? "Retail" : dataSource.customer.name
          }}
        </p>

        <h5>{{ "deposit__view__deposit-data" | translate }}</h5>
        <mat-divider class="mb-2" />
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th style="width: 250px" rowspan="2">
                  {{ "deposit__view__table__item" | translate }}
                </th>
                <th style="width: 150px" rowspan="2" class="text-center">
                  {{ "deposit__view__table__quantity" | translate }}
                </th>
                <th style="width: 250px" rowspan="2" class="text-center">
                  {{ "deposit__view__table__price" | translate }}
                </th>
                <th colspan="2" class="text-center">
                  {{ "deposit__view__table__discount" | translate }}
                </th>
                <th style="width: 250px" rowspan="2" class="text-center">
                  {{ "deposit__view__table__total" | translate }}
                </th>
              </tr>
              <tr>
                <th style="width: 150px" class="text-center">Rp.</th>
                <th style="width: 100px" class="text-center">%</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dataSource.deposit">
                <td>
                  <p>{{ item.product.reference }}</p>
                  <p class="text-clamp-1">{{ item.product.description }}</p>
                </td>
                <td class="text-center">
                  {{ item.quantity | number : "0.0-2" }}
                  {{
                    item.product_unit == null
                      ? item.product.unit
                      : item.product_unit.unit
                  }}
                </td>
                <td class="text-center">
                  {{ item.price | number : "0.2-2" }}
                </td>
                <td class="text-center">
                  {{ item.discount | number : "0.2-2" }}
                </td>
                <td class="text-center">
                  {{
                    item.price == 0
                      ? 0
                      : ((item.discount * 100) / item.price | number : "0.0-2")
                  }}&nbsp;%
                </td>
                <td class="text-center">
                  {{ item.price * item.quantity | number : "0.2-2" }}
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4"></td>
                <td class="text-center">
                  {{ "deposit__view__table__subtotal" | translate }}
                </td>
                <td class="text-center" colspan="2">
                  {{ dataSource.subTotal | number : "0.2-2" }}
                </td>
              </tr>
              <tr>
                <td colspan="4"></td>
                <td class="text-center">
                  {{ "deposit__view__table__discount" | translate }}
                </td>
                <td class="text-center" colspan="2">
                  {{ dataSource.discount | number : "0.2-2" }}
                </td>
              </tr>
              <tr>
                <td colspan="4"></td>
                <td class="text-center">
                  {{ "deposit__view__table__service" | translate }}
                </td>
                <td class="text-center" colspan="2">
                  {{ dataSource.service | number : "0.2-2" }}
                </td>
              </tr>
              <tr>
                <td colspan="4"></td>
                <td class="text-center">
                  {{ "deposit__view__table__delivery" | translate }}
                </td>
                <td class="text-center" colspan="2">
                  {{ dataSource.delivery | number : "0.2-2" }}
                </td>
              </tr>
              <tr>
                <td colspan="4"></td>
                <td class="text-center">
                  {{ "deposit__view__table__total" | translate }}
                </td>
                <td class="text-center" colspan="2">
                  {{
                    dataSource.subTotal -
                      dataSource.discount +
                      dataSource.delivery +
                      dataSource.service | number : "0.2-2"
                  }}
                </td>
              </tr>
            </tfoot>
          </table>
        </div>

        <h5 class="mt-4">
          {{ "deposit__view__payment-data" | translate }}
        </h5>
        <mat-divider />
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>{{ "deposit__view__table__payment-date" | translate }}</th>
                <th>
                  {{ "deposit__view__table__payment-method" | translate }}
                </th>
                <th>
                  {{ "deposit__view__table__payment-amount" | translate }}
                </th>
              </tr>
            </thead>
            <tbody *ngIf="dataSource.deposit_payment.length > 0">
              <tr *ngFor="let payment of dataSource.deposit_payment">
                <td>{{ payment.date | date : "dd MMMM YYYY" }}</td>
                <td>
                  {{
                    payment.payment_method == null
                      ? "Cash"
                      : payment.payment_method.name
                  }}
                </td>
                <td>{{ payment.value | number : "0.2-2" }}</td>
              </tr>
            </tbody>
            <tbody *ngIf="dataSource.deposit_payment.length == 0">
              <tr>
                <td colspan="3" class="text-center">No payment</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="shortcuts">
      <div class="shortcut-key">
        <span class="shortcut-key-label">ESC</span>
        <span class="shortcut-key-function">{{
          "general__back" | translate
        }}</span>
      </div>
      <div class="shortcut-key">
        <span class="shortcut-key-label">F</span>
        <span class="shortcut-key-function">{{
          "general__toggle-full-screen" | translate
        }}</span>
      </div>
      <div class="shortcut-key">
        <span class="shortcut-key-label">P</span>
        <span class="shortcut-key-function">{{
          "general__print" | translate
        }}</span>
      </div>
    </div>
    <div class="actions">
      <button class="action-button mx-1" (click)="confirmDeposit()">
        {{ "deposit__view__confirm-button" | translate }}
      </button>
      <button class="action-button mx-1" (click)="deleteDeposit()">
        {{ "deposit__view__delete-button" | translate }}
      </button>
    </div>
  </div>
</div> -->
