<div class="view-panel-wrapper">
  <div class="view-panel-backdrop" (click)="close()"></div>
  <div class="view-panel" [@panelAnimation]="panelState">
    <div class="row-action">
      <h2 mat-dialog-title>{{ "deposit__view__title" | translate }}</h2>
      <div class="d-flex">
        <button mat-icon-button (click)="enlarge()">
          <mat-icon *ngIf="panelState != 'enlarged'">open_in_full</mat-icon>
          <mat-icon *ngIf="panelState == 'enlarged'">close_fullscreen</mat-icon>
        </button>
        <button mat-icon-button (click)="close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div class="view-panel-content" id="content">
      <mat-spinner id="spinner" *ngIf="isLoading" />

      <div *ngIf="!isLoading">
        <h5 class="mt-2">{{ "deposit__view__general-data" | translate }}</h5>
        <mat-divider class="mb-3" />
        <label>{{ "deposit__view__date" | translate }}</label>
        <p>{{ dataSource.date | date : "MM/dd/yyyy" }}</p>

        <label>{{ "deposit__view__name" | translate }}</label>
        <p>{{ dataSource.name }}</p>

        <label>{{ "deposit__view__sales" | translate }}</label>
        <p>
          {{ dataSource.sales == null ? "INTERNAL" : dataSource.sales }}
        </p>

        <label>{{ "deposit__view__amount" | translate }}</label>
        <p>
          {{
            dataSource.subTotal -
              dataSource.discount +
              dataSource.delivery +
              dataSource.service | mask : "separator.2"
          }}
        </p>

        <label>{{ "deposit__view__customer" | translate }}</label>
        <p>
          {{
            dataSource.customer == null ? "Retail" : dataSource.customer.name
          }}
        </p>

        <h5>{{ "deposit__view__deposit-data" | translate }}</h5>
        <mat-divider class="mb-2" />
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th style="width: 250px" rowspan="2">
                  {{ "deposit__view__table__item" | translate }}
                </th>
                <th style="width: 150px" rowspan="2" class="text-center">
                  {{ "deposit__view__table__quantity" | translate }}
                </th>
                <th style="width: 250px" rowspan="2" class="text-center">
                  {{ "deposit__view__table__price" | translate }}
                </th>
                <th colspan="2" class="text-center">
                  {{ "deposit__view__table__discount" | translate }}
                </th>
                <th style="width: 250px" rowspan="2" class="text-center">
                  {{ "deposit__view__table__total" | translate }}
                </th>
              </tr>
              <tr>
                <th style="width: 150px" class="text-center">Rp.</th>
                <th style="width: 100px" class="text-center">%</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dataSource.deposit">
                <td>
                  <p>{{ item.product.reference }}</p>
                  <p class="text-clamp-1">{{ item.product.description }}</p>
                </td>
                <td class="text-center">
                  {{ item.quantity | number : "0.0-2" }}
                  {{
                    item.product_unit == null
                      ? item.product.unit
                      : item.product_unit.unit
                  }}
                </td>
                <td class="text-center">
                  {{ item.price | number : "0.2-2" }}
                </td>
                <td class="text-center">
                  {{ item.discount | number : "0.2-2" }}
                </td>
                <td class="text-center">
                  {{
                    item.price == 0
                      ? 0
                      : ((item.discount * 100) / item.price | number : "0.0-2")
                  }}&nbsp;%
                </td>
                <td class="text-center">
                  {{ item.price * item.quantity | number : "0.2-2" }}
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4"></td>
                <td class="text-center">
                  {{ "deposit__view__table__subtotal" | translate }}
                </td>
                <td class="text-center" colspan="2">
                  {{ dataSource.subTotal | number : "0.2-2" }}
                </td>
              </tr>
              <tr>
                <td colspan="4"></td>
                <td class="text-center">
                  {{ "deposit__view__table__discount" | translate }}
                </td>
                <td class="text-center" colspan="2">
                  {{ dataSource.discount | number : "0.2-2" }}
                </td>
              </tr>
              <tr>
                <td colspan="4"></td>
                <td class="text-center">
                  {{ "deposit__view__table__service" | translate }}
                </td>
                <td class="text-center" colspan="2">
                  {{ dataSource.service | number : "0.2-2" }}
                </td>
              </tr>
              <tr>
                <td colspan="4"></td>
                <td class="text-center">
                  {{ "deposit__view__table__delivery" | translate }}
                </td>
                <td class="text-center" colspan="2">
                  {{ dataSource.delivery | number : "0.2-2" }}
                </td>
              </tr>
              <tr>
                <td colspan="4"></td>
                <td class="text-center">
                  {{ "deposit__view__table__total" | translate }}
                </td>
                <td class="text-center" colspan="2">
                  {{
                    dataSource.subTotal -
                      dataSource.discount +
                      dataSource.delivery +
                      dataSource.service | number : "0.2-2"
                  }}
                </td>
              </tr>
            </tfoot>
          </table>
        </div>

        <h5 class="mt-4">
          {{ "deposit__view__payment-data" | translate }}
        </h5>
        <mat-divider />
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>{{ "deposit__view__table__payment-date" | translate }}</th>
                <th>
                  {{ "deposit__view__table__payment-method" | translate }}
                </th>
                <th>
                  {{ "deposit__view__table__payment-amount" | translate }}
                </th>
              </tr>
            </thead>
            <tbody *ngIf="dataSource.deposit_payment.length > 0">
              <tr *ngFor="let payment of dataSource.deposit_payment">
                <td>{{ payment.date | date : "dd MMMM YYYY" }}</td>
                <td>
                  {{
                    payment.payment_method == null
                      ? "Cash"
                      : payment.payment_method.name
                  }}
                </td>
                <td>{{ payment.value | number : "0.2-2" }}</td>
              </tr>
            </tbody>
            <tbody *ngIf="dataSource.deposit_payment.length == 0">
              <tr>
                <td colspan="3" class="text-center">No payment</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="shortcuts">
      <div class="shortcut-key">
        <span class="shortcut-key-label">ESC</span>
        <span class="shortcut-key-function">{{
          "general__back" | translate
        }}</span>
      </div>
      <div class="shortcut-key">
        <span class="shortcut-key-label">F</span>
        <span class="shortcut-key-function">{{
          "general__toggle-full-screen" | translate
        }}</span>
      </div>
      <div class="shortcut-key">
        <span class="shortcut-key-label">P</span>
        <span class="shortcut-key-function">{{
          "general__print" | translate
        }}</span>
      </div>
    </div>
    <div class="actions">
      <button class="action-button mx-1" (click)="confirmDeposit()">
        {{ "deposit__view__confirm-button" | translate }}
      </button>
      <button class="action-button mx-1" (click)="deleteDeposit()">
        {{ "deposit__view__delete-button" | translate }}
      </button>
    </div>
  </div>
</div>
