<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2>
        {{ "product__title" | translate }} /
        {{ "product__title__create" | translate }}
      </h2>
      <mat-stepper #stepper>
        <mat-step [stepControl]="itemFormGroup">
          <ng-template matStepLabel>General </ng-template>

          <form [formGroup]="itemFormGroup" class="pt-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{ "product__add__reference" | translate }}</mat-label>
              <input
                [disabled]="isSubmitting"
                matInput
                placeholder="Ex. MLT-9-G"
                type="text"
                formControlName="reference"
              />
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{
                "product__add__description" | translate
              }}</mat-label>
              <textarea
                [disabled]="isSubmitting"
                matInput
                placeholder="Ex. Multiplek 9mm Garuda"
                type="text"
                formControlName="description"
              ></textarea>
            </mat-form-field>
            <app-autocomplete-search
              [label]="'product__add__brand' | translate"
              routeName="product-brand"
              (onSelectData)="onSelectBrand($event)"
              (onUnselectData)="onUnselectBrand()"
              [selected]="itemFormGroup.controls['product_brand_id'].valid"
            ></app-autocomplete-search>

            <app-autocomplete-search
              [label]="'product__add__type' | translate"
              routeName="product-type"
              (onSelectData)="onSelectType($event)"
              (onUnselectData)="onUnselectType()"
              [selected]="itemFormGroup.controls['product_type_id'].valid"
            ></app-autocomplete-search>

            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{
                "product__add__minimum-stock" | translate
              }}</mat-label>
              <input
                [disabled]="isSubmitting"
                matInput
                placeholder="Ex. 200"
                type="text"
                mask="separator.2"
                thousandSeparator=" "
                formControlName="minimum_stock"
              />
            </mat-form-field>

            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{ "product__add__unit" | translate }}</mat-label>
              <mat-select formControlName="unit">
                <mat-option value="PCS">PCS</mat-option>
                <mat-option value="SET">SET</mat-option>
                <mat-option value="BOX">BOX</mat-option>
                <mat-option value="LEMBAR">LEMBAR</mat-option>
                <mat-option value="BATANG">BATANG</mat-option>
                <mat-option value="KALENG">KALENG</mat-option>
                <mat-option value="GALON">GALON</mat-option>
                <mat-option value="BLEK">BLEK</mat-option>
                <mat-option value="METER">METER</mat-option>
                <mat-option value="ROLL">ROLL</mat-option>
                <mat-option value="TUBE">TUBE</mat-option>
                <mat-option value="PASANG">PASANG</mat-option>
                <mat-option value="M2"
                  >M<sup>2</sup> (METER PERSEGI)</mat-option
                >

                <mat-option value="KG">KG</mat-option>
              </mat-select>
            </mat-form-field>

            <label class="mb-3">{{
              "product__add__create__unit__sales-price__title" | translate
            }}</label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{
                "product__add__create__unit__sales-price" | translate
              }}</mat-label>
              <input
                [disabled]="isSubmitting"
                matInput
                type="text"
                formControlName="sales_price"
                placeholder="Ex. 200"
                mask="separator.2"
                thousandSeparator=" "
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{
                "product__add__create__unit__sales-discount" | translate
              }}</mat-label>
              <input
                [disabled]="isSubmitting"
                matInput
                type="text"
                formControlName="sales_discount"
                placeholder="Ex. 200"
                mask="separator.2"
                thousandSeparator=" "
              />
            </mat-form-field>

            <label class="mb-3">{{
              "product__add__create__unit__purchase-price__title" | translate
            }}</label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{
                "product__add__create__unit__purchase-price" | translate
              }}</mat-label>
              <input
                [disabled]="isSubmitting"
                matInput
                type="text"
                formControlName="purchase_price"
                placeholder="Ex. 200"
                mask="separator.2"
                thousandSeparator=" "
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{
                "product__add__create__unit__purchase-discount" | translate
              }}</mat-label>
              <input
                [disabled]="isSubmitting"
                matInput
                type="text"
                formControlName="purchase_discount"
                placeholder="Ex. 200"
                mask="separator.2"
                thousandSeparator=" "
              />
            </mat-form-field>

            <button
              mat-stroked-button
              color="primary"
              style="letter-spacing: 0"
              matStepperNext
              [disabled]="itemFormGroup.invalid || isSubmitting"
            >
              {{ "product__add__next" | translate }}
            </button>
          </form>
        </mat-step>

        <mat-step [stepControl]="unitFormGroup">
          <ng-template matStepLabel>Purchase </ng-template>

          <button
            mat-stroked-button
            color="primary"
            class="mb-2"
            type="button"
            style="letter-spacing: 0"
            (click)="addUnit()"
          >
            Add unit
          </button>

          <form [formGroup]="unitFormGroup" (ngSubmit)="submitForm()">
            <table class="table w-100 mb-2">
              <thead>
                <tr>
                  <th>{{ "product__add__unit" | translate }}</th>
                  <th>{{ "product__add__unit__conversion" | translate }}</th>
                  <th>{{ "product__add__unit__sales-price" | translate }}</th>
                  <th>
                    {{ "product__add__unit__sales-discount" | translate }}
                  </th>
                  <th>
                    {{ "product__add__unit__purchase-price" | translate }}
                  </th>
                  <th>
                    {{ "product__add__unit__purchase-discount" | translate }}
                  </th>
                  <th>
                    {{ "product__create__estimated-margin" | translate }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ itemFormGroup.get("unit")?.value }}</td>
                  <td>1</td>
                  <td>
                    Rp.
                    {{
                      itemFormGroup.get("sales_price")?.value | number : "1.0-2"
                    }}
                  </td>
                  <td>
                    Rp.
                    {{
                      itemFormGroup.get("sales_discount")?.value
                        | number : "1.0-2"
                    }}
                  </td>
                  <td>
                    Rp.
                    {{
                      itemFormGroup.get("purchase_price")?.value
                        | number : "1.0-2"
                    }}
                  </td>
                  <td>
                    Rp.
                    {{
                      itemFormGroup.get("purchase_discount")?.value
                        | number : "1.0-2"
                    }}
                  </td>
                  <td>
                    {{
                      ((itemFormGroup.get("sales_price")?.value -
                        itemFormGroup.get("sales_discount")?.value -
                        itemFormGroup.get("purchase_price")?.value +
                        itemFormGroup.get("purchase_discount")?.value) /
                        (itemFormGroup.get("sales_price")?.value -
                          itemFormGroup.get("sales_discount")?.value)) *
                        100 | number : "1.0-2"
                    }}%
                  </td>
                </tr>
                <tr
                  [formGroup]="getFormAt(i)"
                  *ngFor="let item of t.controls; index as i"
                >
                  <td class="align-middle">
                    {{ item.get("unit")?.value }}
                  </td>
                  <td class="align-middle">
                    {{ item.get("conversion")?.value ?? 0 | number : "0.0-2" }}
                  </td>
                  <td class="align-middle">
                    Rp. {{ item.get("sales_price")?.value | number : "1.0-2" }}
                  </td>
                  <td>
                    Rp.
                    {{ item.get("sales_discount")?.value | number : "1.0-2" }}
                  </td>
                  <td class="align-middle">
                    Rp.
                    {{ item.get("purchase_price")?.value | number : "1.0-2" }}
                  </td>
                  <td class="align-middle">
                    Rp.
                    {{
                      item.get("purchase_discount")?.value | number : "1.0-2"
                    }}
                  </td>
                  <td class="align-middle">
                    {{
                      ((item.get("sales_price")?.value -
                        item.get("sales_discount")?.value -
                        item.get("purchase_price")?.value +
                        item.get("purchase_discount")?.value) /
                        (item.get("sales_price")?.value -
                          item.get("sales_discount")?.value)) *
                        100 | number : "1.0-2"
                    }}%
                  </td>
                </tr>
              </tbody>
            </table>
            <button
              mat-stroked-button
              color="primary"
              type="submit"
              [disabled]="
                isSubmitting || !unitFormGroup.valid || !itemFormGroup.valid
              "
            >
              {{ "product__add__submit" | translate }}
            </button>
          </form>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
</div>
