<div class="dashboard__wrapper">
  <div class="dashboard__wrapper-background">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12" id="get-started">
          <img src="/assets/images/get-started.png" class="dashboard__hero" />
          <div class="get-started__text-box px-3">
            <h1>{{ "dashboard-general__hero" | translate }}</h1>
            <p>{{ "dashboard-general__description" | translate }}</p>
            <div class="get-started__text-box__button-wrapper">
              <button
                class="download-button"
                matTooltip="Stock application"
                (click)="goToStockApplication()"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="30px"
                  viewBox="0 -960 960 960"
                  width="30px"
                  fill="#e8eaed"
                >
                  <path
                    d="M200-80q-33 0-56.5-23.5T120-160v-451q-18-11-29-28.5T80-680v-120q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v120q0 23-11 40.5T840-611v451q0 33-23.5 56.5T760-80H200Zm0-520v440h560v-440H200Zm-40-80h640v-120H160v120Zm200 280h240v-80H360v80Zm120 20Z"
                  />
                </svg>
              </button>
              <div class="vertical-divider mx-2"></div>
              <button
                class="download-button white"
                matTooltip="Back to dashboard"
                [routerLink]="'/'"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="#041e49"
                >
                  <path
                    d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"
                  />
                </svg>
              </button>
            </div>
            <small>{{
              "dashboard-administrator__other-application" | translate
            }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-grid-list
        [cols]="columnNumber"
        [rowHeight]="aspectRatio"
        class="w-100"
        gutterSize="20"
        class="grid-list"
      >
        <mat-grid-tile *ngFor="let stat of stats">
          <app-stat-card
            class="w-100 h-100"
            [previousValue]="stat.previousValue"
            [title]="stat.title"
            [value]="stat.value"
          />
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 mt-5 mb-3">
      <mat-accordion [hideToggle]="true">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>{{ "dashboard-general__quick-picks" | translate }}</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="quick-picks__wrapper">
            <button
              class="quick-picks__wrapper__button"
              [matTooltip]="'dashboard-general__sales-report' | translate"
              (click)="openReport('sales')"
            >
              <svg
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    opacity="0.4"
                    d="M6.73022 19.7C7.55022 18.82 8.80023 18.89 9.52023 19.85L10.5302 21.2C11.3402 22.27 12.6502 22.27 13.4602 21.2L14.4702 19.85C15.1902 18.89 16.4402 18.82 17.2602 19.7C19.0402 21.6 20.4902 20.97 20.4902 18.31V7.04C20.4902 3.01 19.5502 2 15.7702 2H8.21024C4.43024 2 3.49023 3.01 3.49023 7.04V18.3C3.50023 20.97 4.96022 21.59 6.73022 19.7Z"
                    fill="#5985e1"
                  ></path>
                  <path
                    d="M14.75 10.75H9.25C8.84 10.75 8.5 10.41 8.5 10C8.5 9.59 8.84 9.25 9.25 9.25H14.75C15.16 9.25 15.5 9.59 15.5 10C15.5 10.41 15.16 10.75 14.75 10.75Z"
                    fill="#5985e1"
                  ></path>
                </g>
              </svg>
              <p>{{ "dashboard-general__sales-report" | translate }}</p>
            </button>

            <button
              class="quick-picks__wrapper__button"
              [matTooltip]="'dashboard-general__output-report' | translate"
              (click)="openReport('output')"
            >
              <svg
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M10.9795 6.19L7.2695 2.47998C7.1995 2.40998 7.10949 2.35 7.00949 2.31C6.99949 2.31 6.98946 2.30999 6.97946 2.29999C6.89946 2.26999 6.80945 2.25 6.71945 2.25C6.51945 2.25 6.32948 2.32997 6.18948 2.46997L2.46945 6.19C2.17945 6.48 2.17945 6.96 2.46945 7.25C2.75945 7.54 3.23951 7.54 3.52951 7.25L5.97946 4.79999V21C5.97946 21.41 6.31946 21.75 6.72946 21.75C7.13946 21.75 7.47946 21.41 7.47946 21V4.81L9.91947 7.25C10.0695 7.4 10.2595 7.46997 10.4495 7.46997C10.6395 7.46997 10.8295 7.4 10.9795 7.25C11.2695 6.96 11.2695 6.49 10.9795 6.19Z"
                    fill="#5985e1"
                  ></path>
                  <path
                    opacity="0.4"
                    d="M21.5302 16.75C21.2402 16.46 20.7602 16.46 20.4702 16.75L18.0202 19.2V3C18.0202 2.59 17.6802 2.25 17.2702 2.25C16.8602 2.25 16.5202 2.59 16.5202 3V19.19L14.0802 16.75C13.7902 16.46 13.3102 16.46 13.0202 16.75C12.7302 17.04 12.7302 17.52 13.0202 17.81L16.7302 21.52C16.8002 21.59 16.8902 21.65 16.9902 21.69C17.0002 21.69 17.0102 21.69 17.0202 21.7C17.1002 21.73 17.1902 21.75 17.2802 21.75C17.4802 21.75 17.6702 21.67 17.8102 21.53L21.5302 17.81C21.8202 17.51 21.8202 17.04 21.5302 16.75Z"
                    fill="#5985e1"
                  ></path>
                </g>
              </svg>
              <p>{{ "dashboard-general__output-report" | translate }}</p>
            </button>

            <button
              class="quick-picks__wrapper__button"
              [matTooltip]="'dashboard-general__daily-report' | translate"
              (click)="openReport('daily')"
            >
              <svg
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M8 1.25C8.41421 1.25 8.75 1.58579 8.75 2V5C8.75 5.41421 8.41421 5.75 8 5.75C7.58579 5.75 7.25 5.41421 7.25 5V2C7.25 1.58579 7.58579 1.25 8 1.25Z"
                    [attr.fill]="isLoadingDailyReport ? '#949494' : '#5985e1'"
                  ></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M16 1.25C16.4142 1.25 16.75 1.58579 16.75 2V5C16.75 5.41421 16.4142 5.75 16 5.75C15.5858 5.75 15.25 5.41421 15.25 5V2C15.25 1.58579 15.5858 1.25 16 1.25Z"
                    [attr.fill]="isLoadingDailyReport ? '#949494' : '#5985e1'"
                  ></path>
                  <path
                    opacity="0.4"
                    d="M21.5 8.37V17.13C21.5 17.29 21.49 17.45 21.48 17.6H2.52C2.51 17.45 2.5 17.29 2.5 17.13V8.37C2.5 5.68 4.68 3.5 7.37 3.5H16.63C19.32 3.5 21.5 5.68 21.5 8.37Z"
                    [attr.fill]="isLoadingDailyReport ? '#949494' : '#5985e1'"
                  ></path>
                  <path
                    d="M21.4795 17.6001C21.2395 20.0701 19.1595 22.0001 16.6295 22.0001H7.36953C4.83953 22.0001 2.75953 20.0701 2.51953 17.6001H21.4795Z"
                    [attr.fill]="isLoadingDailyReport ? '#949494' : '#5985e1'"
                  ></path>
                  <path
                    d="M13.53 11.62C13.98 11.31 14.26 10.85 14.26 10.23C14.26 8.93001 13.22 8.26001 12 8.26001C10.78 8.26001 9.73 8.93001 9.73 10.23C9.73 10.85 10.02 11.32 10.46 11.62C9.85 11.98 9.5 12.56 9.5 13.24C9.5 14.48 10.45 15.25 12 15.25C13.54 15.25 14.5 14.48 14.5 13.24C14.5 12.56 14.15 11.97 13.53 11.62ZM12 9.50001C12.52 9.50001 12.9 9.79001 12.9 10.29C12.9 10.78 12.52 11.09 12 11.09C11.48 11.09 11.1 10.78 11.1 10.29C11.1 9.79001 11.48 9.50001 12 9.50001ZM12 14C11.34 14 10.86 13.67 10.86 13.07C10.86 12.47 11.34 12.15 12 12.15C12.66 12.15 13.14 12.48 13.14 13.07C13.14 13.67 12.66 14 12 14Z"
                    [attr.fill]="isLoadingDailyReport ? '#949494' : '#5985e1'"
                  ></path>
                </g>
              </svg>
              <p>{{ "dashboard-general__daily-report" | translate }}</p>
            </button>
          </div>
          <app-gcp-info />
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
