<app-list-page
  [heading]="'user__title' | translate"
  [lede]="'user__lede' | translate"
  [searchPlaceholder]="'user__search' | translate"
  [addLabel]="'user__add' | translate"
  [keyword]="keyword"
  [page]="page"
  [pageSize]="pageSize"
  [total]="dataCount"
  [loading]="isLoading"
  [showPageSize]="false"
  (search)="cari($event)"
  (pageChange)="bukaHalaman($event)"
  (add)="tambah()"
  (refresh)="ambilData()"
>
  <table class="tabel">
    <thead>
      <tr>
        <th>{{ 'user__list__name' | translate }}</th>
        <th>{{ 'user__list__username' | translate }}</th>
        <th>{{ 'user__list__NIK' | translate }}</th>
        <th>{{ 'user__list__role' | translate }}</th>
        <th class="tabel__aksi-kepala">
          <span class="sr-only">{{ 'general__actions' | translate }}</span>
        </th>
      </tr>
    </thead>

    <tbody *ngIf="!isLoading && dataSource.length > 0">
      <tr
        *ngFor="let item of dataSource; trackBy: lacakPengguna"
        class="tabel__baris-klik"
        (click)="ubah(item)"
      >
        <td class="tabel__utama">{{ item.name }}</td>
        <td class="tabel__redup">{{ item.username }}</td>
        <td class="tabel__redup">{{ item.nik }}</td>
        <td><span class="tag-netral">{{ item.roleText }}</span></td>
        <td class="tabel__aksi" (click)="$event.stopPropagation()">
          <button
            type="button"
            class="tabel__aksi-btn"
            (click)="ubah(item)"
            [title]="'general__edit' | translate"
            [attr.aria-label]="'general__edit' | translate"
          >
            <i class="ph ph-pencil-simple" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>

    <tbody *ngIf="isLoading">
      <tr>
        <td colspan="5" class="tabel__pesan">{{ 'general__loading' | translate }}</td>
      </tr>
    </tbody>

    <tbody *ngIf="!isLoading && dataSource.length === 0">
      <tr>
        <td colspan="5">
          <app-tabel-kosong
            ikon="ph-users"
            [judul]="'user__empty__title' | translate"
            [penjelasan]="'user__empty__desc' | translate"
            [kataKunci]="keyword"
            (reset)="resetPencarian()"
          />
        </td>
      </tr>
    </tbody>
  </table>
</app-list-page>
