<app-feature-background />
<div class="container">
  <div class="row">
    <div class="col-12">
      <app-feature-header
        [title]="'user__title' | translate"
        [help]="'user__help' | translate"
        [isBackAvailable]="true"
      ></app-feature-header>
      <div class="dashboard-card">
        <app-feature-search
          [addButton]="true"
          route="user"
          [page]="page"
          [enable]="true"
          (onChange)="onUpdateData($event)"
          (onLoadingChange)="onUpdateLoadingStatus($event)"
          (updatePage)="onUpdatePage()"
          (onNewQuery)="page = 1"
        ></app-feature-search>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">
                  {{ "user__list__name" | translate }}
                </th>
                <th class="text-center">
                  {{ "user__list__username" | translate }}
                </th>
                <th class="text-center">{{ "user__list__NIK" | translate }}</th>
                <th class="text-center">
                  {{ "user__list__role" | translate }}
                </th>
              </tr>
            </thead>
            <tbody *ngIf="!isLoading && dataSource.length > 0">
              <tr
                *ngFor="let item of dataSource"
                (click)="openDialog(item.id!)"
              >
                <td class="text-center">{{ item.name }}</td>
                <td class="text-center">{{ item.username }}</td>
                <td class="text-center">{{ item.nik }}</td>
                <td class="text-center">{{ item.roleText }}</td>
              </tr>
            </tbody>
            <tbody *ngIf="!isLoading && dataSource.length == 0">
              <tr>
                <td colspan="4">
                  <empty-table />
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="isLoading">
              <tr>
                <td colspan="4" class="text-center">
                  <mat-spinner id="spinner"></mat-spinner>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <mat-paginator
          class="paginator"
          [pageIndex]="page - 1"
          [length]="dataCount"
          [pageSize]="10"
          (page)="changePage($event)"
          aria-label="Select page"
          hidePageSize="true"
          *ngIf="!isLoading"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
