.dashboard__wrapper {
  position: relative;
}

.dashboard__wrapper-background {
  height: 308px;
  width: 100%;
  background-color: rgba(124, 172, 248, 0.8);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.dashboard__menu-wrapper {
  position: relative;
  padding: 1rem;
  z-index: 2;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #35507d;
  margin-bottom: 2rem;
  margin-top: 5rem;
}

.dashboard__hero {
  position: absolute;
  height: 308px;
  bottom: 0;
  display: block;
}

.dashboard__hero.right {
  right: 0;
}

.dashboard__hero.left {
  left: 0;
}

@media screen and (max-width: 600px) {
  .dashboard__hero {
    display: none;
  }

  h3 {
    margin-bottom: 1rem;
  }
}
