<app-dialog-shell
  icon="ph ph-tag-simple"
  [heading]="'product__brand__update__title' | translate"
  [lede]="'product__brand__update__lede' | translate"
  [submitLabel]="'product__brand__update__submit' | translate"
  [submitting]="isSubmitting"
  [canSubmit]="!isLoading && brandFormGroup.valid"
  (submitted)="submitForm()"
  (close)="closeDialog()"
>
  <div [formGroup]="brandFormGroup">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ 'product__brand__name' | translate }}</mat-label>
      <input matInput type="text" formControlName="name" maxlength="45" autocomplete="off" [attr.disabled]="isLoading ? '' : null" [attr.placeholder]=" (isLoading ? 'general__loading' : 'product__brand__add__example') | translate " />
    </mat-form-field>
  </div>
</app-dialog-shell>
