.item-selector__wrapper {
  flex-grow: 1;
}

.item-selector__item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.3s all ease;
}

.item-selector__reference {
  font-family: "Poppins", sans-serif;
  font-size: 0.85rem;
  color: #0b57d0;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.item-selector__description {
  font-family: "Poppins", sans-serif;
  font-size: 0.85rem;
  color: #041e49;
  font-weight: 400;
  margin-bottom: 0.25rem;
}

.item-selector__unit-wrapper {
  width: 100%;
}

.item-selector__unit {
  font-family: "Poppins", sans-serif;
  font-size: 0.85rem;
  color: #041e49;
  font-weight: 400;
  margin-bottom: 0.25rem;
  transition: 0.3s all ease;
  width: 100%;
  padding: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
}

.item-selector__unit-icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-right: 0.25rem;
}

.item-selector__unit-text {
  flex-grow: 1;
}

.item-selector__unit:hover {
  color: #0b57d0;
  background-color: #f3f3f3;
}

@media screen and (max-width: 576px) {
  .create-dialog {
    width: 300px;
  }
}

@media screen and (min-width: 576px) {
  .create-dialog {
    width: 500px;
  }
}

@media screen and (min-width: 992px) {
  .create-dialog {
    width: 700px;
  }
}

@media screen and (min-width: 1200px) {
  .create-dialog {
    width: 800px;
  }
}
