<div class="dashboard-card">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>{{ "general__search-bar" | translate }}</mat-label>
    <input
      matInput
      #searchBar
      placeholder="Search item by its reference or description"
      [formControl]="searchBarFormControl"
    />
  </mat-form-field>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>{{ "sales-deposit__archive__date" | translate }}</th>
          <th>{{ "sales-deposit__archive__sales" | translate }}</th>
          <th>{{ "sales-deposit__archive__document" | translate }}</th>
          <th>{{ "sales-deposit__archive__customer" | translate }}</th>
          <th>{{ "sales-deposit__archive__amount" | translate }}</th>
        </tr>
      </thead>
      <tbody *ngIf="!isLoading && dataSource.length > 0">
        <tr *ngFor="let data of dataSource" (click)="viewDeposit(data.id)">
          <td>{{ data.date | date : "dd MMMM YY" }}</td>
          <td>{{ data.sales ?? "INTERNAL" }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.customer == null ? "Retail" : data.customer.name }}</td>
          <td>{{ getValue(data.sales_deposit) | number : "0.2-2" }}</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isLoading && dataSource.length == 0">
        <tr>
          <td colspan="6">
            <empty-table />
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="isLoading">
        <tr>
          <td colspan="6" class="text-center">
            <mat-spinner id="spinner"></mat-spinner>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <mat-paginator
    class="paginator"
    [pageIndex]="page - 1"
    [length]="dataCount"
    [pageSizeOptions]="[10, 25, 50]"
    [pageSize]="pageSize"
    (page)="changePage($event)"
    aria-label="Select page"
    *ngIf="!isLoading"
  >
  </mat-paginator>
</div>
