<app-feature-background />
<div class="container">
  <div class="row">
    <div class="col-12">
      <app-feature-header
        [title]="'supplier__title' | translate"
        [help]="'supplier__help' | translate"
        [isBackAvailable]="true"
      ></app-feature-header>
      <div class="dashboard-card">
        <app-feature-search
          [addButton]="true"
          route="supplier"
          [page]="page"
          [pageSize]="pageSize"
          [enable]="true"
          (onChange)="onUpdateData($event)"
          (onLoadingChange)="onUpdateLoadingStatus($event)"
          (updatePage)="onUpdatePage()"
          (onNewQuery)="page = 1"
        ></app-feature-search>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">{{ "supplier__name" | translate }}</th>
                <th class="text-center">
                  {{ "supplier__address" | translate }}
                </th>
                <th class="text-center">{{ "supplier__npwp" | translate }}</th>
              </tr>
            </thead>
            <tbody *ngIf="!isLoading && dataSource.length > 0">
              <tr *ngFor="let item of dataSource" (click)="openDialog(item.id)">
                <td class="text-center">{{ item.name }}</td>
                <td class="text-center">
                  <div class="text-clamp-2">{{ item.address }}</div>
                </td>
                <td class="text-center">
                  <span *ngIf="item.npwp != null">{{
                    item.npwp | mask : "00.000.000.0-000.000"
                  }}</span>
                  <span *ngIf="item.npwp == null">N/A</span>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!isLoading && dataSource.length == 0">
              <tr>
                <td colspan="3">
                  <empty-table />
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="isLoading">
              <tr>
                <td colspan="3" class="text-center">
                  <mat-spinner id="spinner"></mat-spinner>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <mat-paginator
          [disabled]="isLoading"
          class="paginator"
          [pageIndex]="page - 1"
          [length]="dataCount"
          [pageSize]="10"
          (page)="changePage($event)"
          aria-label="Select page"
          [pageSize]="pageSize"
          [pageSizeOptions]="[10, 25, 50]"
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
