<app-dynamic-dialog (backgroundClick)="closeDialog()" [isOpened]="isOpened">
  <app-dialog-shell
    icon="ph ph-squares-four"
    [heading]="'product__type__add__title' | translate"
    [lede]="'product__type__add__lede' | translate"
    [submitLabel]="'product__type__add__submit' | translate"
    [submitting]="isSubmitting"
    [canSubmit]="typeFormGroup.valid"
    (submitted)="submitForm()"
    (close)="closeDialog()"
  >
    <div class="medan" [formGroup]="typeFormGroup">
      <label for="nt-name">{{ 'product__type__name' | translate }}</label>
      <input
        #input
        id="nt-name"
        class="medan__input"
        type="text"
        formControlName="name"
        autocomplete="off"
        [attr.placeholder]="'product__type__add__example' | translate"
      />
    </div>
  </app-dialog-shell>
</app-dynamic-dialog>
