<app-dynamic-dialog (backgroundClick)="closeDialog()" [isOpened]="isOpened">
  <div class="create-dialog">
    <app-dialog-header
      [title]="'product__type__add__title' | translate"
      (onDialogClose)="closeDialog()"
    >
    </app-dialog-header>
    <form [formGroup]="typeFormGroup" (ngSubmit)="submitForm()">
      <div class="create-dialog__content">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ "product__type__name" | translate }}</mat-label>
          <input matInput type="text" formControlName="name" #input />
        </mat-form-field>
      </div>
      <div class="create-dialog__footer">
        <button
          type="submit"
          mat-stroked-button
          style="letter-spacing: 0"
          color="primary"
          [disabled]="isSubmitting || !typeFormGroup.valid"
        >
          {{ "product__type__add__submit" | translate }}
        </button>
      </div>
    </form>
  </div>
</app-dynamic-dialog>
