<app-dynamic-dialog (backgroundClick)="closeDialog()" [isOpened]="isOpened">
  <div class="create-dialog">
    <app-dialog-header
      [title]="'report-inventory__title' | translate"
      (onDialogClose)="closeDialog()"
    >
    </app-dialog-header>
    <div class="create-dialog__content">
      <h6>{{ "report-inventory__current-value" | translate }}</h6>
      <p [countUp]="value" [duration]="300"></p>
      <mat-divider></mat-divider>
      <div class="list-item" *ngFor="let c of data; index as i">
        <app-circle-avatar [name]="c.company[0] | uppercase" />
        <div class="list-item__text-wrapper">
          <h5>{{ c.company }}</h5>
          <p class="text-clamp-1">Rp.&nbsp;{{ c.value | number : "0.2-2" }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="create-dialog__footer">
    <button
      class="action-button mt-5"
      [disabled]="isDownloading"
      (click)="download()"
    >
      {{ "report-inventory__download-report" | translate }}
    </button>
  </div>
</app-dynamic-dialog>
