<h2 mat-dialog-title>
  {{ "sales-deposit__confirm__update-payment__title" | translate }}
</h2>

<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <mat-dialog-content>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{
        "sales-deposit__confirm__update-payment__date" | translate
      }}</mat-label>
      <input
        formControlName="date"
        matInput
        [matDatepicker]="picker"
        placeholder="Ex. 30/12/2023"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{
        "sales-deposit__confirm__update-payment__payment-method" | translate
      }}</mat-label>
      <input matInput formControlName="name" readonly />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{
        "sales-deposit__confirm__update-payment__amount" | translate
      }}</mat-label>
      <input
        matInput
        type="text"
        mask="separator"
        thousandSeparator=" "
        formControlName="value"
        autocomplete="off"
        placeholder="Ex. 800"
      />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button
      type="submit"
      [disabled]="!formGroup.valid"
      mat-stroked-button
      color="primary"
      style="letter-spacing: 0"
    >
      {{ "general__submit" | translate }}
    </button>
  </mat-dialog-actions>
</form>
