<label>Date</label>
<p>{{ data.date | date : "dd MMMM YYYY" }}</p>

<label>Name</label>
<p>{{ data.name }}</p>

<label>Tax invoice</label>
<p>{{ data.faktur == null ? "N/A" : data.faktur }}</p>

<label>Supplier</label>
<p>{{ data.good_receipt_code.supplier.name }}</p>

<label>Company</label>
<p>{{ data.good_receipt_code.company.name }}</p>

<label>Status</label>
<p>
  {{ data.is_delete ? "Deleted" : data.is_confirm ? "Confirmed" : "Pending" }}
</p>

<label>Created by</label>
<div class="created-by__wrapper">
  <p>{{ data.user_purchase_invoice_created_byTouser.name }}</p>
  <app-avatar
    *ngIf="data.user_purchase_invoice_created_byTouser.user_avatar != null"
    [top]="data.user_purchase_invoice_created_byTouser.user_avatar.top"
    [accessories]="
      data.user_purchase_invoice_created_byTouser.user_avatar.accessories
    "
    [eyes]="data.user_purchase_invoice_created_byTouser.user_avatar.eyes"
    [mouth]="data.user_purchase_invoice_created_byTouser.user_avatar.mouth"
    [clothes]="data.user_purchase_invoice_created_byTouser.user_avatar.clothes"
    [eyebrows]="
      data.user_purchase_invoice_created_byTouser.user_avatar.eyebrows
    "
    [circle]="data.user_purchase_invoice_created_byTouser.user_avatar.circle"
    [color]="data.user_purchase_invoice_created_byTouser.user_avatar.color"
    [width]="25"
  />
</div>

<label>Created at</label>
<p>{{ data.created_at | date : "dd MMMM YY H:m:s" }}</p>

<div class="table-responsive">
  <table class="table" id="my-table">
    <thead>
      <tr>
        <th rowspan="2">Item</th>
        <th rowspan="2" class="text-center">Quantity</th>
        <th rowspan="2" class="text-center">Price</th>
        <th colspan="2" class="text-center">Discount</th>
        <th rowspan="2" class="text-center">Total price</th>
      </tr>
      <tr>
        <th class="text-center">IDR</th>
        <th class="text-center">%</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data.good_receipt_code.good_receipt">
        <td>
          <p>{{ item.item.reference }}</p>
          <p class="text-clamp-1">{{ item.item.description }}</p>
        </td>
        <td class="text-center">
          {{ item.quantity | number : "0.0-2" }}
          {{ item.item_unit == null ? item.item.unit : item.item_unit.unit }}
        </td>
        <td class="text-center">Rp. {{ item.price | number : "0.2-2" }}</td>
        <td class="text-center">Rp. {{ item.discount | number : "0.2-2" }}</td>
        <td class="text-center">
          {{
            item.price == 0
              ? 0
              : ((item.discount / item.price) * 100 | number : "0.0-2")
          }}&nbsp;%
        </td>
        <td class="text-center">
          Rp.
          {{ (item.price - item.discount) * item.quantity | number : "0.2-2" }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3"></td>
        <td class="text-center">Subtotal</td>
        <td class="text-center" colspan="2">
          Rp. {{ data.subTotal | number : "0.2-2" }}
        </td>
      </tr>
      <tr>
        <td colspan="3"></td>
        <td class="text-center">Discount</td>
        <td class="text-center" colspan="2">
          Rp. {{ data.discount | number : "0.2-2" }}
        </td>
      </tr>
      <tr>
        <td colspan="3"></td>
        <td class="text-center">Total</td>
        <td class="text-center" colspan="2">
          Rp. {{ data.total | number : "0.2-2" }}
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<label>Actions</label>
<div *ngIf="!isAdministrator">There is no other action available.</div>
<div class="purchase-invoice__action-wrapper" *ngIf="isAdministrator">
  <button
    class="purchase-invoice__action"
    (click)="openDeleteConfirmation()"
    [disabled]="data.is_delete"
  >
    <mat-icon>delete</mat-icon>
    Delete
  </button>
  <button
    class="purchase-invoice__action"
    (click)="onEdit()"
    [disabled]="data.is_delete"
  >
    <mat-icon>edit</mat-icon>
    Edit
  </button>
</div>
