<h2 mat-dialog-title>
  {{ "purchase-invoice__confirm__update-price" | translate }}
</h2>

<form [formGroup]="priceFormGroup" (ngSubmit)="savePurchasePrice()">
  <mat-dialog-content>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{
        "purchase-invoice__confirm__price" | translate
      }}</mat-label>
      <input
        #price
        type="text"
        matInput
        mask="separator.2"
        thousandSeparator=" "
        placeholder="Ex. 8 000"
        formControlName="price"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label
        >{{
          "purchase-invoice__confirm__discount" | translate
        }}
        (Rp.)</mat-label
      >
      <input
        type="text"
        matInput
        mask="separator.2"
        thousandSeparator=" "
        placeholder="Ex. 800"
        formControlName="discount"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label
        >{{ "purchase-invoice__confirm__discount" | translate }} (%)</mat-label
      >
      <input
        type="text"
        matInput
        mask="separator.2"
        thousandSeparator=" "
        placeholder="Ex. 800"
        formControlName="discountPercentage"
      />
    </mat-form-field>

    <!-- Slide toggle, disabled if initialPrice is same with price -->
    <mat-slide-toggle
      class="w-100"
      color="primary"
      formControlName="save_price"
    >
      {{ "purchase-invoice__confirm__save-price" | translate }}
    </mat-slide-toggle>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button
      mat-stroked-button
      color="primary"
      style="letter-spacing: 0"
      type="submit"
      [disabled]="!priceFormGroup.valid"
    >
      {{ "purchase-invoice__confirm__save" | translate }}
    </button>
  </mat-dialog-actions>
</form>
