<h2 mat-dialog-title>{{ "product__add__create__unit__title" | translate }}</h2>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{
        "product__add__create__unit__name" | translate
      }}</mat-label>
      <input matInput type="text" formControlName="unit" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{
        "product__add__create__unit__conversion" | translate
      }}</mat-label>
      <input matInput type="text" formControlName="conversion" type="text" />
    </mat-form-field>
    <!-- Sales price & discount -->
    <label class="mb-3">{{
      "product__add__create__unit__sales-price__title" | translate
    }}</label>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{
        "product__add__create__unit__sales-price" | translate
      }}</mat-label>
      <input
        matInput
        type="text"
        formControlName="sales_price"
        type="text"
        placeholder="Ex. 200"
        type="text"
        mask="separator.2"
        thousandSeparator=" "
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{
        "product__add__create__unit__sales-discount" | translate
      }}</mat-label>
      <input
        matInput
        type="text"
        formControlName="sales_discount"
        type="text"
        placeholder="Ex. 200"
        type="text"
        mask="separator.2"
        thousandSeparator=" "
      />
    </mat-form-field>
    <label class="mb-3">{{
      "product__add__create__unit__purchase-price__title" | translate
    }}</label>
    <!-- Purchase price & discount -->
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{
        "product__add__create__unit__purchase-price" | translate
      }}</mat-label>
      <input
        matInput
        type="text"
        formControlName="purchase_price"
        type="text"
        placeholder="Ex. 200"
        type="text"
        mask="separator.2"
        thousandSeparator=" "
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{
        "product__add__create__unit__purchase-discount" | translate
      }}</mat-label>
      <input
        matInput
        type="text"
        formControlName="purchase_discount"
        type="text"
        placeholder="Ex. 200"
        type="text"
        mask="separator.2"
        thousandSeparator=" "
      />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-stroked-button
      color="primary"
      type="submit"
      style="letter-spacing: 0"
      [disabled]="formGroup.invalid"
    >
      {{ "product__add__create__unit__submit" | translate }}
    </button>
  </mat-dialog-actions>
</form>
