<h1 mat-dialog-title>Reset Password</h1>
<mat-dialog-content>
  <form
    [formGroup]="resetPasswordForm"
    (ngSubmit)="resetPassword()"
    class="mt-2"
  >
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Password</mat-label>
      <input
        formControlName="password"
        matInput
        placeholder="Ex. Password"
        type="password"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Confirm Password</mat-label>
      <input
        formControlName="confirmPassword"
        matInput
        placeholder="Ex. Password"
        type="password"
      />
    </mat-form-field>

    <button
      class="action-button"
      type="submit"
      [disabled]="
        !resetPasswordForm.valid ||
        isSubmitting ||
        resetPasswordForm.controls['password'].value !=
          resetPasswordForm.controls['confirmPassword'].value
      "
    >
      Reset
    </button>
  </form>
</mat-dialog-content>
