<h2 mat-dialog-title>{{ "expense-type__create__title" | translate }}</h2>
<form [formGroup]="expenseTypeFormGroup" (ngSubmit)="save()">
  <mat-dialog-content>
    <div class="expense-type__parent-wrapper" *ngIf="data.parentName != null">
      <h5>{{ "expense-type__create__parent-data" | translate }}</h5>
      <mat-divider class="mt-1 mb-2" />
      <h2>{{ data.parentName }}</h2>
      <p>{{ data.parentDescription }}</p>

      <mat-divider class="mt-2" />
    </div>

    <mat-form-field appearance="outline" class="w-100 mt-2">
      <mat-label>{{ "expense-type__create__name" | translate }}</mat-label>
      <input
        formControlName="name"
        matInput
        placeholder="Ex. Food"
        type="text"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{
        "expense-type__create__description" | translate
      }}</mat-label>
      <textarea
        formControlName="description"
        matInput
        placeholder="Ex. Food"
        type="text"
      ></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      mat-stroked-button
      style="letter-spacing: 0"
      type="submit"
      color="primary"
      [disabled]="isSubmitting || !expenseTypeFormGroup.valid"
    >
      {{ "expense-type__create__submit" | translate }}
    </button>
  </mat-dialog-actions>
</form>
