<div class="card__wrapper">
  <h3 class="card-label mb-3">{{ title }}</h3>
  <div class="dashboard-card-content">
    <p class="card-value text-center">{{ value | shortNumber }}</p>
    <div class="dashboard-card-content_against-wrapper">
      <p
        class="card-against-value"
        *ngIf="previousValue != undefined"
        [ngClass]="{
          up: previousValue < value,
          down: previousValue > value,
          equal: previousValue == value
        }"
      >
        <mat-icon>{{
          previousValue < value
            ? "arrow_upward"
            : previousValue > value
            ? "arrow_downward"
            : "horizontal_rule"
        }}</mat-icon>
        {{
          value == 0
            ? 100
            : value > previousValue
            ? (((value - previousValue) * 100) / previousValue
              | number : "0.1-1")
            : (((previousValue - value) * 100) / previousValue
              | number : "0.1-1")
        }}%
      </p>
      <p
        *ngIf="previousValue != undefined"
        class="card-against-label text-center"
      >
        <span class="against-text" *ngIf="againstText">{{ againstText }}</span>
        <span class="against-text" *ngIf="!againstText">against yesterday</span>
      </p>
    </div>
  </div>
</div>
