<h2 mat-dialog-title>{{ "supplier__update__title" | translate }}</h2>

<form [formGroup]="supplierFormGroup" (ngSubmit)="submitForm()">
  <mat-dialog-content>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{ "supplier__name" | translate }}</mat-label>
      <input
        [disabled]="isSubmitting"
        matInput
        placeholder="Ex. Abdul"
        type="text"
        formControlName="name"
      />
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{ "supplier__address" | translate }}</mat-label>
      <textarea
        [disabled]="isSubmitting"
        matInput
        placeholder="Ex. Jalan Raya ABC no. XX"
        type="text"
        formControlName="address"
      ></textarea>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{ "supplier__npwp" | translate }}</mat-label>
      <input
        [disabled]="isSubmitting"
        matInput
        mask="00.000.000.0-000.000"
        placeholder="Ex. XX.XXX.XXX.X-XXX.XXX"
        type="text"
        formControlName="npwp"
      />
    </mat-form-field>

    <button
      type="button"
      mat-stroked-button
      color="warn"
      style="letter-spacing: 0"
      [disabled]="
        !isAdministrator || supplierFormGroup.get('can_delete')?.value == false
      "
      (click)="openDeleteConfirmation()"
      *ngIf="!data.noAction"
    >
      {{ "supplier__view__delete" | translate }}
      <mat-icon>warning</mat-icon>
    </button>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button
      type="submit"
      mat-stroked-button
      style="letter-spacing: 0"
      color="primary"
      [disabled]="isSubmitting || !supplierFormGroup.valid"
    >
      {{ "supplier__update__submit" | translate }}
    </button>
  </mat-dialog-actions>
</form>
