<app-dialog-shell
  icon="ph ph-user-plus"
  [heading]="'user__create__title' | translate"
  [lede]="'user__create__lede' | translate"
  [submitLabel]="'user__create__submit' | translate"
  [submitting]="isSubmitting"
  [canSubmit]="bolehSimpan"
  (submitted)="submitForm()"
  (close)="closeDialog()"
>
  <div [formGroup]="userFormGroup">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ 'user__create__name' | translate }}</mat-label>
      <input matInput type="text" formControlName="name" autocomplete="off" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ 'user__create__nik' | translate }}</mat-label>
      <input matInput type="text" mask="0000000000000000" formControlName="nik" autocomplete="off" inputmode="numeric" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ 'user__create__username' | translate }}</mat-label>
      <input matInput type="text" formControlName="username" autocomplete="off" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ 'user__create__role' | translate }}</mat-label>
      <mat-select formControlName="role">
        <mat-option *ngFor="let peran of roles" [value]="peran.id">
          {{ peran.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Khusus Gudang: tipe produk yang boleh dijualnya. -->
    <ng-container *ngIf="peranGudang">
      <p class="petunjuk">
        <i class="ph ph-info" aria-hidden="true"></i>
        {{ 'user__create__types-note' | translate }}
      </p>

      <app-combo-search
        [label]="'user__create__types' | translate"
        inputId="user-types"
        route="product-type"
        [disabled]="isSubmitting"
        (pick)="onSelectType($event)"
      />

      <div class="chip-kumpul" *ngIf="tipeTerpilih.length > 0">
        <span class="saringan__kapsul" *ngFor="let tipe of tipeTerpilih; index as i">
          {{ tipe.name }}
          <button type="button" (click)="onRemoveType(i)" [attr.aria-label]="'general__delete' | translate">
            <i class="ph ph-x" aria-hidden="true"></i>
          </button>
        </span>
      </div>
    </ng-container>
  </div>
</app-dialog-shell>
