.items__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-list {
  display: flex;
  align-items: center;
  gap: 12px;
  background: white;
  transition: 0.3s all ease;
  flex-direction: row;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.item-list__icon {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

.item-list__text {
  display: flex;
  flex-direction: column;
  gap: 0;
  flex-grow: 1;
}

.item-list__text h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  margin: 0;
}

.item-list__text p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  margin: 0;
}
