svg {
  width: 1.1rem;
  height: 1.1rem;
  margin-left: 0.3rem;
}

.table thead th div {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
