<app-list-page
  [heading]="'product__brand__title' | translate"
  [lede]="'product__brand__lede' | translate"
  [searchPlaceholder]="'product__brand__search' | translate"
  [addLabel]="'product__brand__add' | translate"
  [page]="page"
  [pageSize]="pageSize"
  [total]="dataCount"
  [loading]="isLoading"
  (search)="cari($event)"
  (pageChange)="bukaHalaman($event)"
  (pageSizeChange)="gantiUkuran($event)"
  (add)="tambah()"
  (refresh)="ambilData()"
>
  <table class="tabel">
    <thead>
      <tr>
        <th>{{ 'product__brand__name' | translate }}</th>
        <th>{{ 'product__brand__created-by' | translate }}</th>
        <th>{{ 'product__brand__created-at' | translate }}</th>
        <th class="tabel__aksi-kepala">
          <span class="sr-only">{{ 'general__actions' | translate }}</span>
        </th>
      </tr>
    </thead>

    <tbody *ngIf="!isLoading && dataSource.length > 0">
      <tr *ngFor="let item of dataSource; trackBy: lacakMerek">
        <td class="tabel__utama">{{ item.name }}</td>
        <td class="tabel__redup">{{ item.user?.name }}</td>
        <td>{{ item.created_at | date: 'dd MMMM yyyy' }}</td>
        <td class="tabel__aksi">
          <button
            type="button"
            class="tabel__aksi-btn"
            [matMenuTriggerFor]="menu"
            [title]="'general__actions' | translate"
            [attr.aria-label]="'general__actions' | translate"
          >
            <i class="ph ph-dots-three-outline" aria-hidden="true"></i>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item type="button" (click)="ubah(item)">
              <i class="ph ph-pencil-simple" aria-hidden="true"></i>
              <span>{{ 'product__brand__update' | translate }}</span>
            </button>
            <!--
              Tetap ditampilkan meski tidak bisa dihapus, hanya dimatikan.
              Menyembunyikannya membuat pengguna mengira menu ini berbeda-beda
              isinya, padahal alasannya sederhana: merek itu masih dipakai.
            -->
            <button
              mat-menu-item
              type="button"
              [disabled]="!item.can_delete"
              (click)="hapus(item)"
            >
              <i class="ph ph-trash" aria-hidden="true"></i>
              <span>{{ 'product__brand__delete' | translate }}</span>
            </button>
          </mat-menu>
        </td>
      </tr>
    </tbody>

    <tbody *ngIf="isLoading">
      <tr>
        <td colspan="4" class="tabel__pesan">
          {{ 'general__loading' | translate }}
        </td>
      </tr>
    </tbody>

    <tbody *ngIf="!isLoading && dataSource.length === 0">
      <tr>
        <td colspan="4" class="tabel__pesan">
          {{ 'general__no-data' | translate }}
        </td>
      </tr>
    </tbody>
  </table>
</app-list-page>
