<app-archives
  heading="purchase-invoice__title"
  lede="archives__lede"
  [@slideInOutAnimation]="mode == 0 ? 'in' : 'out'"
  route="good-receipt"
  (onMonthSelected)="onMonthSelected($event)"
/>

<div class="container" [@slideInOutAnimation]="mode == 1 ? 'in' : 'out'">
  <div class="row">
    <div class="col-12">
      <div class="dashboard-card">
        <app-archive-search
          [isFilterAvailable]="true"
          (onQueryChanged)="onQueryChanged($event)"
          (onFilterButtonClicked)="openFilter()"
        />
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th style="width: 250px" (click)="changeSortBy('date')">
                  <div class="d-flex align-items-center">
                    <span>{{ "good-receipt__archive__date" | translate }}</span>
                    <mat-icon
                      class="icon-display"
                      [ngClass]="{
                        asc: sortBy === 'date' && sortDirection === 'asc',
                        desc: sortBy === 'date' && sortDirection === 'desc'
                      }"
                      >arrow_downward</mat-icon
                    >
                  </div>
                </th>
                <th style="width: 250px" (click)="changeSortBy('invoice-name')">
                  <div class="d-flex align-items-center">
                    <span>
                      {{
                        "good-receipt__archive__invoice-name" | translate
                      }}</span
                    >
                    <mat-icon
                      class="icon-display"
                      [ngClass]="{
                        asc:
                          sortBy === 'invoice-name' && sortDirection === 'asc',
                        desc:
                          sortBy === 'invoice-name' && sortDirection === 'desc'
                      }"
                      >arrow_downward</mat-icon
                    >
                  </div>
                </th>
                <th style="width: 250px" (click)="changeSortBy('company')">
                  <div class="d-flex align-items-center">
                    <span>
                      {{ "good-receipt__archive__company" | translate }}</span
                    >
                    <mat-icon
                      class="icon-display"
                      [ngClass]="{
                        asc: sortBy === 'company' && sortDirection === 'asc',
                        desc: sortBy === 'company' && sortDirection === 'desc'
                      }"
                      >arrow_downward</mat-icon
                    >
                  </div>
                </th>
                <th style="width: 250px" (click)="changeSortBy('name')">
                  <div class="d-flex align-items-center">
                    <span>
                      {{ "good-receipt__archive__name" | translate }}</span
                    >
                    <mat-icon
                      class="icon-display"
                      [ngClass]="{
                        asc: sortBy === 'name' && sortDirection === 'asc',
                        desc: sortBy === 'name' && sortDirection === 'desc'
                      }"
                      >arrow_downward</mat-icon
                    >
                  </div>
                </th>
                <th style="width: 250px">
                  {{ "good-receipt__archive__tax-invoice-name" | translate }}
                </th>
                <th style="width: 250px" (click)="changeSortBy('supplier')">
                  <div class="d-flex align-items-center">
                    <span>
                      {{ "good-receipt__archive__supplier" | translate }}</span
                    >
                    <mat-icon
                      class="icon-display"
                      [ngClass]="{
                        asc: sortBy === 'supplier' && sortDirection === 'asc',
                        desc: sortBy === 'supplier' && sortDirection === 'desc'
                      }"
                      >arrow_downward</mat-icon
                    >
                  </div>
                </th>
                <th style="width: 100px">Status</th>
              </tr>
            </thead>
            <tbody *ngIf="isLoading">
              <tr>
                <td colspan="6">
                  <mat-spinner id="spinner"></mat-spinner>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!isLoading && dataSource.length == 0">
              <tr>
                <td colspan="6">
                  <empty-table />
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!isLoading && dataSource.length > 0">
              <tr
                *ngFor="let item of dataSource; index as i"
                (click)="viewArchive(item.id)"
              >
                <td>{{ item.date | date : "dd MMMM YYYY" }}</td>
                <td>{{ item.invoice_name ?? "N/A" }}</td>
                <td>{{ item.company.name }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.faktur == null ? "N/A" : item.faktur }}</td>
                <td>{{ item.supplier.name }}</td>
                <td>
                  {{
                    (item.is_delete
                      ? "good-receipt__archive__status__deleted"
                      : !item.is_confirm
                      ? "good-receipt__archive__status__pending"
                      : "good-receipt__archive__status__active"
                    ) | translate
                  }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="paginator__wrapper">
          <button class="action-button p-relative" (click)="backToYear()">
            {{ "general__archive__back-to-previous" | translate }}
          </button>
          <mat-paginator
            [length]="dataCount"
            [pageSize]="10"
            [pageIndex]="page - 1"
            (page)="changePage($event)"
          />
        </div>
      </div>
    </div>
  </div>
</div>
