<div class="sales-chart__wrapper">
  <div class="sales-chart__bar__wrapper" *ngFor="let date of dates">
    <div class="sales-chart__bar">
      <div
        class="sales-chart__bar-4"
        [style.height.%]="
          maxService == 0 ? 0 : (getServiceOnDate(date) * 100) / maxService
        "
        [matTooltip]="
          ('report-sales__service' | translate) + getServiceTooltipOnDate(date)
        "
      ></div>
      <div
        class="sales-chart__bar-3"
        [style.height.%]="
          maxDiscount == 0 ? 0 : (getDiscountOnDate(date) * 100) / maxDiscount
        "
        [matTooltip]="
          ('report-sales__discount' | translate) +
          getDiscountTooltipOnDate(date)
        "
      ></div>
      <div
        class="sales-chart__bar-2"
        [style.height.%]="
          maxDelivery == 0 ? 0 : (getDeliveryOnDate(date) * 100) / maxDelivery
        "
        [matTooltip]="
          ('report-sales__delivery' | translate) +
          getDeliveryTooltipOnDate(date)
        "
      ></div>
      <div
        class="sales-chart__bar-1"
        [style.height.%]="
          maxValue == 0 ? 0 : (getValueOnDate(date) * 100) / maxValue
        "
        [matTooltip]="
          ('report-sales__value' | translate) + getValueTooltipOnDate(date)
        "
      ></div>
    </div>
    <p class="sales-chart__label">{{ date }}</p>
  </div>
</div>
