<app-dialog-shell
  icon="ph ph-user-plus"
  [heading]="'customer__add__title' | translate"
  [lede]="'customer__add__lede' | translate"
  [submitLabel]="'customer_add__submit' | translate"
  [submitting]="isSubmitting"
  [canSubmit]="customerFormGroup.valid"
  (submitted)="submitForm()"
  (close)="closeDialog()"
>
  <div [formGroup]="customerFormGroup">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ 'customer__add__name' | translate }}</mat-label>
      <input matInput type="text" formControlName="name" autocomplete="off" placeholder="Ex. Abdul" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ 'customer__add__address' | translate }}</mat-label>
      <textarea matInput rows="2" formControlName="address" placeholder="Ex. Jalan Raya ABC no. XX"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ 'customer__add__npwp' | translate }}</mat-label>
      <input matInput type="text" mask="00.000.000.0-000.000" formControlName="npwp" autocomplete="off" placeholder="Ex. XX.XXX.XXX.X-XXX.XXX" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ 'customer__add__pic' | translate }}</mat-label>
      <input matInput type="text" formControlName="pic" autocomplete="off" placeholder="Ex. bapak Abdul" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ 'customer__add__phone_number' | translate }}</mat-label>
      <input matInput type="tel" inputmode="tel" formControlName="phone_number" autocomplete="off" placeholder="Ex. 08XXXXXXXXXX" />
    </mat-form-field>
  </div>
</app-dialog-shell>
