<h2 mat-dialog-title>{{ "customer__add__title" | translate }}</h2>
<form [formGroup]="customerFormGroup" (ngSubmit)="submitForm()">
  <mat-dialog-content>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{ "customer__add__name" | translate }}</mat-label>
      <input
        [disabled]="isSubmitting"
        matInput
        placeholder="Ex. Abdul"
        type="text"
        formControlName="name"
      />
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{ "customer__add__address" | translate }}</mat-label>
      <textarea
        [disabled]="isSubmitting"
        matInput
        placeholder="Ex. Jalan Raya ABC no. XX"
        type="text"
        formControlName="address"
      ></textarea>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{ "customer__add__npwp" | translate }}</mat-label>
      <input
        [disabled]="isSubmitting"
        matInput
        mask="00.000.000.0-000.000"
        placeholder="Ex. XX.XXX.XXX.X-XXX.XXX"
        type="text"
        formControlName="npwp"
      />
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{ "customer__add__pic" | translate }}</mat-label>
      <input
        [disabled]="isSubmitting"
        matInput
        placeholder="Ex. bapak Abdul"
        type="text"
        formControlName="pic"
      />
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{ "customer__add__phone_number" | translate }}</mat-label>
      <input
        [disabled]="isSubmitting"
        matInput
        placeholder="Ex. 08XXX XXXX XXXX"
        type="text"
        formControlName="phone_number"
      />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      type="submit"
      mat-stroked-button
      color="primary"
      (click)="submitForm()"
      [disabled]="isSubmitting || !customerFormGroup.valid"
    >
      {{ "customer_add__submit" | translate }}
    </button>
  </mat-dialog-actions>
</form>
