.sidenav {
  height: 100%;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.sidenav__menu-wrapper {
  flex-grow: 1;
  overflow-y: auto;
}

.active {
  background-color: #f0f0f0;
}

.mat-mdc-menu-trigger {
  position: absolute;
  top: 0;
  right: -0.5rem;
}

.fixed-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 2170;
  border-radius: 50%;
  background-color: #4285f4;
  outline: none;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fixed-button svg {
  width: 25px;
  height: 25px;
  animation: rotate 3000ms infinite linear;
}

/* Create animation where svg rotates 360 degree clockwise in 200ms duration every 4 seconds */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
