<h2
  mat-dialog-title
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
  cdkDragHandle
  cdkDragBoundary="body"
>
  {{ "purchase-invoice__archive__view__title" | translate }}
</h2>

<mat-dialog-content>
  <form [formGroup]="goodReceiptFormGroup">
    <mat-accordion>
      <mat-expansion-panel
        disabled
        class="mat-elevation-z0"
        hideToggle
        [expanded]="step() === 0"
        (opened)="setStep(0)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ "good-receipt__archive__view__general__title" | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{
                "good-receipt__archive__view__date" | translate
              }}</mat-label>
              <input matInput readonly formControlName="date" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{
                "good-receipt__archive__view__name" | translate
              }}</mat-label>
              <input matInput readonly formControlName="name" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{
                "good-receipt__archive__view__created-by" | translate
              }}</mat-label>
              <input matInput readonly formControlName="createdBy" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{
                "good-receipt__archive__view__created-at" | translate
              }}</mat-label>
              <input matInput readonly formControlName="createdAt" />
            </mat-form-field>

            <button
              mat-stroked-button
              color="primary"
              style="letter-spacing: 0"
              (click)="nextStep()"
            >
              {{ "general__next" | translate }}
            </button>
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{
                "good-receipt__archive__view__supplier" | translate
              }}</mat-label>
              <input matInput readonly formControlName="supplier" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{
                "good-receipt__archive__view__status" | translate
              }}</mat-label>
              <input matInput readonly formControlName="status" />
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel
        disabled
        class="mat-elevation-z0"
        hideToggle
        [expanded]="step() === 1"
        (opened)="setStep(1)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ "good-receipt__archive__view__item__title" | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table data-table">
                <thead>
                  <tr>
                    <th class="text-center" style="width: 200px">
                      {{
                        "good-receipt__archive__view__items__product"
                          | translate
                      }}
                    </th>
                    <th class="text-center" style="width: 200px">
                      {{
                        "good-receipt__archive__view__items__quantity"
                          | translate
                      }}
                    </th>
                    <th class="text-center" style="width: 200px">
                      {{
                        "good-receipt__archive__view__items__price" | translate
                      }}
                    </th>
                    <th class="text-center" style="width: 300px">
                      {{
                        "good-receipt__archive__view__items__discount"
                          | translate
                      }}
                    </th>
                    <th class="text-center" style="width: 200px">
                      {{
                        "good-receipt__archive__view__items__total" | translate
                      }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of t.controls">
                    <td>
                      <p class="mb-0">{{ item.get("reference")?.value }}</p>
                      <p class="text-clamp-1 mb-0">
                        {{ item.get("description")?.value }}
                      </p>
                    </td>
                    <td class="text-center">
                      {{ item.get("quantity")?.value | number : "0.0-2" }}
                      {{ item.get("unit")?.value }}
                    </td>
                    <td class="text-center">
                      Rp.&nbsp;{{ item.get("price")?.value | number : "0.2-2" }}
                    </td>
                    <td
                      class="text-center"
                      [matTooltip]="
                        getDiscountPercentage(
                          item.get('discount')?.value,
                          item.get('price')?.value
                        )
                      "
                    >
                      Rp.&nbsp;{{
                        item.get("discount")?.value | number : "0.2-2"
                      }}
                    </td>
                    <td class="text-center">
                      Rp.&nbsp;{{
                        item.get("price")?.value * item.get("quantity")?.value
                          | number : "0.2-2"
                      }}
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="3"></td>
                    <td class="text-center">
                      {{ "good-receipt__archive__view__subtotal" | translate }}
                    </td>
                    <td class="text-center" colspan="2">
                      Rp.&nbsp;{{ subtotal | number : "0.2-2" }}
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3"></td>
                    <td class="text-center">
                      {{ "good-receipt__archive__view__discount" | translate }}
                    </td>
                    <td class="text-center" colspan="2">
                      Rp.&nbsp;{{
                        goodReceiptFormGroup.get("discount")?.value
                          | number : "0.2-2"
                      }}
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3"></td>
                    <td class="text-center">
                      {{ "good-receipt__archive__view__total" | translate }}
                    </td>
                    <td class="text-center" colspan="2">
                      Rp.&nbsp;{{
                        subtotal - goodReceiptFormGroup.get("discount")?.value
                          | number : "0.2-2"
                      }}
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>

            <div class="d-flex">
              <button
                type="button"
                mat-stroked-button
                color="warn"
                class="me-3"
                style="letter-spacing: 0"
                (click)="prevStep()"
              >
                {{ "general__previous" | translate }}
              </button>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button color="primary" mat-dialog-close>
    {{ "general__close" | translate }}
  </button>
</mat-dialog-actions>
