<app-feature-background />
<div class="container">
  <div class="row">
    <div class="col-12">
      <app-feature-header
        [title]="'product__brand__title' | translate"
        [help]="'product__brand__help' | translate"
        [isBackAvailable]="true"
      ></app-feature-header>
      <div class="dashboard-card">
        <app-feature-search
          [addButton]="true"
          route="product-brand"
          [page]="page"
          [pageSize]="pageSize"
          [enable]="true"
          (onChange)="onUpdateData($event)"
          (onLoadingChange)="onUpdateLoadingStatus($event)"
          (updatePage)="onUpdatePage()"
          (onNewQuery)="page = 1"
        ></app-feature-search>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">
                  {{ "product__brand__name" | translate }}
                </th>
                <th class="text-center">
                  {{ "product__brand__created-by" | translate }}
                </th>
                <th class="text-center">
                  {{ "product__brand__created-at" | translate }}
                </th>
              </tr>
            </thead>
            <tbody *ngIf="!isLoading && dataSource.length > 0">
              <tr *ngFor="let item of dataSource" [matMenuTriggerFor]="menu">
                <td class="text-center">{{ item.name }}</td>
                <td class="text-center">
                  {{ item.user?.name }}
                </td>
                <td class="text-center">
                  {{ item.created_at | date : "dd MMMM yyyy" }}
                </td>
                <mat-menu #menu="matMenu">
                  <button (click)="openDialog('edit', item.id)" mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>{{ "product__brand__update" | translate }}</span>
                  </button>
                  <button
                    [class.delete-button]="item.can_delete"
                    mat-menu-item
                    (click)="openDialog('delete', item.id)"
                    [disabled]="!item.can_delete"
                  >
                    <mat-icon>delete</mat-icon>
                    <span>{{ "product__brand__delete" | translate }}</span>
                  </button>
                </mat-menu>
              </tr>
            </tbody>
            <tbody *ngIf="!isLoading && dataSource.length == 0">
              <tr>
                <td colspan="3">
                  <empty-table />
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="isLoading">
              <tr>
                <td colspan="3" class="text-center">
                  <mat-spinner id="spinner"></mat-spinner>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <mat-paginator
          class="paginator"
          [pageIndex]="page - 1"
          [length]="dataCount"
          [pageSize]="10"
          (page)="changePage($event)"
          aria-label="Select page"
          [pageSize]="pageSize"
          [pageSizeOptions]="[10, 25, 50]"
          *ngIf="!isLoading"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
