<div class="sales-chart__wrapper">
  <div class="sales-chart__bar__wrapper" *ngFor="let date of dates">
    <div class="sales-chart__bar">
      <div
        class="sales-chart__bar-2"
        [style.height.%]="(getValueOnDate(date) * 100) / maxValue"
        [matTooltip]="getValueTooltipOnDate(date)"
      ></div>
      <div
        class="sales-chart__bar-1"
        [style.height.%]="(getCountOnDate(date) * 100) / maxCount"
        [matTooltip]="getCountTooltipOnDate(date)"
      ></div>
    </div>
    <p class="sales-chart__label">{{ date }}</p>
  </div>
</div>
