<h2 mat-dialog-title>{{ "user__edit__title" | translate }}</h2>
<form [formGroup]="userFormGroup" (ngSubmit)="submitForm()">
  <mat-dialog-content>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{ "user__edit__name" | translate }}</mat-label>
      <input
        [disabled]="isSubmitting"
        matInput
        placeholder="Ex. Abdul"
        type="text"
        formControlName="name"
      />
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{ "user__edit__username" | translate }}</mat-label>
      <input
        [disabled]="isSubmitting"
        matInput
        placeholder="Ex. abdul"
        type="text"
        formControlName="username"
      />
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{ "user__edit__nik" | translate }}</mat-label>
      <input
        [disabled]="isSubmitting"
        matInput
        placeholder="Ex. XXXXXXXXXXXXXXXX"
        type="text"
        formControlName="nik"
        minlength="16"
        maxlength="16"
      />
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{ "user__edit__role" | translate }}</mat-label>
      <mat-select
        [disabled]="isLoading"
        placeholder="Ex. Administrator"
        type="text"
        formControlName="role"
      >
        <mat-option *ngFor="let role of roles" [value]="role.id">
          {{ role.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="userFormGroup.get('role')?.value == 6" class="w-100">
      <app-autocomplete-search
        label="Add type"
        placeholder="Select from our product types collection"
        [selected]="false"
        routeName="product-type"
        [reset]="true"
        (onSelectData)="onSelectType($event)"
      ></app-autocomplete-search>
      <mat-chip-set class="mt-0 mb-3 w-50">
        <mat-chip
          selected
          *ngFor="let item of t.controls; index as i"
          (click)="onRemoveType(i)"
          >{{ item.get("product_type_name")?.value }}</mat-chip
        >
      </mat-chip-set>
      <div *ngIf="userFormGroup.errors?.['userSalesRequired']">
        {{ "user__edit__role__error" | translate }}
      </div>
    </div>

    <button
      mat-stroked-button
      type="button"
      color="warn"
      style="letter-spacing: 0"
      (click)="delete()"
      [disabled]="!isAdministrator || isSubmitting || isLoading"
    >
      <mat-icon>warning</mat-icon>
      <span>{{ "user__edit__delete" | translate }}</span>
    </button>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-stroked-button color="warn" type="button" mat-dialog-close>
      {{ "general__close" | translate }}
    </button>
    <button
      mat-stroked-button
      color="primary"
      type="submit"
      [disabled]="!userFormGroup.valid || isSubmitting"
    >
      {{ "general__submit" | translate }}
    </button>
  </mat-dialog-actions>
</form>

<!-- <div class="view-panel-wrapper">
  <div class="view-panel-backdrop" (click)="close()"></div>
  <div class="view-panel" [@panelAnimation]="panelState">
    <div class="row-action">
      <h2 mat-dialog-title>Create user</h2>
      <div class="d-flex">
        <button mat-icon-button (click)="enlarge()">
          <mat-icon *ngIf="panelState != 'enlarged'">open_in_full</mat-icon>
          <mat-icon *ngIf="panelState == 'enlarged'">close_fullscreen</mat-icon>
        </button>
        <button mat-icon-button (click)="close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div class="view-panel-content" id="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <form [formGroup]="userFormGroup" (ngSubmit)="submitForm()"></form>
          </div>
        </div>
      </div>
    </div>
    <div class="shortcuts">
      <div class="shortcut-key">
        <span class="shortcut-key-label">ESC</span>
        <span class="shortcut-key-function">{{
          "general__back" | translate
        }}</span>
      </div>
      <div class="shortcut-key">
        <span class="shortcut-key-label">F</span>
        <span class="shortcut-key-function">{{
          "general__toggle-full-screen" | translate
        }}</span>
      </div>
    </div>
    <div class="actions">
      <button
        class="action-button mx-1"
        (click)="submitForm()"
        [disabled]="!userFormGroup.valid || isSubmitting"
      >
        Save
      </button>
    </div>
  </div>
</div> -->
