<app-dialog-shell
  icon="ph ph-user-gear"
  [heading]="'user__edit__title' | translate"
  [lede]="'user__edit__lede' | translate"
  [submitLabel]="'general__submit' | translate"
  [submitting]="isSubmitting"
  [canSubmit]="bolehSimpan"
  (submitted)="submitForm()"
  (close)="closeDialog()"
>
  <div [formGroup]="userFormGroup" *ngIf="!isLoading">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ "user__edit__name" | translate }}</mat-label>
      <input matInput type="text" formControlName="name" autocomplete="off" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ "user__edit__nik" | translate }}</mat-label>
      <input
        matInput
        type="text"
        mask="0000000000000000"
        formControlName="nik"
        autocomplete="off"
        inputmode="numeric"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ "user__edit__username" | translate }}</mat-label>
      <input
        matInput
        type="text"
        formControlName="username"
        autocomplete="off"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ "user__edit__role" | translate }}</mat-label>
      <mat-select formControlName="role">
        <mat-option *ngFor="let peran of roles" [value]="peran.id">
          {{ peran.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Khusus Gudang: minimal satu tipe produk. -->
    <ng-container *ngIf="peranGudang">
      <p class="petunjuk">
        <i class="ph ph-info" aria-hidden="true"></i>
        {{ "user__edit__role__error" | translate }}
      </p>

      <app-combo-search
        [label]="'user__create__types' | translate"
        inputId="user-edit-types"
        route="product-type"
        [disabled]="isSubmitting"
        [kosongkanSetelahPilih]="true"
        [terpakai]="idTipeTerpilih"
        (pick)="onSelectType($event)"
      />

      <div class="chip-kumpul" *ngIf="tipeTerpilih.length > 0">
        <span
          class="saringan__kapsul"
          *ngFor="let tipe of tipeTerpilih; index as i"
        >
          {{ tipe.name }}
          <button
            type="button"
            (click)="onRemoveType(i)"
            [attr.aria-label]="'general__delete' | translate"
          >
            <i class="ph ph-x" aria-hidden="true"></i>
          </button>
        </span>
      </div>
    </ng-container>

    <!-- Penghapusan hanya untuk administrator. -->
    <button
      type="button"
      class="btn btn--bahaya btn--blok"
      [disabled]="!isAdministrator || isSubmitting"
      (click)="delete()"
    >
      <i class="ph ph-trash" aria-hidden="true"></i>
      {{ "user__edit__delete" | translate }}
    </button>
  </div>
</app-dialog-shell>
