<app-feature-background />
<div class="container">
  <div class="row">
    <div class="col-12">
      <app-feature-header
        title="Company"
        help="Here you can manage your companies."
        [isBackAvailable]="true"
      ></app-feature-header>
      <div class="dashboard-card">
        <app-feature-search
          [addButton]="true"
          route="company"
          [page]="page"
          [enable]="true"
          (onChange)="onUpdateData($event)"
          (onLoadingChange)="onUpdateLoadingStatus($event)"
          (updatePage)="onUpdatePage()"
          (onNewQuery)="page = 1"
        ></app-feature-search>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Address</th>
                <th class="text-center">NPWP</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody *ngIf="!isLoading && dataSource.length > 0">
              <tr *ngFor="let item of dataSource">
                <td class="text-center">{{ item.name }}</td>
                <td class="text-center">
                  <span class="text-clamp-2">
                    {{ item.address }}
                  </span>
                </td>
                <td class="text-center">
                  <span *ngIf="item.npwp != null">{{
                    item.npwp | mask : "00.000.000.0-000.000"
                  }}</span>
                  <span *ngIf="item.npwp == null">N/A</span>
                </td>
                <td class="text-center">
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button (click)="openDialog('edit', item.id)" mat-menu-item>
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button>
                    <button
                      [class.delete-button]="item.can_delete"
                      mat-menu-item
                      (click)="openDialog('delete', item.id)"
                      [disabled]="!item.can_delete"
                    >
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!isLoading && dataSource.length == 0">
              <tr>
                <td colspan="4">
                  <empty-table />
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="isLoading">
              <tr>
                <td colspan="4" class="text-center">
                  <mat-spinner id="spinner"></mat-spinner>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <mat-paginator
          class="paginator"
          [pageIndex]="page - 1"
          [length]="dataCount"
          [pageSize]="10"
          (page)="changePage($event)"
          aria-label="Select page"
          hidePageSize="true"
          *ngIf="!isLoading"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
