<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 col-12">
      <h1>Tracking</h1>
      <p>Please enter One Time Code on customer's bill printout</p>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>One Time Code (OTC)</mat-label>
          <input
            matInput
            formControlName="otc"
            type="text"
            required
            oninput="this.value = this.value.toUpperCase()"
            maxlength="6"
          />
        </mat-form-field>
        <div class="button-wrapper">
          <button type="submit" [disabled]="formGroup.invalid || isLoading">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
