<app-dialog-shell
  icon="ph ph-tag-simple"
  [heading]="'product__brand__add__title' | translate"
  [lede]="'product__brand__add__lede' | translate"
  [submitLabel]="'product__brand__add__submit' | translate"
  [submitting]="isSubmitting"
  [canSubmit]="brandFormGroup.valid"
  (submitted)="submitForm()"
  (close)="closeDialog()"
>
  <div [formGroup]="brandFormGroup">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ 'product__brand__name' | translate }}</mat-label>
      <input matInput type="text" formControlName="name" autocomplete="off" [attr.placeholder]="'product__brand__add__example' | translate" />
    </mat-form-field>
  </div>
</app-dialog-shell>
