<app-dialog-shell
  icon="ph ph-tag-simple"
  [heading]="'product__brand__add__title' | translate"
  [lede]="'product__brand__add__lede' | translate"
  [submitLabel]="'product__brand__add__submit' | translate"
  [submitting]="isSubmitting"
  [canSubmit]="brandFormGroup.valid"
  (submitted)="submitForm()"
  (close)="closeDialog()"
>
  <div class="medan" [formGroup]="brandFormGroup">
    <label for="nb-name">{{ 'product__brand__name' | translate }}</label>
    <input
      id="nb-name"
      class="medan__input"
      type="text"
      formControlName="name"
      autocomplete="off"
      [attr.placeholder]="'product__brand__add__example' | translate"
    />
  </div>
</app-dialog-shell>
