<app-list-page
  [heading]="'purchase-invoice__queue__title' | translate"
  [lede]="'purchase-invoice__queue__lede' | translate"
  [showSearch]="false"
  [showPageSize]="false"
  [keyword]="''"
  [page]="page"
  [pageSize]="pageSize"
  [total]="dataCount"
  [loading]="isLoading"
  (pageChange)="bukaHalaman($event)"
  (refresh)="ambilData()"
>
  <ng-container aksi>
    <button type="button" class="aksi-hantu" (click)="keArsip()">
      <i class="ph ph-archive" aria-hidden="true"></i>
      {{ 'purchase-invoice__archive' | translate }}
    </button>
  </ng-container>

  <table class="tabel">
    <thead>
      <tr>
        <th>{{ 'good-receipt__archive__date' | translate }}</th>
        <th>{{ 'good-receipt__archive__name' | translate }}</th>
        <th>{{ 'good-receipt__archive__supplier' | translate }}</th>
        <th>{{ 'good-receipt__archive__company' | translate }}</th>
        <th>{{ 'purchase-invoice__confirm__created-by' | translate }}</th>
        <th class="tabel__aksi-kepala">
          <span class="sr-only">{{ 'general__actions' | translate }}</span>
        </th>
      </tr>
    </thead>

    <tbody *ngIf="!isLoading && dataSource.length > 0">
      <tr *ngFor="let item of dataSource; trackBy: lacakPenerimaan">
        <td class="tabel__tanggal">{{ item.date | date: 'dd MMMM yyyy' }}</td>
        <td class="tabel__utama">{{ item.name }}</td>
        <td>
          <div class="sel-entitas">
            <span class="avatar-inisial" aria-hidden="true">{{ inisial(item.supplier?.name) }}</span>
            <span class="sel-entitas__teks">
              <span class="sel-entitas__utama">{{ item.supplier?.name }}</span>
            </span>
          </div>
        </td>
        <td class="tabel__redup">{{ item.company?.name }}</td>
        <td class="tabel__redup">
          {{ item.user_good_receipt_code_created_byTouser?.name }}
        </td>
        <td class="tabel__aksi">
          <button
            type="button"
            class="tabel__aksi-btn"
            (click)="lengkapi(item)"
            [title]="'purchase-invoice__queue__complete' | translate"
            [attr.aria-label]="'purchase-invoice__queue__complete' | translate"
          >
            <i class="ph ph-file-plus" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>

    <tbody *ngIf="isLoading">
      <tr>
        <td colspan="6" class="tabel__pesan">
          {{ 'general__loading' | translate }}
        </td>
      </tr>
    </tbody>

    <tbody *ngIf="!isLoading && dataSource.length === 0">
      <tr>
        <td colspan="6">
          <app-tabel-kosong
            ikon="ph-file-dashed"
            [judul]="'purchase-invoice__queue__empty__title' | translate"
            [penjelasan]="'purchase-invoice__queue__empty__desc' | translate"
            [kataKunci]="''"
          />
        </td>
      </tr>
    </tbody>
  </table>
</app-list-page>
