.button {
  background-color: #0b57d0;
  font-family: "Poppins", sans-serif;
  font-size: 0.85rem;
  padding: 0.25rem 0.75rem;
  outline: none;
  border: none;
  color: white;
  font-weight: 400;
  border-radius: 12px;
}
