<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2>
        {{ "product__title" | translate }} /
        {{ "product__title__create" | translate }}
      </h2>
      <mat-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="itemFormGroup">
          <ng-template matStepLabel>General </ng-template>

          <form [formGroup]="itemFormGroup">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{ "product__add__reference" | translate }}</mat-label>
              <input
                [disabled]="isSubmitting"
                matInput
                placeholder="Ex. MLT-9-G"
                type="text"
                formControlName="reference"
              />
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{
                "product__add__description" | translate
              }}</mat-label>
              <textarea
                [disabled]="isSubmitting"
                matInput
                placeholder="Ex. Multiplek 9mm Garuda"
                type="text"
                formControlName="description"
              ></textarea>
            </mat-form-field>
            <app-autocomplete-search
              [label]="'product__add__brand' | translate"
              routeName="product-brand"
              (onSelectData)="onSelectBrand($event)"
              (onUnselectData)="onUnselectBrand()"
              [selected]="itemFormGroup.controls['brand'].valid"
            ></app-autocomplete-search>

            <app-autocomplete-search
              [label]="'product__add__type' | translate"
              routeName="product-type"
              (onSelectData)="onSelectType($event)"
              (onUnselectData)="onUnselectType()"
              [selected]="itemFormGroup.controls['type'].valid"
            ></app-autocomplete-search>

            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{
                "product__add__minimum-stock" | translate
              }}</mat-label>
              <input
                [disabled]="isSubmitting"
                matInput
                placeholder="Ex. 200"
                type="text"
                mask="separator.2"
                thousandSeparator=" "
                formControlName="minimum_stock"
              />
            </mat-form-field>

            <button
              mat-button
              type="button"
              matStepperNext
              [disabled]="itemFormGroup.invalid || isSubmitting"
            >
              {{ "product__add__next" | translate }}
            </button>
          </form>
        </mat-step>
        <mat-step [stepControl]="unitFormGroup">
          <ng-template matStepLabel>Unit </ng-template>

          <form [formGroup]="unitFormGroup">
            <button
              mat-stroked-button
              color="primary"
              class="mb-2"
              type="button"
              style="letter-spacing: 0"
              (click)="addUnit()"
            >
              Add unit
            </button>
            <div class="table-responsive">
              <table class="table mb-2">
                <thead>
                  <tr>
                    <th>{{ "product__add__unit-table" | translate }}</th>
                    <th>{{ "product__add__conversion-table" | translate }}</th>
                    <th>{{ "product__add__price-table" | translate }}</th>
                    <th>{{ "product__add__discount-table" | translate }}</th>
                    <th>{{ "product__add__action-table" | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label>{{
                          "product__add__unit-table" | translate
                        }}</mat-label>
                        <input
                          [disabled]="isSubmitting"
                          matInput
                          placeholder="Ex. Lembar"
                          type="text"
                          formControlName="unit"
                        />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label>{{
                          "product__add__conversion-table" | translate
                        }}</mat-label>
                        <input matInput value="1" readonly />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label>{{
                          "product__add__price-table" | translate
                        }}</mat-label>
                        <input
                          [disabled]="isSubmitting"
                          matInput
                          type="text"
                          mask="separator.2"
                          thousandSeparator=" "
                          placeholder="Ex. 8 000"
                          formControlName="price"
                        />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label>{{
                          "product__add__discount-table" | translate
                        }}</mat-label>
                        <input
                          matInput
                          type="text"
                          mask="separator.2"
                          thousandSeparator=" "
                          placeholder="Ex. 800"
                          formControlName="discount"
                        />
                      </mat-form-field>
                    </td>
                    <td></td>
                  </tr>
                  <tr
                    [formGroup]="getFormAt(i)"
                    *ngFor="let item of t.controls; index as i"
                  >
                    <td>
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Unit name</mat-label>
                        <input
                          [disabled]="isSubmitting"
                          matInput
                          placeholder="Ex. Lembar"
                          type="text"
                          formControlName="unit"
                        />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Conversion</mat-label>
                        <input
                          [disabled]="isSubmitting"
                          matInput
                          placeholder="Ex. 100"
                          mask="separator.2"
                          thousandSeparator=" "
                          type="text"
                          formControlName="conversion"
                        />
                        <mat-hint
                          >1 {{ item.get("unit")?.value }} -
                          {{
                            item.get("conversion")?.value ?? 1
                              | number : "0.0-2"
                          }}
                          {{ unitFormGroup.controls["unit"].value }} (
                          Rp.&nbsp;{{
                            unitFormGroup.controls["price"].value *
                              (item.get("conversion")?.value ?? 1)
                              | number : "0.2-2"
                          }}
                          )</mat-hint
                        >
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Price</mat-label>
                        <input
                          matInput
                          type="text"
                          mask="separator.2"
                          thousandSeparator=" "
                          placeholder="Ex. 8 000"
                          formControlName="price"
                        />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Discount</mat-label>
                        <input
                          matInput
                          type="text"
                          mask="separator.2"
                          thousandSeparator=" "
                          placeholder="Ex. 800"
                          formControlName="discount"
                        />
                      </mat-form-field>
                    </td>
                    <td>
                      <button (click)="removeUnit(i)" mat-icon-button>
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="d-flex">
              <button
                mat-button
                type="button"
                matStepperNext
                [disabled]="unitFormGroup.invalid || isSubmitting"
              >
                {{ "product__add__next" | translate }}
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="unitFormGroup">
          <ng-template matStepLabel>Purchase </ng-template>

          <form [formGroup]="unitFormGroup">
            <table class="table w-100 mb-2">
              <thead>
                <tr>
                  <th>Unit</th>
                  <th>Conversion</th>
                  <th>Price</th>
                  <th>Discount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="align-middle">
                    {{ unitFormGroup.controls["unit"].value }}
                  </td>
                  <td class="align-middle">1</td>
                  <td class="align-middle">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Price</mat-label>
                      <input
                        matInput
                        type="text"
                        mask="separator.2"
                        thousandSeparator=" "
                        placeholder="Ex. 8 000"
                        formControlName="item_purchase_price"
                      />
                    </mat-form-field>
                  </td>
                  <td class="align-middle">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Discount</mat-label>
                      <input
                        matInput
                        type="text"
                        mask="separator.2"
                        thousandSeparator=" "
                        placeholder="Ex. 800"
                        formControlName="item_purchase_discount"
                      />
                    </mat-form-field>
                  </td>
                </tr>
                <tr
                  [formGroup]="getFormAt(i)"
                  *ngFor="let item of t.controls; index as i"
                >
                  <td class="align-middle">
                    {{ item.get("unit")?.value }}
                  </td>
                  <td class="align-middle">
                    {{ item.get("conversion")?.value ?? 0 | number : "0.0-2" }}
                  </td>
                  <td class="align-middle">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Price</mat-label>
                      <input
                        matInput
                        type="text"
                        mask="separator.2"
                        thousandSeparator=" "
                        placeholder="Ex. 8 000"
                        formControlName="purchase_price"
                      />
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Discount</mat-label>
                      <input
                        matInput
                        type="text"
                        mask="separator.2"
                        thousandSeparator=" "
                        placeholder="Ex. 800"
                        formControlName="purchase_discount"
                      />
                    </mat-form-field>
                  </td>
                </tr>
              </tbody>
            </table>
            <button
              mat-raised-button
              color="primary"
              type="button"
              (click)="submitForm()"
              [disabled]="
                isSubmitting ||
                !unitFormGroup.valid ||
                !itemFormGroup.valid ||
                !itemFormGroup.valid
              "
            >
              {{ "product__add__submit" | translate }}
            </button>
          </form>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
</div>
