.adjustment-case-confirm-view__wrapper {
  height: 100vh;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: white;
}

.adjustment-case__action-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}
