<div class="top-navigation__wrapper" [ngClass]="{ white: isHidden }">
  <div class="top-navigation__brand">
    <img
      (click)="navigate()"
      src="/assets/images/logo.png"
      width="30"
      height="30"
      alt="logo"
      class="mr-2"
    />
    <p (click)="navigate()">Profil Indah</p>
  </div>
  <div class="top-navigation__utility">
    <app-dark-mode-selector />
    <app-accent-selector />
    <app-language-selector />
    <app-circle-avatar
      *ngIf="!isAvatarAvailable"
      [name]="name"
      [size]="40"
      [matTooltip]="'Logged in as ' + name"
      (click)="isProfileOpened = true"
    />
    <app-avatar
      *ngIf="isAvatarAvailable"
      [width]="40"
      [top]="avatar.top"
      [accessories]="avatar.accessories"
      [circle]="avatar.circle"
      [color]="avatar.color"
      [eyebrows]="avatar.eyebrows"
      [eyes]="avatar.eyes"
      [mouth]="avatar.mouth"
      [clothes]="avatar.clothes"
      [matTooltip]="'Logged in as ' + name"
      (click)="isProfileOpened = true"
    />
  </div>
</div>

<app-profile-dialog
  [name]="name"
  (onClose)="isProfileOpened = false"
  (onLogoutButtonPressed)="logout()"
  (onProfileButtonPressed)="navigateToProfile()"
  *ngIf="isProfileOpened"
/>
