<app-dialog-shell
  icon="ph ph-truck"
  [heading]="'supplier__add__title' | translate"
  [lede]="'supplier__add__lede' | translate"
  [submitLabel]="'supplier__add__submit' | translate"
  [submitting]="isSubmitting"
  [canSubmit]="supplierFormGroup.valid"
  (submitted)="submitForm()"
  (close)="closeDialog()"
>
  <div [formGroup]="supplierFormGroup">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ 'supplier__add__name' | translate }}</mat-label>
      <input matInput type="text" formControlName="name" maxlength="100" autocomplete="off" placeholder="Ex. PT Sumber Makmur" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ 'supplier__add__address' | translate }}</mat-label>
      <textarea matInput rows="2" formControlName="address" placeholder="Ex. Jalan Raya ABC no. XX"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ 'supplier__add__npwp' | translate }}</mat-label>
      <input matInput type="text" mask="00.000.000.0-000.000" formControlName="npwp" autocomplete="off" placeholder="Ex. XX.XXX.XXX.X-XXX.XXX" />
    </mat-form-field>
  </div>
</app-dialog-shell>
