<app-dynamic-dialog (backgroundClick)="closeDialog()" [isOpened]="isOpened">
  <div class="create-dialog">
    <app-dialog-header
      [title]="'promotion__add__title' | translate"
      (onDialogClose)="closeDialog()"
    >
    </app-dialog-header>
    <div class="create-dialog__content">
      <form [formGroup]="promotionFormGroup">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{ "promotion__add__name" | translate }}</mat-label>
          <input
            [disabled]="isSubmitting"
            matInput
            type="text"
            formControlName="name"
          />
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{ "promotion__add__description" | translate }}</mat-label>
          <textarea
            [disabled]="isSubmitting"
            matInput
            type="text"
            formControlName="description"
          ></textarea>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{ "promotion__add__start-date" | translate }}</mat-label>
          <input
            [disabled]="isSubmitting"
            matInput
            formControlName="start_date"
            [matDatepicker]="startpicker"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="startpicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #startpicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{ "promotion__add__end-date" | translate }}</mat-label>
          <input
            [disabled]="isSubmitting"
            matInput
            formControlName="end_date"
            [matDatepicker]="picker"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{ "promotion__add__target" | translate }}</mat-label>
          <input
            [disabled]="isSubmitting"
            matInput
            type="text"
            formControlName="target"
            mask="separator.2"
            thousandSeparator=" "
            placeholder="Ex. 800"
          />
        </mat-form-field>

        <app-autocomplete-search
          [label]="'promotion__add__brand' | translate"
          routeName="product-brand"
          (onSelectData)="onSelectBrand($event)"
          (onUnselectData)="onUnselectBrand()"
          [selected]="promotionFormGroup.controls['brand'].valid"
        ></app-autocomplete-search>

        <app-autocomplete-search
          [label]="'promotion__add__supplier' | translate"
          routeName="supplier"
          (onSelectData)="onSelectSupplier($event)"
          (onUnselectData)="onUnselectSupplier()"
          [selected]="promotionFormGroup.controls['supplier'].valid"
        ></app-autocomplete-search>

        <button class="button" type="button" (click)="addRule()">
          {{ "promotion__add__add-rule" | translate }}
        </button>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>{{ "promotion__add__rule" | translate }}</th>
                <th>{{ "promotion__add__rule-type" | translate }}</th>
                <th>{{ "promotion__add__rule-value" | translate }}</th>
                <th>{{ "promotion__add__action" | translate }}</th>
              </tr>
            </thead>
            <tbody *ngIf="t.controls.length == 0">
              <tr>
                <td colspan="4">
                  <empty-table />
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="t.controls.length > 0">
              <tr *ngFor="let control of t.controls; let i = index">
                <td>{{ i + 1 }}</td>
                <td>
                  <span [ngSwitch]="control.value.rule">
                    <span *ngSwitchCase="'Starts with'">{{
                      "promotion__add__rule-starts-with" | translate
                    }}</span>
                    <span *ngSwitchCase="'Ends with'">
                      {{ "promotion__add__rule-ends-with" | translate }}
                    </span>
                    <span *ngSwitchCase="'Contains'">
                      {{ "promotion__add__rule-contains" | translate }}
                    </span>
                    <span *ngSwitchCase="'Does not start with'">{{
                      "promotion__add__rule-not-starts-with" | translate
                    }}</span>
                    <span *ngSwitchCase="'Does not end with'">{{
                      "promotion__add__rule-not-ends-with" | translate
                    }}</span>
                    <span *ngSwitchCase="'Does not contain'">
                      {{ "promotion__add__rule-not-contains" | translate }}
                    </span>
                  </span>
                </td>
                <td>{{ control.value.value }}</td>
                <td>
                  <button
                    mat-icon-button
                    (click)="removeRule(i)"
                    [disabled]="isSubmitting"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
    <div class="create-dialog__footer">
      <button
        type="button"
        class="next-button"
        (click)="submitForm()"
        [disabled]="isSubmitting || !promotionFormGroup.valid"
      >
        {{ "promotion__add__submit" | translate }}
      </button>
    </div>
  </div>
</app-dynamic-dialog>
