<h2 mat-dialog-title>{{ "product__update__title" | translate }}</h2>
<form [formGroup]="itemFormGroup" (ngSubmit)="submitForm()">
  <mat-dialog-content>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{ "product__add__reference" | translate }}</mat-label>
      <input
        [disabled]="isSubmitting"
        matInput
        placeholder="Ex. MLT-9-G"
        type="text"
        formControlName="reference"
      />
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{ "product__add__description" | translate }}</mat-label>
      <textarea
        [disabled]="isSubmitting"
        matInput
        placeholder="Ex. Multiplek 9mm Garuda"
        type="text"
        formControlName="description"
      ></textarea>
    </mat-form-field>
    <app-autocomplete-search
      [label]="'product__add__brand' | translate"
      [defaultValue]="itemFormGroup.controls['product_brand_name'].value"
      [selected]="itemFormGroup.controls['product_brand_id'].valid"
      routeName="product-brand"
      (onSelectData)="onSelectBrand($event)"
      (onUnselectData)="onUnselectBrand()"
      [selected]="itemFormGroup.controls['product_brand_id'].valid"
    ></app-autocomplete-search>

    <app-autocomplete-search
      [label]="'product__add__type' | translate"
      [defaultValue]="itemFormGroup.controls['product_type_name'].value"
      [selected]="itemFormGroup.controls['product_type_id'].valid"
      routeName="product-type"
      (onSelectData)="onSelectType($event)"
      (onUnselectData)="onUnselectType()"
      [selected]="itemFormGroup.controls['product_type_id'].valid"
    ></app-autocomplete-search>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{ "product__add__unit" | translate }}</mat-label>
      <input
        [disabled]="isSubmitting"
        matInput
        placeholder="Ex. pcs"
        type="text"
        formControlName="unit"
      />
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{ "product__add__minimum-stock" | translate }}</mat-label>
      <input
        [disabled]="isSubmitting"
        matInput
        placeholder="Ex. 200"
        type="text"
        mask="separator.2"
        thousandSeparator=" "
        formControlName="minimum_stock"
      />
    </mat-form-field>

    <button
      mat-stroked-button
      color="warn"
      (click)="openDeleteConfirmation()"
      type="button"
      [disabled]="
        !itemFormGroup.controls['can_delete'].value || !isAdministrator
      "
    >
      <mat-icon>warning</mat-icon>
      <span>{{ "product__update__delete" | translate }}</span>
    </button>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      type="submit"
      mat-stroked-button
      color="primary"
      style="letter-spacing: 0"
      (click)="submitForm()"
      [disabled]="isSubmitting || !itemFormGroup.valid"
    >
      {{ "product__add__submit" | translate }}
    </button>
  </mat-dialog-actions>
</form>
