<app-feature-background />
<div class="container">
  <div class="row">
    <div class="col-12">
      <app-feature-header
        [title]="'stock-list__title' | translate"
        [help]="null"
        [isBackAvailable]="true"
      ></app-feature-header>
      <div class="dashboard-card">
        <app-feature-search
          [addButton]="false"
          route="product-stock"
          [page]="page"
          [enable]="true"
          (onChange)="onUpdateData($event)"
          (onLoadingChange)="onUpdateLoadingStatus($event)"
          (updatePage)="onUpdatePage()"
          (onNewQuery)="page = 1"
        ></app-feature-search>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">
                  {{ "product__reference" | translate }}
                </th>
                <th class="text-center">
                  {{ "product__description" | translate }}
                </th>
                <th class="text-center">{{ "product__brand" | translate }}</th>
                <th class="text-center">{{ "product__stock" | translate }}</th>
                <th class="text-center">{{ "product__action" | translate }}</th>
              </tr>
            </thead>
            <tbody *ngIf="isLoading">
              <tr>
                <td colspan="5">
                  <div class="py-4">
                    <mat-spinner id="spinner"></mat-spinner>
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!isLoading && dataSource.length == 0">
              <tr>
                <td colspan="5">
                  <empty-table />
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!isLoading && dataSource.length > 0">
              <tr *ngFor="let item of dataSource">
                <td class="text-center">{{ item.reference }}</td>
                <td class="text-center">
                  <div class="text-clamp-2">
                    {{ item.description }}
                  </div>
                </td>
                <td class="text-center">{{ item.product_brand.name }}</td>
                <td class="text-center">
                  {{ item.product_stock.stock | number : "0.0-2" }}&nbsp;{{
                    item.unit
                  }}
                </td>
                <td class="text-nowrap text-center">
                  <button mat-icon-button (click)="openDialog('card', item.id)">
                    <mat-icon>view_list</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    (click)="openDialog('mutation', item.id)"
                  >
                    <mat-icon>swap_horiz</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <mat-paginator
          class="paginator"
          [pageIndex]="page - 1"
          [length]="dataCount"
          [pageSize]="10"
          (page)="changePage($event)"
          aria-label="Select page"
          hidePageSize="true"
          *ngIf="!isLoading"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
