<h2
  mat-dialog-title
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
  cdkDragHandle
  cdkDragBoundary="body"
>
  {{ "purchase-invoice__archive__view__title" | translate }}
</h2>

<mat-dialog-content>
  <form [formGroup]="goodReceiptFormGroup">
    <mat-accordion>
      <mat-expansion-panel
        disabled
        class="mat-elevation-z0"
        hideToggle
        [expanded]="step() === 0"
        (opened)="setStep(0)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ "good-receipt__archive__view__general__title" | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{
                "good-receipt__archive__view__date" | translate
              }}</mat-label>
              <input matInput readonly formControlName="date" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{
                "good-receipt__archive__view__name" | translate
              }}</mat-label>
              <input matInput readonly formControlName="name" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{
                "good-receipt__archive__view__invoice-name" | translate
              }}</mat-label>
              <input matInput readonly formControlName="invoice_name" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{
                "good-receipt__archive__view__tax-invoice-name" | translate
              }}</mat-label>
              <input matInput readonly formControlName="faktur" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{
                "good-receipt__archive__view__created-by" | translate
              }}</mat-label>
              <input matInput readonly formControlName="createdBy" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{
                "good-receipt__archive__view__created-at" | translate
              }}</mat-label>
              <input matInput readonly formControlName="createdAt" />
            </mat-form-field>

            <button
              mat-stroked-button
              color="primary"
              style="letter-spacing: 0"
              (click)="nextStep()"
            >
              {{ "general__next" | translate }}
            </button>
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{
                "good-receipt__archive__view__supplier" | translate
              }}</mat-label>
              <input matInput readonly formControlName="supplier" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{
                "good-receipt__archive__view__status" | translate
              }}</mat-label>
              <input matInput readonly formControlName="status" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{
                "good-receipt__archive__view__created-by" | translate
              }}</mat-label>
              <input matInput readonly formControlName="createdBy" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{
                "good-receipt__archive__view__created-at" | translate
              }}</mat-label>
              <input matInput readonly formControlName="createdAt" />
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel
        disabled
        class="mat-elevation-z0"
        hideToggle
        [expanded]="step() === 1"
        (opened)="setStep(1)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ "good-receipt__archive__view__item__title" | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table data-table">
                <thead>
                  <tr>
                    <th class="text-center" style="width: 200px">
                      {{
                        "good-receipt__archive__view__items__product"
                          | translate
                      }}
                    </th>
                    <th class="text-center" style="width: 200px">
                      {{
                        "good-receipt__archive__view__items__quantity"
                          | translate
                      }}
                    </th>
                    <th class="text-center" style="width: 200px">
                      {{
                        "good-receipt__archive__view__items__price" | translate
                      }}
                    </th>
                    <th class="text-center" style="width: 300px">
                      {{
                        "good-receipt__archive__view__items__discount"
                          | translate
                      }}
                    </th>
                    <th class="text-center" style="width: 200px">
                      {{
                        "good-receipt__archive__view__items__total" | translate
                      }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of t.controls">
                    <td>
                      <p class="mb-0">{{ item.get("reference")?.value }}</p>
                      <p class="text-clamp-1 mb-0">
                        {{ item.get("description")?.value }}
                      </p>
                    </td>
                    <td class="text-center">
                      {{ item.get("quantity")?.value | number : "0.0-2" }}
                      {{ item.get("unit")?.value }}
                    </td>
                    <td class="text-center">
                      Rp.&nbsp;{{ item.get("price")?.value | number : "0.2-2" }}
                    </td>
                    <td
                      class="text-center"
                      [matTooltip]="
                        getDiscountPercentage(
                          item.get('discount')?.value,
                          item.get('price')?.value
                        )
                      "
                    >
                      Rp.&nbsp;{{
                        item.get("discount")?.value | number : "0.2-2"
                      }}
                    </td>
                    <td class="text-center">
                      Rp.&nbsp;{{
                        item.get("price")?.value * item.get("quantity")?.value
                          | number : "0.2-2"
                      }}
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="3"></td>
                    <td class="text-center">
                      {{ "good-receipt__archive__view__subtotal" | translate }}
                    </td>
                    <td class="text-center" colspan="2">
                      Rp.&nbsp;{{ subtotal | number : "0.2-2" }}
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3"></td>
                    <td class="text-center">
                      {{ "good-receipt__archive__view__discount" | translate }}
                    </td>
                    <td class="text-center" colspan="2">
                      Rp.&nbsp;{{
                        goodReceiptFormGroup.get("discount")?.value
                          | number : "0.2-2"
                      }}
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3"></td>
                    <td class="text-center">
                      {{ "good-receipt__archive__view__total" | translate }}
                    </td>
                    <td class="text-center" colspan="2">
                      Rp.&nbsp;{{
                        subtotal - goodReceiptFormGroup.get("discount")?.value
                          | number : "0.2-2"
                      }}
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>

            <div class="d-flex">
              <button
                type="button"
                mat-stroked-button
                color="warn"
                class="me-3"
                style="letter-spacing: 0"
                (click)="prevStep()"
              >
                {{ "general__previous" | translate }}
              </button>

              <button
                type="button"
                mat-stroked-button
                color="primary"
                style="letter-spacing: 0"
                [matMenuTriggerFor]="menu"
                [disabled]="isSubmitting"
              >
                {{ "sales-deposit__archive__other-actions" | translate }}
                <mat-icon>menu</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button
                  mat-menu-item
                  [disabled]="!canDelete || isSubmitting"
                  (click)="delete()"
                >
                  <mat-icon>delete</mat-icon>
                  <span>{{ "good-receipt__archive__delete" | translate }}</span>
                </button>
                <button
                  mat-menu-item
                  (click)="updatePurchaseInvoice()"
                  [disabled]="!canEdit || isSubmitting"
                >
                  <mat-icon>edit</mat-icon>
                  <span>{{ "good-receipt__archive__edit" | translate }}</span>
                </button>
              </mat-menu>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button color="primary" mat-dialog-close>
    {{ "general__close" | translate }}
  </button>
</mat-dialog-actions>
<!-- 
<label>{{ "purchase-invoice__archive__view__date" | translate }}</label>
<p>{{ data.date | date : "dd MMMM yyyy" }}</p>

<label>{{ "purchase-invoice__archive__view__name" | translate }}</label>
<p>{{ data.name }}</p>

<label>{{ "purchase-invoice__archive__view__tax-invoice" | translate }}</label>
<p>{{ data.faktur == null ? "N/A" : data.faktur }}</p>

<label>{{ "purchase-invoice__archive__view__supplier" | translate }}</label>
<p>{{ data.good_receipt_code.supplier.name }}</p>

<label>{{ "purchase-invoice__archive__view__company" | translate }}</label>
<p>{{ data.good_receipt_code.company.name }}</p>

<label>{{ "purchase-invoice__archive__view__status" | translate }}</label>
<p>
  {{ data.is_delete ? "Deleted" : data.is_confirm ? "Confirmed" : "Pending" }}
</p>

<label>{{ "purchase-invoice__archive__view__created-by" | translate }}</label>
<div class="created-by__wrapper">
  <p>
    {{ data.user_purchase_invoice_created_byTouser.name }}&nbsp;<app-avatar
      *ngIf="data.user_purchase_invoice_created_byTouser.user_avatar != null"
      [top]="data.user_purchase_invoice_created_byTouser.user_avatar.top"
      [accessories]="
        data.user_purchase_invoice_created_byTouser.user_avatar.accessories
      "
      [eyes]="data.user_purchase_invoice_created_byTouser.user_avatar.eyes"
      [mouth]="data.user_purchase_invoice_created_byTouser.user_avatar.mouth"
      [clothes]="
        data.user_purchase_invoice_created_byTouser.user_avatar.clothes
      "
      [eyebrows]="
        data.user_purchase_invoice_created_byTouser.user_avatar.eyebrows
      "
      [circle]="data.user_purchase_invoice_created_byTouser.user_avatar.circle"
      [color]="data.user_purchase_invoice_created_byTouser.user_avatar.color"
      [width]="25"
    />
  </p>
</div>

<label>{{ "purchase-invoice__archive__view__created-at" | translate }}</label>
<p>{{ data.created_at | date : "dd/MM/yyyy H:m:s" }}</p>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th rowspan="2">
          {{ "purchase-invoice__archive__view__items_item" | translate }}
        </th>
        <th rowspan="2" class="text-center">
          {{ "purchase-invoice__archive__view__items_quantity" | translate }}
        </th>
        <th rowspan="2" class="text-center">
          {{ "purchase-invoice__archive__view__items_price" | translate }}
        </th>
        <th colspan="2" class="text-center">
          {{ "purchase-invoice__archive__view__items_discount" | translate }}
        </th>
        <th rowspan="2" class="text-center">
          {{ "purchase-invoice__archive__view__items_total" | translate }}
        </th>
      </tr>
      <tr>
        <th class="text-center">Rp.</th>
        <th class="text-center">%</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data.good_receipt_code.good_receipt">
        <td>
          <p>{{ item.item.reference }}</p>
          <p class="text-clamp-1">{{ item.item.description }}</p>
        </td>
        <td class="text-center">
          {{ item.quantity | number : "0.0-2" }}
          {{ item.item_unit == null ? item.item.unit : item.item_unit.unit }}
        </td>
        <td class="text-center">Rp. {{ item.price | number : "0.2-2" }}</td>
        <td class="text-center">Rp. {{ item.discount | number : "0.2-2" }}</td>
        <td class="text-center">
          {{
            item.price == 0
              ? 0
              : ((item.discount / item.price) * 100 | number : "0.0-2")
          }}&nbsp;%
        </td>
        <td class="text-center">
          Rp.
          {{ (item.price - item.discount) * item.quantity | number : "0.2-2" }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3"></td>
        <td class="text-center">
          {{ "purchase-invoice__archive__view__subtotal" | translate }}
        </td>
        <td class="text-center" colspan="2">
          Rp. {{ data.subTotal | number : "0.2-2" }}
        </td>
      </tr>
      <tr>
        <td colspan="3"></td>
        <td class="text-center">
          {{ "purchase-invoice__archive__view__discount" | translate }}
        </td>
        <td class="text-center" colspan="2">
          Rp. {{ data.discount | number : "0.2-2" }}
        </td>
      </tr>
      <tr>
        <td colspan="3"></td>
        <td class="text-center">
          {{ "purchase-invoice__archive__view__total" | translate }}
        </td>
        <td class="text-center" colspan="2">
          Rp. {{ data.total | number : "0.2-2" }}
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<label>Actions</label>
<div *ngIf="!isAdministrator">There is no other action available.</div>
<div class="purchase-invoice__action-wrapper" *ngIf="isAdministrator">
  <button
    class="purchase-invoice__action"
    (click)="openDeleteConfirmation()"
    [disabled]="data.is_delete"
  >
    <mat-icon>delete</mat-icon>
    {{ "purchase-invoice__archive__view__delete" | translate }}
  </button>
  <button
    class="purchase-invoice__action"
    (click)="onEdit()"
    [disabled]="data.is_delete"
  >
    <mat-icon>edit</mat-icon>
    {{ "purchase-invoice__archive__view__edit" | translate }}
  </button>
</div> -->
