tr {
  cursor: pointer;
}

.paginator__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-button {
  position: relative;
  float: none;
}

.icon-display {
  transform: scale(0.75);
  opacity: 0.2;
}

.icon-display.asc {
  transform: rotate(180deg) scale(0.75);
  opacity: 1;
}

.icon-display.desc {
  transform: rotate(0) scale(0.75);
  opacity: 1;
}
